{% extends "_meta/walkthrough_page.html" %}
{% block hero %}
    {{ ss("worstpuzzle", "I'm being teased.") }}
{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <div class="notification is-info is-light">
        An important note: All of the review up to this page was written on my <em>second</em>
        playthrough; the content from the Gym Puzzle onwards was written on my <em>third</em>
        playthrough. The writing style and the in-game frame style will change as a result.
        <br/>
        (October 2023 vs Feb 2024).
    </div>

    <p>
        Welcome to {{ mp(290, "Route One") }}!
    </p>

    <p>
        Maybe it's just me, but finally stepping out into a numbered route after ten hours was a
        massive relief. We're finally out of that fucking city! The game starts to get really
        good from here on out, with the Pokémon choice opening up widely.
        It's a shame the writing is bad for the next two gyms. And there's the infamous Route 1 
        puzzle.
    </p>

    <p>
        Oh yeah, and also there's fucking Fern.
    </p>

    {{ trainer_battle_content("Fern", "Hotshot", 25) }}

    <div class="notification is-info is-light">
        Route 1 is made up of several (five? I think) conjoined maps that transition smoothly
        into each other. This means you may get different weather on one of the sub-maps if you
        try changing it with the Pokégear.
    </div>

    <p>
        The first thing you might notice is that there's a lot of ledges here stopping your
        progress. Don't worry about that; go all the way to the left of Route 1 to find the Nature
        Centre, which acts as a Pokécentre. Inside, you can find <em>TM162 Metronome</em>, as well
        as a man offering to trade you a {{ sp("TYROGUE") }} for a {{ sp("DUNSPARCE") }} on the
        roof (yikes). At the very south of Route 1 is the Grand Gate... which is only open on
        this side. If you didn't get the Item Finder early in the Slums, you can also get it by
        talking to a scientist inside the Nature Centre.
    </p>

    {{ ss("stuck", "Shit, I'm stuck!") }}

    <p>
        If you go all the way down... you're softlocked. Your save is ruined. Thanks for playing
        Pokémon Reborn! The rest of the game isn't finished yet; come back in a few years.
    </p>

    <p>
        This is a joke. Here's the gimmick of Route 1; as you would have noticed, there are
        varying Bouffalant and Tauros battling eachother throughout the route. If you talk to one,
        and defeat it, the opposite Pokémon will be available for you; you can ride the Tauros
        whereas the Bouffalant will charge off in the opposite direction and break things. Tauros
        can hop over ledges but can't go into really tall grass. Defeat a Bouffalant to ride the
        Tauros up again to where the Nature Centre is; you may need to dismount (with X, on my
        Pro Controller) to have a Bouffalant move logs for you.
    </p>

    <a href="#fucking-honey" id="#fucking-honey">
        <h2 class="subtitle">Another Bad Puzzle</h2>
    </a>

    <p>
        I fucking lied. We're not out of that city yet. We're going back to it to do two things.
        First, make your way up to North Obsidia Ward and go down the staircase again. On the bottom
        floor, where you originally found the random Karate Guy who was smashing rocks, instead
        you will find a {{ sp("TINKATUFF") }}. Smash the rocks behind it to impress it, then talk to it to
        enter a battle where you can catch it.
    </p>

    {{ ss("herbalextract") }}

    <div class="notification is-success is-light">
        You don't have to do this yet. You'll get a sticker for the Department Store,
        and either a Heracross or a Pinsir, but since you can't get to floor 9 or 11 yet (and you
        can't for a long time) this is the most skippable sticker, and the Pokémon are available
        later anyway. <br/>
        If you want access to the Penthouse and a few TMs, you're gonna have to do this
        puzzle eventually. Best get it out of the way now.
    </div>

    <div class="notification is-warning is-light">
        Reading this again six months later... the screenshots aren't exactly the clearest. Sorry.
        You want to read the text directly below each screenshot.
    </div>

    <p>
        Next, you need to buy like fifty honey from the flower shop in Lapis Ward. Once you've
        done that, you can travel ALL the way back to Route 1 to begin solving this fucking puzzle.
    </p>

    <details style="padding-bottom: 1rem">
        <summary style="margin-bottom: 1rem">
            FULL Route 1 Heracross Sticker puzzle solution
        </summary>

        <div class="notification is-info is-light">
            At any point, you can reset the Tauros/Bouffalant pairs by stepping in one of those
            dancing red+white flower pairs. <br/>

            A lot of this info is taken straight from the Wikia article. Not linking it because
            fuck Wikia, but thanks to the Wikia contributors for the original guide. No skips here,
            either, because at least this logically feels like a puzzle.
        </div>

        {{ ss("heracross/fuckthispuzzle1") }}

        <p>
            Start at the left-most entrance to South Aventurine Woods. Defeat the Tauros to have
            the Bouffalant move the log out of the way, then go to the right to find another pair
            and ride the Tauros down.
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle2") }}

        <p>
            Use the Tauros to jump up the ledge below the entrance (not the one in this screenshot)
            and walk across the tall grass. Walk up to this tree and interact with it to put honey
            over the bark, attracting a pair of fighting Heracross/Pinsir. Fight the <i>Pinsir</i>
            to have the Heracross destroy the spiderweb next to you.
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle3") }}

        <p>
            Next, you need to make your way to the second left-most entry to South Aventurine
            Woods. Ride a Tauros up the lower ledge and walk all the way to the right through
            the tall grass to find the tree shown above. Put honey on it and kill the Pinsir to
            break the spider web next to you.
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle4") }}

        <p>
            Breaking that spider web lets you come up to this ledge with the Tauros; dismount it
            here and walk through the tall grass to find <i>another</i> honey tree slightly to
            the left. Slather it and then defeat the <i>Heracross</i> in order for the Pinsir to
            break the log immediately to your right.
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle5") }}

        <p>
            Make your way to the third exit. Directly above you is a Tauros/Bouffalant pair;
            defeat the Tauros so that the Bouffalant will move the log otherwise blocking you out
            of the way.
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle6") }}

        <p>
            Return to the second exit once again whilst riding a Tauros. If you go all the way down
            to where the ledges are on this photo, you can jump over the lower ledge to find a
            <em>Link Stone</em>; then jump up over the right ledge and dismount the Tauros. Walk
            through both patches of Tall Grass here to find another tree; slathering honey over it
            and defeating the Heracross will have the log destroyed.
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle7") }}

        <p>
            Take yet another Tauros down through the third exit (where the previously destroyed log
            was). Travel all the way down and jump up this ledge, which has another honey-containing
            tree; defeat the Pinsir for Heracross to break the spider web. Return to Route 1 and
            make your way to the fourth exit to South Aventurine Woods. (You can stay on Tauros
            during this, so you don't need to remount one to get into the fourth exit.)
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle8") }}

        <p>
            There's a few honey trees here, but the goal is actually the very lowest one - right
            next to the exit to Tanzan Mountain. Honeyify the tree, then have the Pinsir destroy
            the log.
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle9") }}

        <p>
            Go up north to find the immediate next tree. Slather it, then defeat one of each bug
            to destroy both the web and the log (for an extra TM). Going down through the new
            path of tall grass, make the Pinsir destroy the tiny baby log next to you.
        </p>

        <p>
            (The screeenshot doesn't show the spider web, but it's right below the tree normally.)
        </p>

        <p>
            Almost done, I promise!
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle10") }}

        <p>
            Immediately above the fifth exit is another Bouffalant/Tauros pair. Kill the Tauros
            to have the Bouffalant move the log blocking the fifth exit. Reset the area or find
            another Tauros to help you up the ledge in the fifth exit and walk through the patch
            of tall grass to find another honey tree. Have Pinsir destroy the log.
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle11") }}

        <p>
            Trek up Route 1 to the <em>right-most</em> (not the sixth left exit!) and have
            Bouffalant remove the log immediately blocking you. Through the tall grass is a honey
            tree next to both a spiderweb and a log, so use the honey twice to destroy both.
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle12") }}

        <p>
            This finally opens up the path from the third left-most entrance into a clearing that
            was otherwise inaccessible due to a combination of ledges and tall grass. Grab a Tauros
            and enter the third left-most entrance, following the newly opened path.
        </p>

        <p>
            You can find <em>TM51 Steel Wing</em> here as well as the <em>Vileplumite</em>.
        </p>

        <hr/>

        {{ ss("heracross/fuckthispuzzle13") }}
        <p>
            When you reach this junction, travel to the left to find the <em>Tech Glasses</em>
            dropped on the floor (how did they get here?). Continue to the right to make it to the
            Bug Grove.
        </p>

        {{ ss("heracross/FUCKINGFINALLY") }}

        <p>
            In this grove, you'll find <em>TM40 Aerial Ace</em>, as well as two battling
            Heracross/Pinsir (again). Defeat the <strong>opposite one to the one you want</strong>;
            the surviving Pokémon will then join you. If you want to catch the other, you'll need
            to wait until after you've gotten your 13th badge.
        </p>

        {{ ss("heracross/KILLYOURSELF", "Fuck you, four eyed cunt!") }}

        <p>
            After doing all this, return to the binoclard bastard in the Nature Centre to get
            the 8th Department Store sticker. I hope it was worth the effort.
        </p>
    </details>

    <a href="#north-aventurine" id="north-aventurine">
        <h2 class="subtitle">North Aventurine Woods</h2>
    </a>

    <p>
        After solving the South Aventurine Woods puzzle, we turn our focus to the north of the
        woods. There's nowhere near as much content here, but nevertheless. These woods will be
        the death of me.
    </p>

    <details style="padding-bottom: 1rem">
        <summary style="margin-bottom: 1rem">
            North Aventurine Woods puzzles
        </summary>

        {{ ss("northwoods/northwoods1") }}

        <p>
            The first and second entrance to North Aventurine Woods just connect to eachother,
            so we'll skip them. Instead, go to the third entrance from the left; directly below is
            a Tauros/Bouffalant pair. Defeat the Tauros to have the Bouffalant move the log inside
            the third entrance upwards.
        </p>

        {{ ss("northwoods/north2") }}

        <p>
            Hop on a Tauros and travel up the first ledge only; then dismount it and walk through
            the tall grass to the left. Honey the tree and have the Heracross destroy the spider
            web; you can then ride a Tauros up both ledges to some more tall grass, whereupon
            you will find the entrance to {{ mp(387, "Celestine Mountain B2F") }}.
        </p>

        {{ ss("northwoods/mountain") }}

        <p>
            If you proceed along the ice puzzle here, you will find <em>TM22 Smack Down</em> on a
            ledge further up, as well as an <em>Ice Stone</em>. There's an icy strength boulder
            preventing you from going anywhere else.
        </p>

        {{ ss("northwoods/north3") }}

        <p>
            The right-sided tall grass has another honeyable tree available; defeat both Pokemon
            here to access <em>TM86 Grass Knot</em> on the left side, and <em>TM188 Pollen Puff</em>
            as well as a <em>Leaf Stone</em> on the right side.
        </p>

        {{ ss("northwoods/north4") }}

        <p>
            Next, make your way over to the 4th exit from the left. Directly below is a Bouffalant
            that you can use to remove the log blocking you; this will open up an area to the left
            that leads to a house. Go inside the house to find... hundreds of Pikachu, as well as
            an NPC on the upper floor who will heal your Pokemon. You can also find the
            <em>Pikanium-Z</em> behind said house.
        </p>

        {{ ss("northwoods/north5") }}

        <p>
            To the right of the entrance is another unhoneyed tree; you can have the Pinsir
            destroy the log if you want but there's obviously nothing there. Behind the spider
            web is... another log. The fifth and sixth entrances both connect to eachother,
            so go to the 7th entrance instead (the very last exit).
        </p>

        {{ ss("northwoods/north6") }}

        <p>
            Bouffalant, log, etc. The left tall grass will lead you to the honey tree you can use
            to destroy the log blocking the route from the 4th exit; if you then ride a Tauros up
            over the ledge you then get access to a small grove with some mints. (This is also
            a mandatory post-game area, so it's good to have it accessible.)
        </p>

        {{ ss("northwoods/north7") }}

        <p>
            In the tall grass on the right of the final exit, you can make it to another honey tree.
            Have the Pinsir destroy the log you moved out of the way to access a small set of
            (fishable) pools. This is the only place you can find {{ sp("DEWPIDER") }} or
            {{ sp("ARAQUANID") }} until the postgame. If you come back here after you get the 13th
            badge, you can get the <em>Sharpedonite</em> too.
        </p>
    </details>

    {{ ss("incelfern", "kys") }}

    <p>
        After solving all of those puzzles, at the very far right of Route One is a fork in the
        road. The north leads to Agate City, which is currently inaccessible as there is nobody to
        man the gates. To the south is {{ mp(292, 'Vanhanen "Labyrinth"')}}, the location of your next gym.
    </p>

    <a href="vanhanen" id="vanhanen">
        <h2 class="subtitle">Vanhanen Labyrinth</h2>
    </a>

    <div class="notification is-warning">
        Some of the writing in this section is comically bad, even by Reborn's standards. 
    </div>

    <p>
        The "maze" here is nothing special; your goal is to the bottom left. You can look at the
        map overview provided above if you get lost. You can find the <em>Hypnotite</em> just
        before the exit to the castle as well. Once you get to the castle, you find Luna,
        the mystery runaway from Spinel Town. Talk to her for a cutscene, whereupon Cain will
        arrive... and you have another mandatory battle.
    </p>

    <div class="notification is-info is-light">
        The field effect is here is... very interesting, to put it lightly. It's based around the
        positions of your Pokémon in your party, and each one gets a different boost based on it.
        If you're having trouble with one of the battles here, I recommend switching the order
        of your Pokémon in your party around and trying again. Check the field notes for the
        specifics.
    </div>

    {{ trainer_battle_content("Cain", "Cain", 25) }}

    <p>
        After beating him, Radomus (if you held text skip - he's the gym leader) receives a message
        from El (the guy who abducted Bennett in Spinel Town!) that his annoying weird Gardevoir
        has been captured (hopefully, killed too!) so I guess it's up to you to go rescue it.
    </p>

    <p>
        Your next destination is Reborn City (again). You don't have to go the long way around 
        through the railnet; instead, go through Route 1 to the Grand Gate. (I'm not sure exactly
        why everyone decided this was the best place to go, given that Reborn City isn't accessible
        through here yet, but nevertheless!) Go into the side room with the broken cogwheel 
        and once the cutscene finishes talk to Radomus to jump down into the cave below.
    </p>

    {{ ss("stairs", "Oops, my portrait mysteriously changed.") }}

    <p>
        The tile sprites don't make it obvious, but there <i>are</i> stairs here that you can follow
        down all the way to a ladder; then follow the path all the way to a cave entry at the
        right side of the new map. Eventually, you'll make it to a tunnel that's behind the sealed
        door you saw earlier in chapter 5. Move forwards to make it to the {{ mp(305, "Citae Astrae") }}!!
    </p>

    <details style="padding-bottom: 1rem">
        <summary>SPOILERS for End Game content! Don't open until then! I am not joking!</summary>

        If you've played the game before, this seemingly opens up a bit of a plot hole. Lin needed 
        to get behind the gate to the Citae Astrae to let her child self out... but the Citae
        Astrae has always been accessible, as evidenced by Elias going down the hole. So why does
        she still have the PULSE Abra at the end of the game? Yeah, she's just playing with you
        for a lot of the game... but that seems like a bit of a waste? <br/><br/>

        Additionally, the timeline doesn't match up. I think it's meant to be that the events with
        Lin at the orphanage took place around two years ago, but Adrienne has been stuck down
        the Citae Astrae for ten years, when Reborn became ruined.
    </details>

    <p>
        Once you've finished the cutscenes, you can make it up through the Citae Astrae using
        your Ruby Ring on the ruby door.
    </p>

    {{ ss("pgtips", "MONKEHHH") }}

    <p>
        Talk to all of the statues to activate the teleporter. Chimchar is Dark, Monferno is Dark,
        and Infernape is Light. If you go back into the Amethyst teleporter, you can get an
        <em>EXP Candy XL</em>. Proceed upwards to talk to Adrienn, saying you won't give away
        your Ruby Ring. (This is a silly cutscene.) Use the ring again and solve the second riddle:
        Tyrogue is Light, Hitmonchan is Dark, Hitmonlee is Light, and Hitmontop is Dark. Walk
        forwards and talk to El for more cutscene; <strong>Side with Radomus during this cutscene
        as it's another part of the route requirements.</strong> You'll be drawn into a battle
        with El, and this is a <em>hard as hell</em> battle.
    </p>

    {{ trainer_battle_content("El", "EL", 20) }}

    <p>
        After defeating him, choose not to exit with everyone else and walk back down to the bottom
        of the tunnel to get a small easter egg that only really makes sense if you've beat the
        game before. Once you return to the surface, you find that the Grand Gates are now
        open, finally giving you an easier route between Route 1 and Reborn City. Go to the Coral
        Ward for another cutscene, and then agree with Cain to teleport back to the Castle.
    </p>

    <div class="notification is-info is-light">
        After the events at the Citae Prisma, a raging Tauros will appear at both ends of Route 1
        which will teleport you between them.
    </div>

    <h2 class="subtitle">Psychic Gym</h2>

    {{ ss("gymfight", "AAA!") }}

    <p>
        This one is a doozy. The goal is to put the Black King in checkmate by moving all of your
        pieces. Cute puzzle, but very unintuitive. The room on the left will show you what the
        fancy Pokémon pieces actually correspond to as it isn't immediately clear. If you don't
        know anything about chess, the pieces will also explain which each piece does in a game.
    </p>

    <p>
        Luckily, I know things about chess, so this is a solution to all of the puzzles. If you
        get stuck, you can leave and re-enter the room to reeset the pposition of all the pieces. 
        The controls here are a bit terrible, so here's a guide:
    </p>

    <ul>
        <li>
            All pieces except the Bishop and Pawn are pushed into place by walking up to them in the 
            direction you wish and pressing A.
        </li>
        <li>
            The <i>Bishop</i> is pushed by either pressing it from its left/right sides and pressing
            up/down, or pressing it from its top/bottom sides and pressing left/right. It moves in
            the combination direction of <code>(side, button)</code>.
        </li>
        <li>
            Pawns can only move straight upwards.
        </li>
        <li>
            If you want to do this the easy way, recreate the board in the <a href="https://lichess.org/editor/8/8/8/8/8/8/8/8_w_-_-_0_1?color=white">
            Lichess Editor</a> and move the pieces around until the "Continue from Here" button is
            disabled.
        </li>
    </ul>

    <h3 class="subtitle">Checkmate #1</h3>

    <p>
        Your pieces are a <i>king</i> and a <i>rook</i>.
    </p>

    <details style="padding-bottom: 1rem;">
        <summary>Solution for the first puzzle</summary>

        {{ ss("checkmate1", "The second easiest, after King + Queen checkmates.") }}

        <p>
            This is a simple checkmate; box the black king in with your king and then place the 
            rook immediately below it.
        </p>

    </details>

    <h3 class="subtitle">Checkmate #2</h3>

    <p>
        Your pieces are a rook, a knight, and a bishop. The problem is that your pieces can
        be captured by Black's pieces too, so the King needs to be in check multiple times.
        Additionally, the bishop is on the black squares so it can't move onto the white ones.
    </p>

    <p>
        You also need to consider that you can't maneuver your pieces around to the right side of
        the chessboard properly, which presents an additional challenge.
    </p>

    <details style="padding-bottom: 1rem">
        <summary>Solution for the second puzzle</summary>

        {{ ss("checkmate2", "This one took me a while to see.")}}

        <p>(Sorry, I forgot to take an in-game screenshot. Take this one in its place.)</p>

        <p>
            The rook needs to be at the top to place the King in check, but it also needs to not
            be on a square that can be captured by the queen instantly. The bishop can't be 
            manuevered to the right side, so it needs to protect the square immediately below
            the king. Finally, the knight can be slotted in next to the black knight to protect the
            two diagonal squares that the king can move to.
        </p>
    </details>

    <h3 class="subtitle">Checkmate #3</h3>

    <p>
        There's a LOT of pieces here, but the solution is deceptively simple.
    </p>

    <details style="padding-bottom: 1rem">
        <summary>Solution for the third puzzle</summary>

        {{ ss("checkmate3", "I love smothered mates.")}}

        <p>
            If you're even slightly good at chess, you see that King in the corner and immediately
            recognised this is a <i>smothered mate</i> situation. The problem is you need two knights
            but you only have one.
        </p>

        <p>
            If you move the second to right most pawn up to the top of the board, you can promote
            it into a knight. From there, you can move both of your knights into position to achieve
            checkmate. Make sure not to accidentally softlock yourself by putting the knights next
            to a piece so you can't move it. You'll have to reset the room again.
        </p>
    </details>

    <h3 class="subtitle">Checkmate #4</h3>

    <p>
        The Rule of 3 sadly doesn't apply here. There's a lot of noise in this puzzle that you'll
        need to tune out to win.
    </p>

    <details style="padding-bottom: 1rem">
        <summary>Solution for the fourth puzzle</summary>

        {{ ss("checkmate4")}}

        <p>
            Like the second puzzle, the difficulty here comes from manuevering your pieces around. 
            You need to get something that can block the top-right most square but you can't get 
            your knights into position.
        </p>

        <p>
            The bishop's odd movement comes in handy here; the pawn can promote into a bishop
            on the that can be moved into position covering the top left square and the square
            in front of the king. Next, one of your knights needs to be manuvered into the gap
            above the pawn on the E rank to block off all of the squares directly diagonally to
            the king.
        </p>

        <p>
            Next, your white bishop needs to go below the black knight on the D rank to actually
            place the king into check. Finally, you need to block check from the black queen
            with one of your knights. 
        </p>
    </details>

    <h3 class="subtitle">The Gym Fight</h3>

    <div class="notification is-warning">
        From here on out, every Gym Leader will have a single Pokémon that doesn't strictly fit their
        type theme, but does fit their game theme instead. Make sure you're prepared for this.
    </div>

    <p>
        Now it's time for the actual boss fight, Radomus. In the gym room there are two random
        vendor NPCs who sell some TMs as well as some battle items.
    </p>

    {{ trainer_battle_content("Radomus", "RADOMUS", 20) }}

    <p>
        This is a hard fight with the field effect, but it's not insurmountable. Kingambit and 
        Gardevoir means you can't cheese it with six dark types. Some tips:
    </p>

    <ul>
        <li>
            His Reuniclus is bulky as hell and will set up Trick Room if it you let it, which playss
            well with his team of slower Pokémon and the focus on HO teams that you're kinda forced
            into by the game, especially with his Kingambit.
        </li>
        <li>
            Sucker Punch is a must. There's lots of Pokémon that have it at this point, but you can
            try out {{ sp("SKUNTANK") }} like I did. Just beware of his Metagross.
        </li>
        <li>
            Nasty Plot gives a +4 boost in this field, not a +2. Don't let his Noctowl get it up,
            and if he does rely on priority moves to avoid getting swept.
        </li>
        <li>
            Fake Out doesn't work in this field! It still has priority but won't cause a flinch.
            It can still be useful to break the automatic sash that all pawns have.
        </li>
        <li>
            His Gardevoir is neutral to Bug and Dark, and will copy your ability. Make sure to 
            dispatch of it quickly.
        </li>
    </ul>

    <p>
        Once you exit the gym, you find that the hypnosis on El didn't really work (the least surprising
        twist ever...) Use the light shard outside and proceed back through the maze. Walk straight
        into the Meteor Grunt to the left instead to find out thatt it's Radomus in disguise. He'll
        show you to a set of stairs that you can use to walk over the hedges to escape the maze.
        Your next destination is once again Reborn City!
    </p>
</div>
{% endblock %}
