{% extends "_meta/walkthrough_page.html" %}
{% set NAME = "03_badge2" %}
{% block title %}Badge 2 Pt 2: Onyx Ward{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <h1 class="has-text-centered">Onyx Ward</h1>

    {{ ss("onyx") }}

    <p>
        Welcome to the Onyx ward - the fifth ward you've travelled through! Only three more to go.
        This ward is relatively barren compared to the other ones; its unlikely you'll visit here
        again after this except for the Move Relearner.
    </p>

    <p>
        Before following either of the paths up, enter the first building - the <em>Onyx Arcade</em>.
        You can talk to the various NPCs here to get some incredibly dated jokes, as well as them
        telling you the PvP services are down. (You can't use them anyway, due to the patch, but
        nevertheless). You also can't play any of the games as you don't have a coin case! But if
        you did, you could talk to the NPCs behind the counters to find that they're giving away
        a small handful of Pokémon - yikes!
    </p>

    <p>
        Back outside, walk to the next building to the left and enter it. You can talk to the NPCs
        inside: as usual, the receptionist tells you to fuck off; the old man grumbles something
        about young people; and the girl asks you to beat up the suspicious daycare people! Okay!
        Go back down through the gate and into Obsidia and make your way to the daycare. You need
        to alternate between talking to the old man and the old woman, where they reveal...
        <i>they were Team Meteor all along!</i>
    </p>

    {{ ss("warehouse") }}

    <p>
        After kicking their shins in, return back to Obsidia Park and re-enter the house at the
        top where you will find a <em>Warehouse Key</em>. This will open all of the locked
        warehouses (minus one) in the Coral Ward. In order, from right to left:
    </p>

    <ol>
        <li>
            The furthest right one will contain a {{ sp("HAPPINY") }}.
        </li>
        <li>
            The middle one will contain... nothing. (Unless you found the hidden Spoink in the slums
            that I forgot to mention, then it will contain a {{ sp("SPOINK") }} hidden in the
            crates.)
        </li>
        <li>
            The left-most lower warehouse next to the decks will contain the <i>real</i> daycare
            couple!
        </li>
        <li>
            Finally, the top-most warehouse will contain... you can't open it. Oh well!
        </li>
    </ol>

    <p>
        Before you return to the daycare to hatch your Slums egg that you put off of hatching,
        return to the girl in the Onyx ward who will give you another mystery egg. This egg is
        completely random and can't be savescummed as its type is determined at the start of the
        game. It'll be one of these: {{ sp("CLAMPERL") }}, {{ sp("FRILLISH") }}, {{ sp("SPHEAL") }},
        {{ sp("SEEL") }}, {{ sp("REMORAID") }}, or {{ sp("CLAUNCHER") }}.
    </p>

    <div class="notification is-info">
        If you get a Clamperl, you can go back to the lady who gave you a Potion in Opal Ward to
        get one of its two evolution items. Again, this is completely random and determined at the
        start of the game.
    </div>

    <a href="#trainer-school" id="trainer-school">
        <h2 class="subtitle">Onyx Trainer School</h2>
    </a>

    <p>
        ♫ GlitchxCity - Pokémon Mystery Dungeon: Sky Tower Remix (vaporwave remix, lol)
    </p>

    {{ ss("school1") }}

    <p>
        When you're ready, head up to the Onyx Trainer School. The right entrance is blocked off
        by some students, so you'll need to enter through the Gym Entrance to the left. Oh no!
        You're blocked off by Incel Fern who - mad about not being asked to help with Obsidia -
        stops you from entering the gym. Plan B: exit the Gym Entrance and go into the
        Regular Entrance. (Very annoyingly, everyone here seems to use Water types. Why?)
    </p>

    <p>
        The way to the right is once again blocked off by a gate, so proceed to the left instead,
        up the stairs to the second floor. Go into the first room next to the stairs and talk to the
        guy inside to get his <em>Coin Case</em>. The second door next to the old man is blocked off,
        and the third door contains a guy playing Minecraft (ft. terrible wordplay) and a set of
        <em>Protective Pads</em> on the ground. Going left again, the next open door has three
        bedrooms with a <em>Quick Claw</em>, <em>TM196 Swift</em>, and <em>TM161 Focus Energy</em>.
        Also, interact with the bookcases to read four very lame diary entries (how fucking old are
        these gym leaders, anyway?)
    </p>

    <p>
        As you go down the stairs to the next gate, there's a computer. Interact with it to unlock
        the gat- sorry, that doesn't work. But you will get a cutscene with a
        <abbr title="my dude you are a gym leader. with like level 80 pokemon.
        WWHY are you at the fucking school? how fucking young is everyone in this game?">
            mysterious stranger
        </abbr> who performs a small bit of AI reinforcement training and unlocks the gate for you.
        You can travel up and to the right to unlock the other gate next to the Pokémon Centre. Talk
        to the girl next to the gate as well to get two terrain seeds.
    </p>

    <p>
        Now, the gym puzzle. Go straight left to clear out all of the trainers to avoid them
        getting in your way during this. Then, go right to left and interact with all of the
        computers, entering the following answers in this order:
    </p>

    <ol>
        <li><strong>TRUE</strong></li>
        <li><strong>20</strong> (or 15, if you go by the books)</li>
        <li><strong>37</strong> (see {{ sp("CUBCHOO") }}</li>
        <li><strong>TRUE</strong></li>
        <li><strong>465</strong> (see {{ sp("CORSOLA") }}</li>
        <li><strong>TRUE</strong></li>
        <li><strong>367</strong></li>
        <li><strong>1</strong> (see {{ sp("STARMIE") }}</li>
    </ol>

    <p>
        With the gym puzzle solved, you can go straight left across both rooms to talk to Fern,
        who will tell you to fuck off. Talk to him again for another battle.
    </p>

    {{ trainer_battle_content("Fern", "Hotshot", 21) }}

    {{ ss("pregym") }}

    <p>
        After breaking his shins, you can then proceed into the gym to battle Florinia. This is
        again a relatively easy gym battle, and probably the last easy one. Some tips:
    </p>

    <ul>
        <li>
            A good fire type will completely dismantle her team, with the exception of Cradily which
            <i>will</i> kill you with Rock Tomb. (Now with a much less illegal moveset!)
        </li>
        <li>
            For dealing with the Cradily, a fighting type (such as the Pancham you found earlier)
            will handily beat it.
        </li>
    </ul>

    {{ trainer_battle_content("Florinia", "FLORINIA", 20) }}

    <p>
        With that, you now have your second badge! Sheldon gives you the TM for Nature Power, then
        Amaria returns to let you know that the Team Meteor guy you've been tracking was seen in
        the Beryl Ward! That said, there's a few things we need to do here in Obsidia still before
        we trot over there.
    </p>

    {{ ss("lilligant!") }}

    <p>
        Set the weather to Sunny. In Obsidia Park there will be a {{ sp("PETILIL") }} in the flower
        field. Talk to it with a Pokésnax in your bag and it will join you.
    </p>

    <div class="notification is-success">
        <strong>Do not evolve it until you get to Apophyll Island.</strong> Evolving it there will
        cause it to evolve into <em>Hisuian Lilligant</em>, one of the best Pokémon in the game.
        Victory Dance is one of if not the best boosting moves, and Leaf Blade/Close Combat/Ice
        Spinner/Drain Punch is an incredible movepool. <strong>This is one of the few Pokémon I
        consider genuinely mandatory to catch.</strong>
    </div>

    {{ ss("psykkkiatrist") }}

    <p>
        Make your way back down to the Obsidia Slums to find a psykkkiatrist harassing a child
        to go to his orphanage. (Spoiler: he becomes a major character later on!) Interact with them
        to get the <em>Itemfinder</em> key item, as well as a medium EXP Candy.
    </p>

    {{ ss("hiddendoor2") }}

    <p>
        If you go down the western lift to B1F, and around to this hidden doorway, you can enter
        the room to find a {{ sp("MAKUHITA") }}.
    </p>

    <p>
        Next stop: The Jasper and Beryl wards!
    </p>

</div>

<div class="columns">
    <div class="column is-one-third has-text-left">
        <a href="/walkthroughs/02_obsidia.html">
            <i class="bi bi-chevron-double-left"></i> Prev: Obsidia Ward
        </a>
    </div>

    <div class="column is-one-third has-text-centered" ></div>

    <div class="column is-one-third has-text-right">
        <a href="/walkthroughs/04_rhidochrine.html">
            Next: Rhidochrine Jungle <i class="bi bi-chevron-double-right"></i>
        </a>
    </div>
</div>

{% endblock %}