{% extends "_meta/walkthrough_page.html" %}

{% block hero %}
{{ ss("hero") }}
{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified has-text-light">
    <p>
        Make your way to the nightclub in North Obsidia Ward. In true West German fashion, all of
        the previous Schutzstaffel members are now members of the government! After a small cutscene
        explaining how the postgame works, you can make your way up to where Arc is and interact 
        with the switch next to the scientist to turn off the stupid lights.
    </p>

    <p>
        If you skipped over it or just didn't pay attention, Reborn's postgame is a glorified
        legendary catching checklist. You have to fight (and, optionally, catch) every single 
        legendary and mythical in the game. Fun. 
    </p>

    <p>
        These are organised into roughly seven tiers, with All-Gen adding some extra events for the
        new Generation 8 and 9 legendaries. Some legendaries have more full quests and some are
        entirely filler. Each tier adds another five levels to your level cap, starting at 105 
        and ending at 150 by the end of the game. To start with the first quest, find the 
        extremely low effort developer self-insert to the right of the main dance floor and 
        talk to her; the area below you is a "map" of where the legendaries appear.
    </p>

    <p>
        In addition, the postgame changes a lot based on if you're on Lin's route or Anna Smiles.
        This guide will cover both whenever relevant. Finally, these quests are ordered roughly in
        a "least annoying" to "most annoying" order; you might want to do them backwards.
    </p>

    <h2 class="subtitle">Cresselia</h2>

    {{ ss("cressgate") }}

    <div class="notification is-light is-success">
        Most New World locales have a set of wild encounters for fully grown Pokémon, or otherwise
        difficult to get Pokémon. You can generally find the appropriate New World map by looking
        at the submaps of a regular map's page. 
    </div>

    <p>
        Strictly speaking, the Cresselia quest is actually tier zero. Make your way to the Vanhanen
        Mansion and enter the New World gate within; you'll get a cutscene explaining the lore 
        about the New World. There's nothing really to "walk through" here; there's only one path
        available and no puzzles here. You'll always rescue Noel and Serra; if you're on the Lin 
        route, you'll also find Anna too (who you can't rescue yet).
    </p>

    <p>
        Once you've rescued everyone available, you can find Anomaly Cresselia in the last area.
        Anomaly Pokémon are essentially teams of six strong Pokémon as well as a legendary that
        you have to beat before you can catch the legendary itself. If you're going for shinies,
        you can save inbetween the Anomaly battle and the legendary itself to reset if you're
        quick enough. Consider cheating in a hundred Reborn balls (this game's version of Master 
        balls).
    </p>

    {{ trainer_battle_content("Cresselia", "CRESSELIA", 0) }}

    <p>
        After beating it, Luna will give you the Gather Cube which can be used for storing Z Cells.
        Choose to accompany her back to the Nightclub to get your first set of Tier 1 quests. Also,
        your level cap has been raised to 110.
    </p>

    <h2 class="subtitle">Filler #1: The Birds</h2>

    {{ ss("fuckyou") }}

    <p>
        Whilst some quests in this postgame have a modicum of effort put into them, some are blatant
        filler for the sake of catching legendaries. At least this time Zapdos is good enough to
        slot into your team. Anyway! The first quest in Tier 1 Postgame is to catch the three
        kantonian legendary birds.
    </p>

    <p>
        This is a short and sweet one; they're not anomalies, so you can immediately find them and 
        catch them at the appropriate locations.
    </p>

    <ul>
        <li>{{ sp("MOLTRES") }} is found at the top of Pyrous Mountain.</li>
        <li>{{ sp("ARTICUNO") }} is found at the very top of Ametrine Mountain.</li>
        <li>{{ sp("ZAPDOS") }} is found in the Yureyu Power Plant.</li>
    </ul>

    <p>
        For their Galarian siblings, whenever Lumi shows up in the nightclub, you can speak to her
        and she'll give you the special item required to change them.
    </p>

    <h2 class="subtitle">Filler #2: The Legendary Beasts</h2>

    {{ ss("buttjoke") }}

    <p>
        The dogs are hanging around on Route 1. This means going through those fucking woods 
        again. It's either that or sodomizing a cow.
    </p>

    <p>
        This time they have actual anomaly teams. {{ sp("ENTEI") }}'s gate is on the roof of the
        Nature Centre.
    </p>

    {{ trainer_battle_content("Entei", "ENTEI", 0) }}

    <p>
        You can find the gate to {{ sp("SUICUNE")}} in South Aventurine Woods, near where you picked
        up the guy's glasses before. Check the walkthrough for Route One for how to get there.
    </p>

    {{ trainer_battle_content("Suicune", "SUICUNE", 0) }}

    <p>
        Finally, you can find the gate to {{ sp("RAIKOU") }} in North Aventurine Woods, near the
        entrance by the hiker. You'll need a Tauros to hop up the ledge to the berry area.
    </p>

    {{ trainer_battle_content("Raikou", "RAIKOU", 0) }}

    <h2 class="subtitle">Filler #3: The Lake Guardians</h2>

    <p>
        This one is pretty low effort. Do you remember how to get into Azurine Lake? If not, go
        back to the Chapter 19 walkthrough (Badge #14, Pt 1: Neo Reborn City) and expand the Klefki
        Quest collapsible. You also need a Pokémon that knows Blizzard (it doesn't have to be good).
    </p>

    <p>
        None of these are anomalies either, so you can immediately catch them. 
    </p>

    <details>
        <summary>Azelf Location</summary>

        {{ ss("azelf1") }}

        <p>
            Find this fisherman. Surf directly upwards.
        </p>

        {{ ss("azelf2") }}

        <p>
            You'll find a sandy area with a single tile open at the top. Enter the inside of the 
            lake and dive down.
        </p>

        {{ ss("azelf3") }}
        <p>
            Surf upwards to this sign. Surface in the area above it, then go straight north to find
            a sandy area where you can find {{ sp("AZELF") }}.
        </p>
    </details>

    <details>
        <summary>Uxie Location</summary>

        {{ ss("uxie1") }}

        <p>
            Surfing straight upwards from just outside Apophyll Academy, you can find this 
            single tile entrance to a sandy area. (It's just next to where you caught Azelf before).
            Surf and then dive down, cross the grassy area directly north, and resurface onto the
            lake.
        </p>

        {{ ss("uxie2") }}
        <p>
            At the northwest of this area, you can find another sandy bit with a single open tile
            to the next river. Enter this, dive, and then surf directly to the right where you will
            find {{ sp("UXIE") }} hanging about underwater.
        </p>
    </details>

    <details>
        <summary>Mesprit Location</summary>

        {{ ss("mesprit1") }}

        <p>
            This one is a bit more involved. Enter the middle part of Azurine Lake from Peridot Ward 
            as I detailed earlier in Chapter 14 and dive down; find this bright spot on the middle
            left part of the loop and resurface. You'll be in a small isolated part of the map; surf
            around to the right side to find a cave entrance.
        </p>

        {{ ss("mesprit2") }}
        <p>
            Inside the cave, there's a few waterfall areas; the first floor has some rapid water 
            that you can't cross. Nuke a wild Pokémon <em>whilst surfing</em> with Blizzard to 
            freeze over the ice, and then slide into the cave where you will find {{ sp("MESPRIT") }}.
        </p>

        <p>
            You can also find <em>TM57 Brutal Swing</em> hiding behind a Level 100 Pyukumuku.
        </p>
    </details>

    <h2 class="subtitle">The Golems</h2>

    {{ ss("regigate") }}

    <p>
        This one is an actual puzzle! Shame about how bad it is. The New World gate for the Regis is on
        Route 2... but it's blocked off by a Crustle. Fly to the Celestine Cascade and find the Rage
        Powder tree on the Rock Climb area nearby. Then, use the Rock Climb element to 
        activate the Crustle and fight it to open up the cave at the bottom of the route.
    </p>

    <p>
        Inside the New World here, you'll find Amaria studying an inscription. Regardless of route,
        she'll eventually tell you it's a Braille inscription and you need to find a blind person to
        read it. Not really sure how you were meant to figure this one out yourself, but you can
        find a blind person in the Coral Ward - who is very offended about being asked to read it.
        Putting aside that the game made somebody up to get mad at, talk to her and then return to
        the gate.
    </p>

    <p>
        She tells you that there's a specific ritual to open up the paths ahead, but she won't just
        tell you it; you have to play a game of Simon Says. It is at this point you realise that you
        are being roped into the author's fetish. Thankfully, you can skip this by just speaking to
        her quickly and opting out... so do that.
    </p>

    {{ ss("regis", "I feel sexually harassed now.") }}

    <p>
        This opens up a door in the middle of the suspiciously shaped island. Go through it to
        find the Anomaly Regis fight.
    </p>

    {{ trainer_battle_content("Anomaly", "REGIS", 0) }}

    <p>
        After you beat them, they'll flee further into the New World. Three more puzzles, fantastic!
    </p>

    <p>
        The easiest one is to the bottom left of the New World; activate one of the braille tablets
        for another Simon Says puzzle. Skip it by talking to her again to open the door to 
        {{ sp("REGIROCK") }}. Jump onto the platform behind it to find {{ sp("REGIELEKI") }} too,
        for good measure.
    </p>

    <p>
        The platform to the right of the New World contains <i>another</i> stupid Simon Says game;
        skip it as usual to open the door to find {{ sp("REGISTEEL")}} and {{ sp("REGIDRAGO") }}.
    </p>

    {{ ss("regice") }}
    <p>
        The final one is actually a puzzle! Interact with the Braille stone, then follow the red
        arrow, then the blue arrow, and finally the green arrow. This unlocks the door to 
        {{ sp("REGICE") }}. 
    </p>

    <p>
        When that's all done, leave the New World.
    </p>

    <hr/>

    <p>
        Congratulations! You beat Tier 1.
    </p>
</div>
{% endblock %}
