{% extends "_meta/walkthrough_page.html" %}

{% block hero %}
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sBBbq2g7yf8?si=CP9xCeiKQ3Y_8OsH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <p>
        Tier 2 of the postgame is not any more enjoyable than the first tier, so let's get right 
        into it.
    </p>

    <div class="notification is-info is-light">
        Zero might get bugged here and tell you about the Regis quest again. Ignore him. If you see
        the other three at the top, you're definitely in the right tier.
    </div>

    <h2 class="subtitle">Swords of Justice</h2>

    {{ ss("swordsdoor") }}

    <p>
        More quests for RU tier legendaries. The door here is in the Meteor area inside Route 3;
        the easiest way to get there is from the lower exit of Calcenon City. As soon as you enter
        the Ringmaster from the circus (remember her? She's back! In pog form!) will run away,
        chasing after... something. Follow her into the back of the New World to see the Cobalion 
        run away, and a Virizion pop into existence. 
    </p>

    <p>
        If you follow the green guy to the left, it'll shoot Getter Rays at you. Dodge them (or 
        debug heal) until you can find Virizion again, and it'll escape to the right. If you
        keep following it, you'll be put into a double battle again the main three Swords. This is
        a 12v6 battle, so you'll win it easily.
    </p>

    {{ trainer_battle_content("One for All", "MUSKETEER1") }}
    {{ trainer_battle_content("for One", "MUSKETEER2") }}

    <p>
        After five episodes worth of character development packed into one self-righteous therapy
        session, it's left on your lap to go catch them.
    </p>

    {{ ss("terrakion") }}

    <p>
        Find the most annoying one (Terrakion) first; it's hiding up in the rock climb area in the
        second Meteor area on Route 3. Just leave the New World, exit out of the door on the right
        of the cave, and go into the second cave to find it. Return to the New World to catch 
        Virizion (on the left, green side of the New World) and Cobalion (on the right, grey side 
        of the New World).
    </p>

    <p>
        When you're done, save and heal, then return to the Ringmaster. You'll end up finding 
        another room with Anomaly Keldeo, and another double battle.
    </p>

    {{ trainer_battle_content("Keldeo", "KELDEO", 0) }}
    {{ trainer_battle_content("Swords of Justice", "MUSKETEER3", 0) }}

    <p>
        This one sucks shit, especially due to the accuracy nuke field effect. 
        Make sure to take out Cobalion immediately before it can +5 attack you.
    </p>

    {{ ss("holy_soy") }}

    <p>
        When you try to leave, Samson (the guy who got voided at Agate? Remember him?) will return
        and battle you. (Bonus points for some of the worst dialogue in the game thus far.)
    </p>

    {{ trainer_battle_content("Samson", "UMBSAMSON", 0)}}

    <div class="notification is-danger">
        Interjecting with my own personal thoughts here. You'll notice that in a lot of these
        quests, most of the characters adopt the exact same voice - the kind of voice millennials 
        use on Tumblr. It's very grating.
    </div>

    <h2 class="subtitle">Regigigas</h2>

    {{ ss("regigate") }}

    <p>
        <i>More</i> Regis nonsense. You can find the gate to the Regigigas area in the Chrysolia
        Forest near the train to the south; walk through a cutting in the trees east of it to find
        the gate. There's a small New World section before you're dumped out in the {{ mp(840) }}.
        This is an extremely large area that you'll visit a handful of times with not really much
        going on except for a handful of ace trainers. (Best to clear those out now.)
    </p>

    {{ ss("smeargle") }}

    <p>
        Walk down and over to the right to find the gigantic building in the middle of the 
        deepwoods where a Smeargle will be beckoning for you. He's painted lots of helpful arrows 
        here for you! Walk all the way to the right and activate the statue to unblock the path.
        The Smeargle will tell you that the "big man" needs quiet, and has drawn the path for you.
    </p>

    {{ ss("four") }}

    <p>
        Activate the switch marked "1" and the switch marked "2" on the next level, then the switch
        marked "3" on the level above that. This unblocks the path further up. On the third level,
        the "9" here is actually a "4", so press the switches in the "4"/"5"/"6" order to open some
        stairs further downwards.
    </p>

    {{ ss("seven") }}

    <p>
        The path to switch "7" is blocked by two Arceus statues. Press the switches here to make 
        them disappear, activate "7", and then jump back to activate "8". Jump back and go up the
        previously blocked path to activate "9", which makes two rocks appear. This is honestly
        baffling... but if you push the rocks into the sides of the pillar above (follow the 
        red/blue arrows) then you can then jump onto said platform and over to the next area.
    </p>

    <p>
        Press the switch marked "11" (yes, ten is missing?), "12", and then "13" to open up a gate
        up the stairs. Walk up the stairs to activate "14" which opens another gate downstairs. 
        Activate all three switches with circles around them, then go back up the stairs and jump
        across the freshly realigned path to find the gate back to the New World. 
    </p>

    <p>
        Walk up to the very top to find (and fight) Anomaly Regigigas. If you jump to the island
        on the right, you can find a single Z Cell.
    </p>

    {{ trainer_battle_content("Regigigas", "REGIGIGAS", 0) }}

    <p>What happens next depends on your route:</p>

    <details>
        <summary>Anna Route Cutscene</summary>

        <p>
            After catching Regigigas, a ghost of Anna will appear. Interacting with it will make it
            disappear and complete the quest.
        </p>
    </details>

    <details>
        <summary>Lin Route Cutscene</summary>

        <p>
            After catching Regigigas, walking down the stairs will trigger a small cutscene where
            Lin talks to you and threatens to spawn a second one at you.
        </p>
    </details>


    <p>
        After that, you can fly back to the nightclub.
    </p>

    <h2 class="subtitle">The Genies</h2>

    {{ ss("route4-1") }}

    <p>
        Time for your first actual Uber legendary (Landorus-I). The Forces of Nature are found in 
        Route 4. There's three gates here; we'll do them in the order of annoying as per usual. 
        The first gate is found in the second rock climb area south of the main water pool. 
        (That is, go down the rock climb bits to the south twice.)
    </p> 

    <p>
        I actually straight up did not get this puzzle when I first played this game, and it's not
        until I was writing this that I figured it out. The bridges between the islands here are
        completely invisible on the lower level but are visible in the panoramic background of thee
        upper level. You can cheat a little bit by just looking at the panorama in an image viewer;
        or, it's helpfully included below.
    </p>

    <details>
        <summary>New World Panorama</summary>

        {{ ss("newWorld3", "Cheater!") }}

        <p>
            For best effect, open the image in a new tab.
        </p>

    </details>

    {{ ss("genies1") }}

    <p>
        You'll spawn on the right-most island. Follow the invisible paths along the red arrow to 
        find a ladder that takes you to a glowing orb. Interacting with this will spawn a platform
        up to a central hub with a teleporter, and two other areas you need to find. Sadly, the
        teleporter doesn't work, so make your way back to the gate yourself.
    </p>

    {{ ss("genies2") }}

    <p>
        The second gate is in the area down the waterfall that's next to the Glass Workstation.
        (See that chapter how to get there.) This brings you to the left sided island; follow the
        red arrow to get to the next ladder and glowing orb. (The teleporter actually works this
        time!)
    </p>

    <p>
        The third gate is in the northern area of Route 4; go up the rock climb route next to
        Calcenon to get to the bulk of Route 4, then climb: Northeast, North, Northwest, Southwest
        to find the gate. The path here is pretty much linear but requires going up and down 
        several ladders, so just follow them until you reach the glowing orb. There's a single 
        loop, but it's easy to avoid by just not going the same way as you did before.
    </p>

    <p>
        When you make it to the teleporter platform for the final time, you can walk upwards to
        enter an anomaly battle with the four genies.
    </p>

    {{ trainer_battle_content("Anomaly", "GENIES", 0) }}

    <p>
        From there, it's a set of basic jumping puzzles to catch the genies. Congratulations, you
        beat the second postgame tier! Or did you...
    </p>

    <h2 class="subtitle">Radomus Rescue</h2>

    <p>
        This is technically a Tier 3 quest, as the level cap increases as soon as you beat the other
        quests, but I'm putting it here anywya. Return to the Nightclub and talk to the new NPC on 
        the right to get a mission to make it to the Vanhanen Castle (again).
    </p>

    <p>
        There's no New World gate here, just walk straight through into the arena for a double
        battle. And a cutscene that dramatically varies by route.
    </p>

    {{ trainer_battle_content("Radomus", "UMBRADOMUS", 0) }}
    {{ trainer_battle_content("Gardevoir", "ANOMGARDEVOIR", 0) }}

    <p>
        This is an unbelievably difficult fight, even by 6v12 standards. Make sure to pack your
        Landorus and Zapdos. Accept their offer to teleport; you have now actually beaten Tier 3.
    </p>

</div>
{% endblock %}
