{% extends "_meta/walkthrough_page.html" %}

{% block walkthrough %}
<div class="content has-text-justified">
    <p>
        This is a full walkthrough for the Pokémon fangame Pokémon Reborn, using my balance patch. This
        walkthrough is designed to let you experience the game without hitting any major hurdles that
        you might during a regular playthrough, and to provide information on all of the key
        boss fights you will face with the rebalanced teams.
    </p>

    <a id="installation" href="#installation">
        <h2 class="subtitle">Installation</h2>
    </a>

    <p>
        This patch needs to be installed in a specific way for it to work properly.
    </p>
    <ol type="1">
        <li>Install Pokémon Reborn, version 19.16. (This is the version you get in the updater.)</li>
        <li>
            Download the
            <a href="https://www.rebornevo.com/forums/topic/62201-all-gen-eevee-reborn-custom-megas/">
                All Gen Patch 6.5a
            </a>
            and install it over the base game. Download the <i>patch</i> version, not the pre-patched
            version.

            <br/>
            (<a href="https://mega.nz/file/2ooSnSAY#hxkPf4rDICnRNr-rUz0fqsLR-L4DVMrrOtI1wZ91ka4">
                Direct link to 6.5a
            </a>)
        </li>
        <li>
            Download the
            <a href="https://www.rebornevo.com/forums/topic/61681-reborn-e19-battle-music-pack/">
                E19 Music Pack
            </a>
            and copy the music files into the BGM directory, as well as the single Ruby file into the
            <code>Data/Mods</code> directory. Do not copy the other remaining file.
        </li>
        <li>
            Apply any other mods you wish to use. I have a small list of recommendations below.
        </li>
        <li>
            Finally, copy my Balance Patch <strong>overwriting</strong> all files.
        </li>
    </ol>
    <p>
        If you installed everything correctly, there will be a new NPC inside the starter selection
        room in the Grand Hall.
    </p>

    <a id="routes" href="#routes">
        <h2 class="subtitle">Routes</h2>
    </a>

    <p>
        Reborn has a few different story routes which primarily affect events near the end of the game
        and in the postgame.
    </p>
    <p>
        This walkthrough will <i>only</i> cover the route known as the "Bad"
        R-Determination path as it's the most complete. At the end of the game, you can switch to
        the "Good" path very easily without requiring a new save.
    </p>
    <p>
        You can replay the game entirely to get a different route, e.g. the "Bad" Z-Regular path. That
        won't be covered here.
    </p>

    <a id="relationships" href="#relationships">
        <h2 class="subtitle">Relationship Points</h2>
    </a>

    <p>
        This game has a relationship points system, although as far as I can tell it's pretty primitive
        and doesn't seem to affect that many things. I won't be covering it in this walkthrough.
    </p>

    <a id="recommends" href="#recommends">
        <h2 class="subtitle">Recommended Mods</h2>
    </a>

    <p>
        Aside from the mandatory mods required for the Balance Patch, there's a few mods that I
        recommend for the best experience.
    </p>
    <ul>
        <li>
            <a href="https://www.rebornevo.com/forums/topic/24930-swm-modular-modpack-e19/">
                SWM Modular Modpack
            </a>
            &nbsp; - All mods - except for the starter selection mod. It doesn't seem to work though,
            but I don't recommend using it even if it did.
        </li>
        <li>
            <a href="https://www.rebornevo.com/forums/topic/62447-extended-ng-mod-ng/">
                Extended NG+ Mod (NG++)
            </a>
            &nbsp; - essential if you're playing this game again. Less essential on the first run.
            Worth it purely for the Victory Road skips.
        </li>
        <li>
            <a href="https://www.rebornevo.com/forums/topic/45329-e19-pyrolusitium-z2-v23b-a-pok%C3%A9mon-reborn-ui-overhaul-now-with-100-more-actual-overhauling/">
                Pyrolusitium Z2
            </a>
            &nbsp; - overhauls the UI significantly. Make sure to install the SWM modpack compatibility
            file as well.
        </li>
    </ul>

    <h2 class="subtitle">Hidden Items and Missing Events</h2>
    <p>
        This walkthrough will only minimally cover hidden items. I don't have the time to
        load up the editor and scan for the item events.
    </p>
    <p>
        Likewise, I'll write about <i>most</i> event/static encounters, but I'll skip some that just
        really aren't worth it. You should be exploring the game as much as possible yourself,
        anyway!
    </p>

    <h2 class="subtitle">Left vs Right</h2>
    <p>
        Sometimes, you might find that I tell you to go left when you actually have to go right.
        Sorry! I can't tell left from right. Just go the other way!
    </p>
    <h2 class="subtitle">Other Useful Resources</h2>

    <ol>
        <li>
            The <a href="https://docs.google.com/spreadsheets/d/1NmNBklcSI_OqWKMAaJ_WyqjBJ5J7lo3IuwTftIaJlIw/edit#gid=1921351918">
                official Reborn spreadsheet
            </a>
            contains wild encounters for Pokémon in the original game, the first 100 TM 
            locations, and a basic sticker guide (but I'll cover those too).
        </li>
        <li>
            The All-Gen patch includes a spreadsheet in your game directory which contains
            locations for the new Gen 8 and 9 Pokémon, as well as TMs. Nearly all other 
            information is <em><strong>incorrect!!!!!</strong></em> Prefer the information
            listed in this document instead.
        </li>
    </ol>


    <hr/>
</div>
{% endblock %}

{% block links %}
<a href="/walkthroughs/01_badge1.html" class="has-text-right is-block">
    Next: Badge #1 <i class="bi bi-chevron-double-right"></i>
</a>
{% endblock %}
