{% extends "_meta/walkthrough_page.html" %}

{% block hero %}
{{ ss("hero") }}
{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified has-text-light">
    <p>
        Tier 3 has the most quests out of any of the tiers, and is the first tier where you start
        to get some good quality S tier Pokémon. (Or... one of them.) There's actually eight quests
        here, but one of them (Zygarde) can't be done until much later.
    </p>

    <p>
        The quests here are also really, <i>really</i> long. Get yourself comfortable.
    </p>

    <h2 class="subtitle">Volcanion</h2>

    <p>
        This guy is just hanging out in the small cave above the Chrysolia Woods. Walk in, fall down
        a hole, and beat it up. There's nothing else to it.
    </p>

    {{ trainer_battle_content("Volcanion", "VOLCANION", 0) }}

    <h2 class="subtitle">Ogerpon</h2>

    <p>
        This is an original event added by the All-Gen mod, which adds Ogerpon and the Loyal Three.
        To start, fly to Calcenon City and talk to the old man next to the ice rink; he'll tell you
        that a "prankster" is hopping around near the hotel. Make your way up north and enter
        the hotel building for a small cutscene with said Ogerpon who will run back outside.
    </p>

    {{ ss("ogerpon1") }}

    <p>
        When you leave the building again, Ogerpon will run away to the west. Follow it up the
        mountain; once you find it next to the ice rock, walk around the rock like the red arrow to
        find a secret path across to the west. Talk to Ogerpon when you reach it to break the rock
        in front of the cave, then enter it for a small cutscene; the "Loyal" Three will run away
    </p>

    <h2 class="subtitle">Meloetta</h2>

    <p>
        This is a basic tournament against six opponents.
    </p>

    <h2 class="subtitle">Magearna</h2>

    <p>
        Oh boy. This quest is a crossover with Pokémon Rejuvenation, the writing is terrible to 
        boot, and the quest itself is insanely difficult for essentially no good reason. Make your
        way to the Glass Workstation and re-enter the boss room to find a certain green haired 
        prick who forces you to speak.
    </p>

    <p>
        Talk to her (who gives a fuck about the dialoguee options here, they all suck), agree to
        lead her to a PULSE, then pick the PULSE machine rooms. (For the funniest effect, pick
        Clawitzer, then Magnezone, then Mr Mime). After all that, you'll have to fight her. She's
        a pushover as she's a mono-grass trainer with quite frankly not a good team.
    </p>

    {{ trainer_battle_content("Flora", "FLORA", 0) }}

    <p>
        After that, you need to head to Ametrine City to find the abandoned house. Enter it for
        a small cutscene... then head to Charous Hall. You now have to do an Elite 4 rematch
        with only three Pokémon of your own (Flora will have the other three). She's a mono-grass
        trainer, and you're fighting Flying and Bug trainers... so this is probably not going to go
        very well. Make sure to save before you enter the chamber so you can go back and fix your
        team if you need to.
    </p>

    <p>
        You finally have access to some good legendaries (but, then, so do the E4) such as
        Landorus-I, Enamorus-I, and Zapdos. For reference, Flora's party is the same as above;
        she'll pick three and you pick three and you'll battle in a 6v6 format. 
    </p>

    {{ ss("totalbitch1") }}

    <p>
        First up is Heather again. This is pretty easy; kill her Crobat first so it can't set up
        Tailwind, then sweep with Rock, Fairy, or Psychic types. 
    </p>

    {{ trainer_battle_content("Heather", "HEATHER", 1) }}

    {{ ss("totalbitch2") }}    

    <p>
        This time, it's just Laura without Bennett. She's also easy; kill the Venusaur first so it
        can't drop Sleep Powder on you and let Flora deal with the fairies with Gyro Ball whilst you
        go to town with a Fire or Flying type.
    </p>

    {{ trainer_battle_content("Laura", "LAURA", 0) }}

    {{ ss("totalbitch3") }}

    <p>
        Next up is Elias. This one is the real roadblock; Dragon and Normal on this hellish field
        is just as hard as the first time around... but Flora's mono-grass makes her especially 
        useless as she has to rely on secondary STABs. Drampa's Heat Wave will easily OHKO her
        and make your life worse with passive damage, and the fight has already been nerfed so that
        his Noivern doesn't sweep her and make it a 3v6.
    </p>

    <p>
        Be wary of his Ditto; ideally, it'll copy one of Flora's weaker Pokémon and you can then
        one-hit kill it too. Fire and Fairy types are your friend here; remember that the field
        effect makes Ghost take super effective damage from Normal type attacks. ESpeed is also a 
        good thing to have.
    </p>

    {{ trainer_battle_content("Elias", "ELIAS", 1) }}

    {{ ss("totalbitch4", "A win for homophobia!")}}

    <p>
        (This game doesn't have the balls to call him a faggot explicitly. If it was made in 2012 it
        would've. Instead it says "big yikes". This is what we lost with the millennial generation.)
    </p>

    <p>
        Finally, you have to fight Bennett. He's a dual type Fire and Bug fighter now, so Flying
        and Rock types are your best bet. ESpeed is, as usual, extremely useful for stopping him
        from wiping out Flora and your own Fire types can absorb Heat Wave, especially if you have
        Flash Fire.
    </p>

    {{ trainer_battle_content("Bennett", "BENNETT2", 0) }}

    <p>
        After you've beaten him, you can talk to him again and call him creepy (or not). Enter the
        Champion's room and register your team in the Hall of Fame (again); you'll be teleported
        back to Ametrine for a small cutscene, whereupon Flora tells you there's a Magearna floating
        around in the Glass Workstation, in the back room.
    </p>

    {{ trainer_battle_content("Magearna", "MAGEARNA", 0) }}

    <p>
        Finally, if you enter the portal in the Workstation to the PULSE Hypno area, you can find
        a Gardevoir that will give you the <em>Void Stone</em>, which will can be used as an 
        alternative mega evolution.
    </p>

    <div class="notification is-success is-light">
        Beating the Elite 4 for the second time will open up the Charous Hall for Elite 4 rematches
        and a championship title defense with a random NPC. Afterwards, you can register your 
        team in the Hall of Fame (again) and get teleported back to the Opal Ward. The actual
        NPCs depend on certain postgame events (i.e. if they're not in the nightclub, you can't
        fight them).
    </div>

</div>
{% endblock %}
