@import url('https://fonts.googleapis.com/css?family=Overpass+Mono|Cabin|Quicksand&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: "Cabin";
}

body, p, li, strong, em, a {
    font-family: "Cabin" !important;
}

.bg-grass {
    background-color: #78C850;
}

.bg-water {
    background-color: #6890F0;
}

.bg-fire {
    background-color: #F08030;
}

.bg-flying {
    background-color: #A890F0;
}

.bg-bug {
    background-color: #A8B820;
}

.bg-normal {
    background-color: #A8A878;
}

.bg-dark {
    background-color: #705848;
}

.bg-electric {
    background-color: #F8D030;
}

.bg-psychic {
    background-color: #F85888;
}

.bg-poison {
    background-color: #A040A0;
}

.bg-ground {
    background-color: #E0C068;
}

.bg-ice {
    background-color: #98D8D8;
}

.bg-steel {
    background-color: #B8B8D0;
}

.bg-fairy {
    background-color: #EE99AC;
}

.bg-fighting {
    background-color: #C03028;
}

.bg-rock {
    background-color: #B8A038;
}

.bg-dragon {
    background-color: #7038F8;
}

.bg-ghost {
    background-color: #705898;
}

table.vcentre td {
    vertical-align: middle;
}


/* gotta have a fancy navbar! */
.navbar {
    background: linear-gradient(90deg, rgba(203,17,224,1) 0%, rgba(255,107,129,1) 100%);;
    border-radius: 5px;
}

/* stop navbar from being so... squished */
.navbar-brand {
    padding-left: 1rem;
}

.navbar-end {
    padding-right: 1rem;
}

/* navbar link colours */
a.navbar-item, a.navbar-link, div.navbar-link {
    color: #FFFFFF;
    background-color: inherit !important;
}

.navbar-dropdown .navbar-item {
    color: black;
}

.navbar-dropdown:hover .navbar-item {
    color: inherit;
}

a.navbar-item:hover, a.navbar-link:hover, .navbar-item.has-dropdown:hover a.navbar-link {
    color: #6BFF88;
    background-color: inherit !important;
}

/* grid cards with equal height */
.has-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.has-equal-height .card-footer {
  margin-top: auto;
}

img.grid-image {
    object-fit: cover;
}

#pokemon-display-2 > div.columns {
    margin-top: 0;
}

#pokemon-display-2 > div.columns > div.column {
    padding-top: 0;
    padding-bottom: 0;
}

tr.is-primary {
    background-color: #00d1b2;
}

tr.is-primary > th, tr.is-primary > td {
    color: white;
}

td.centre { vertical-align: middle; }

td.no-border { border: none; }

.jsify-hidden { display: none; }

/* https://codepen.io/khvoretskiy/pen/YzpPdLe */
.nested.dropdown:hover > .dropdown-menu {
  display: block;
}
.nested.dropdown .dropdown-menu {
  top: -12px;
  margin-left: 100%;
}
.nested.dropdown .dropdown-trigger button::after {

}
.nested.dropdown .dropdown-trigger button {
  padding: 0px 0px;
  border: 0px;
  font-size: 14px;
  font-weight: 400;
}

/* make the walkthrough text narrower, but allow the details text to be bigger */
.walkthrough .content p, .walkthrough .content h1, .walkthrough .content h2, .walkthrough .content h3, .walkthrough .content h4, .walkthrough .content ul, .walkthrough .content ol, .walkthrough .content span, .walkthrough .content figure.image, .walkthrough .content div.notification, .walkthrough summary {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.walkthrough .content ul > li, .walkthrough .content ol > li {
    margin-left: 2rem;
    margin-right: 2rem;
}

.walkthrough summary {
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;

    color: #485fc7;
}

.walkthrough summary:hover {
    color: #363636;
    cursor: pointer;  /** WHY is this not the default */
}