{% extends "_meta/walkthrough_page.html" %}

{% block hero %}
{{ ss("hero") }}
{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <p>
        After exiting out of the arena, if you're on the R route, you'll get a small cutscene with
        Solaris. Ignore the actual dungeon up ahead and walk into the Pokémon Centre, then talk
        to this guy sitting on the boxes to get a side quest: spirit hunting!
    </p>

    <p>
        I don't know where the spirits are. There's 25 of them. Good luck. They all run Level 100
        teams at that, so maybe you should come back in Tier 3 Postgame or so when you can wipe them
        easily. If you want the Paradox Pokémon, you need to do this eventually, but don't worry
        about it until later.
    </p>

    <h2 class="subtitle">It Begins</h2>

    {{ ss("fuckofffern") }}

    <i>♫ Pokémon Mystery Dungeon- Hidden Highland Remix ♫</i>

    <p>
        I'm sorry, but this caused me simply too much stress and grief to write. This is an 
        overview of the major trainer battles instead; you can use the Reborn wikia for specific
        puzzle guides.
    </p>

    <p>
        Maybe I'll come back to this in the future. The trainer battles are more important anyway.
    </p>
</div>
{% endblock %}
