<!DOCTYPE html>
<HTML>
<HEAD>
    <META charset="utf-8">
    <META NAME="viewport" CONTENT="width=device-width, initial-scale=1.0">

    <TITLE>{% block title %} No title set! {% endblock %}</TITLE>

    <link rel="icon" type="image/png" href="/sprites/0493_shiny.png">
    <link href=" https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/sortable.css">
    <link rel="stylesheet" href="/static/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-list@1.2.0/css/bulma-list.min.css">
</HEAD>
<body>
<!-- todo: nav -->
<div class="container">
<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://github.com/Fuyukai/Reborn-Rebalance">
            <i class="bi bi-github" style="padding-right: 5px"></i>
            <p>Rebalance Mod</p>
        </a>
    </div>


    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/species/index.html">Pokémon</a>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="/changelog.html">Changelog</a>
        </div>
    </div>
</nav>
</div>

<main id="content">
{% block content %}
{% endblock %}
</main>

<div style="display: hidden" id="antichrome" class="modal">
    <div class="modal-content">
        Google Chrome users are blacklisted from this website due to Google's support for
        <a href="https://arstechnica.com/gadgets/2023/07/googles-web-integrity-api-sounds-like-drm-for-the-web/">
            a hostile, anti-user web.
        </a>
        <br/>

        If you wish to continue using this site, install an alternative browser such as
        <a href="https://www.mozilla.org/en-GB/firefox/new/">Mozilla Firefox</a>.
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js" async></script>
<script src="/static/shiny.js" async></script>
<script src="/static/dechromify.js"></script>
</body>
</HTML>