<!DOCTYPE html>
<HTML lang="en">
<HEAD>
    <META charset="utf-8">
    <META NAME="viewport" CONTENT="width=device-width, initial-scale=1.0">

    <TITLE>{% block title %} No title set! {% endblock %}</TITLE>

    <link rel="icon" type="image/png" href="/sprites/0493_shiny.png">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/sortable.css">
    <link rel="stylesheet" href="/static/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-list@1.2.0/css/bulma-list.min.css">
</HEAD>
<body>
<!-- todo: nav -->
<div class="container">
<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://github.com/Fuyukai/Reborn-Rebalance">
            <i class="bi bi-github" style="padding-right: 5px"></i>
            <p>Rebalance Mod</p>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/species/index.html">Pokémon</a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">Maps</a>
                <div class="navbar-dropdown">
                    {% for entry in navbar_maps %}
                    {% if not entry.submaps %}
                    <a class="navbar-item" href="/maps/{{ '{:03d}'.format(entry.id) }}.html">{{ entry.name }}</a>
                    {% else %}
                    <div class="nested dropdown">
                        <a class="navbar-item override-colour">
                            <span>
                                {{ entry.name }}
                                <i class="bi bi-chevron-right"></i>
                            </span>
                        </a>

                        <div class="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                {% for submap in entry.submaps %}
                                <a class="dropdown-item" href="/maps/{{ '{:03d}'.format(submap.id) }}.html">{{ submap.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% if navbar_walkthroughs %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">Walkthroughs</a>
                <div class="navbar-dropdown">
                    {% for entry in navbar_walkthroughs %}
                    <div class="nested dropdown">
                        <a class="navbar-item override-colour">
                            <span>
                                {{ entry.name }}
                                <i class="bi bi-chevron-right"></i>
                            </span>
                        </a>

                        <div class="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                {% for iname, name in entry.chapters %}
                                <a class="dropdown-item" href="/walkthroughs/{{ iname }}.html">{{ name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="/changelog.html">
                Changelog &nbsp;
                <i class="bi bi-clipboard2-check-fill"></i>
            </a>
        </div>
    </div>
</nav>
</div>

<main id="content">
{% block content %}
{% endblock %}
</main>

<script src="/static/shiny.js" async></script>
</body>
</HTML>
