{% extends "_meta/_root.html" %}
{# must set the NAME var. #}

{% from "helpers.html" import small_sprite_obb, species_link %}
{% from "_meta/_trainer.html" import trainer_battle %}

{%- macro sp(name) -%}
{% set s = catalog.species_mapping[name.upper()] %}
<a href="/species/specific/{{ s.internal_name.lower() }}.html" target="_blank">{{ s.name }}</a>
{%- endmacro -%}

{%- macro ss(name, title="") -%}
<figure class="image">
    {% if title %}
    <img src="/static/{{ NAME }}/{{ name }}.png" alt="{{ title }}">
    {% else %}
    <img src="/static/{{ NAME }}/{{ name }}.png">
    {% endif %}
</figure>
{%- endmacro -%}

{%- macro mp(id, name) -%}
<a href="/maps/{{ '{:03d}'.format(id) }}.html" target="_blank">{{ name }}</a>
{%- endmacro -%}

{%- macro mv(id) -%}
{% set name = catalog.move_mapping[id].display_name %}
<a href="/moves/{{ id.lower() }}.html" target="_blank">{{ name }}</a>
{%- endmacro -%}


{# purely to make intellij happier. #}
{%- macro trainer_battle_content(name, klass, id=0) -%}
</div>
{{ trainer_battle(name, klass, id=id) }}
<div class="content has-text-justified">
{%- endmacro -%}

{% block links %}
<div class="container">
<div class="columns">
    <div class="column is-one-third has-text-left">
        <a href="/walkthroughs/{{ LEFTLINK_ID }}.html">
            <i class="bi bi-chevron-double-left"></i> Prev: {{ LEFTLINK_NAME }}
        </a>
    </div>

    <div class="column is-one-third has-text-centered" >{{ self.title() }}</div>

    <div class="column is-one-third has-text-right">
        <a href="/walkthroughs/{{ RIGHTLINK_ID }}.html">
            Next: {{ RIGHTLINK_NAME }} <i class="bi bi-chevron-double-right"></i>
        </a>
    </div>
</div>
</div>
{% endblock %}

{% block title %} {{ TITLE }} {% endblock %}

{% block content %}
<section class="section">
    {{ self.links() }}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <article class="walkthrough" id="walkthrough">
                <div class="walkthrough-hero">
                    {% block hero %} {% endblock %}
                </div>

                <h1 class="title has-text-centered">{{ self.title() }}</h1>

                {% block walkthrough %}

                {% endblock %}
                </article>
            </div>
        </div>
    </div>
    {{ self.links() }}
</section>
{% endblock %}
