{% extends "_meta/walkthrough_page.html" %}
{% set NAME = "13_agate_circus" %}
{% set LEFTLINK_ID = "12_gang_violence" %}
{% set LEFTLINK_NAME = "Badge #9: Subseven Sanctum & Iolia Valley" %}
{% set RIGHTLINK_ID = "14_fucking_rng" %}
{% set RIGHTLINK_NAME = "Badge 10, Pt 2: Fighting Gym" %}

{% block title %}Badge #10, Pt 1: Agate Circus{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <h1 class="title">{{ self.title() }}</h1>

    {{ ss("header") }}

    <h2 class="subtitle">Danger! Danger!</h2>

    <div class="notification is-danger">
        This is the point of no return! As soon as you pass through those gates to Agate City,
        you are <strong>locked off</strong> from Reborn City and any of its events until you 
        get the 13th Badge.
    </div>

    <p>
        If you've missed any events you would like to pick up before, now is the time to do so!
        Whilst the area past the checkpoint does have a lot of Pokémon selection, there is still
        a significant amount of useful Pokémon that are only available in Reborn City and its 
        surroundings.
    </p>

    <p>
        Here's a small list of things you might want to do before leaving:
    </p>

    <ul>
        <li>
            Stock up on EXP Candy Ls from the pinata at the Grand Hall. You can get a full stack
            of these in about 5 minutes if you hold down text skip and run in full speed.
        </li>
        <li>
            Buy every single TM you can. There's some in Vanhanen Castle, there's some in 7th 
            Street, there's even some in The Spyce (a place in North Obsidia ward).
        </li>
        <li>
            Catch a {{ sp("FLETCHLING")}} from Beryl Cemetery. Gale Wings {{ sp("TALONFLAME") }} can
            act as an emergency check to some of the upcoming gyms.
        </li>
        <li>
            Catch a {{ sp("SANDILE") }} from Tanzman Mountain. As said before, Moxie Krookodile is
            one of the best Pokémon in the game with an excellent typing and an easy way to 
            snowball.
        </li>
        <li>
            Teach any tutor moves you need onto your Pokémon from the school and 7th Street tutors.
        </li>
        <li>
            Pick up anything you might need from the Obsidia Department Store.
        </li>
    </ul>

    <p>
        Once you're ready, talk to Cain at the Agate Checkpoint. As soon as you pass through the
        back door, you're locked out of Reborn City until you get Fly again, so be absolutely
        sure you want to do this!
    </p>

    <h2 class="subtitle">Agate Circus</h2>

    <p>
        After a brief-ish cutscene, you'll be teleported into Agate Circus. If you try to go back
        to Agate City, you'll find the path blocked by guards. (If you try and deliberately wipe
        out to get teleported back to a Pokémon Centre, you'll respawn here instead. Nice try.)
    </p>

    <p>
        In the true spirit of Pokémon Reborn, there's a few clowns who are willing to battle you
        here (thanks?) so clear them out before doing anything else (lest you get surprised after
        returning from Route 2 and get wiped). Near the PC/healing machine is a vendor that sells
        EXP Candies, in case you somehow run out, and at the very bottom right is the bootleg 
        Move Relearner (ah, who needs Reborn City anyway). Above him is a vendor that finally
        sells Ultra Balls.
    </p>

    {{ ss("newbell", "City.") }}
    
    <p>
        There isn't much else to do here; the Circus is blocked off by the crowd and the path to
        Route 2 is blocked off by a line. At the top left of the circus you'll find a small crowd
        gathered around the <i>Ringmaster</i>. Talk to her, and then talk to the conspiciously
        coloured man next to the High Striker. You can also use the High Striker to randomly win
        a {{ sp("CLEFAIRY") }} if you hit POWERFUL or <em>TM87 Swagger</em> if you hit "OVER 9000!".
    </p>

    <p>
        Talk to Samson again to get access to the Circus, and then go into the back room of the
        circus to find Aya sleeping. Interact with her for a long cutscene, including how the 
        sleeping spell over Agate is Team Meteor's fault (wow, really?). Your next destination
        is all Route 2. (You can interact with Cain/Aya again quickly for a bonus relationship point.)
    </p>

    <div class="notification is-info is-light">
        The conspiciously inaccessible item on the table will be available after the 13th badge.
        It's a throat spray. Spoilers. 
    </div>

    <h2 class="subtitle">Route 2</h2>

    {{ ss("crustle0") }}

    <p>
        The path to Route 2 is now cleared, so make your way to the building at the bottom left
        of the outside of the Circus. You can get another sticker here by talking to the kid
        (known in the code as "bitch kid") and conceding to all of their demands. In the lower
        room, you can talk to the NPCs for information on how the Route 2 puzzle works...
    </p>

    <p>
        Welcome to Route 2! This is one of the four numbered routes in the game and the second
        hardest to navigate (after Route 4). Whilst the gimmick of Route 1 was ledges, the gimmick
        of Route 2 is a movable jumping puzzle! The Route 2 puzzle is one of the infamous trio
        of puzzles that this game is known for (after Route 1, and the Victory Road minecarts).
    </p>

    <p>
        The goal here is to make it to the Fiore Mansion on the other side of Route 2, but you're
        going to need to build a path all the way over there first. It's a more intimidating puzzle
        than it looks.
    </p>
    
    <details>
        <summary>Route 2 Puzzle Solution - Upper Half</summary>

        <div class="notification is-success is-light">
            You can skip this half and instead do the lower half first; you don't need access to
            Ametrine Mountain until after the 10th Badge. It's right there, though.
        </div>

        {{ ss("crustle1") }}

        <p>
            This puzzle looks a lot scarier than it actually is. First, we'll do the top half of
            the puzzle that leads to Ametrine Mountain. Jump across the rocks here to make it to
            the upper half of the route. 
        </p>
        <hr/>

        {{ ss("crustle2") }}
        <p>
            Activate this tree to get the Sleep Powder. A little bit further above is a Crustle 
            nest; activate it to spawn one and use the Sleep Powder to make it go to sleep.
        </p>
        <hr/>

        {{ ss("crustle3") }}
        <p>
            Push the Crustle into the hole on the right side of the route. Make sure not to 
            accidentally push it into a corner; if you do, find the orange tree to collect some
            Rage Powder and use it on the Crustle to wake it up. Defeat it, and you can spawn
            another one. Then, go back to the green tree and collect some more Sleep Powder.
        </p>
        <hr/>

        {{ ss("crustle4") }}
        <p>
            To make it onto the upper area, solve the jumping puzzle like so. <strong>Do not</strong>
            jump onto the <em>wobbly rock</em> (the one with a thinner base), as it'll ruin your
            Sleep Powder and you'll have to go back and get some more.
        </p>
        <hr/>

        {{ ss("crustle5") }}
        <p>
            Push the Crustle down into this hole. The top-down view makes it a bit difficult to see
            if you have the right clearance, so be careful not to get yourself stuck again. I 
            suggest you turn off speedup for this. Return back to the tree to get some more 
            Sleep Powder.
        </p>
        <hr/>

        {{ ss("crustle6") }}
        <p>
            This one feels specifically designed to screw you. Follow the red arrow to make it to
            the next nest, and activate the Crustle. In order to get it down the cliff, push it
            back towards the jumping blocks <i>once</i>, then follow the green line to push it
            downwards one square. Follow the green line in the opposite direction to push it
            across and down the cliff. Finally, follow the pink line to push the Crustle into
            the hole.
        </p>

        <p>
            Now, you can jump across the Crustle to make it to {{ mp(364, "Ametrine Mountain 2F") }},
            picking up <em>TM58 Sky Drop</em> on the way. Sadly, you can't actually do anything
            here without Surf, so let's head back to the start and do the lower half puzzle.
        </p>
    </details>

    <details>
        <summary>Route 2 Puzzle Solution - Lower Half</summary>

        {{ ss("crustle7") }}
        <p>
            First, we need to actually get to the lower part of Route 2. Follow the jumping puzzle
            up here (see previous solution for details) and go up then down the stairs here.
            Activate the green pylon on the side of the gate to open a shortcut between the upper
            and lower half. To the immediate left is <em>TM160 Agility</em>, and the path to the
            right has <em>TM119 Sand Tomb</em>.
        </p>
        <hr/>

        {{ ss("crustle8") }}
        <p>
            Let's start by opening up the path to the right. There's currently an empty Crustle
            hole that you need to fill up to continue. Go down the left path and solve the jumping
            puzzle to get access to the floor (most of the rocks here are dedicated to trolling
            you.)
        </p>
        <hr/>

        {{ ss("crustle9") }}
        <p>
            Get Sleep Powder from the tree nearby, and then activate the Crustle directly above. 
            This one requires a bit of manuevering to get it into the hole.
        </p>
        <hr/>

        {{ ss("crustle10")}}
        <p>
            If you loop back and lump over the newly placed Crustle, you'll find that you need
            to place down three more Crustles to fully unblock the path. Instead of staying here,
            walk all the way back up to the path on the left and walk down both stairs to get 
            access to the lower floor. Activate the Crustle and move it down to the cliff as
            shown in the image (leave it there for now).
        </p>
        <hr/>

        {{ ss("crustle11") }}
        <p>
            Follow the red line to find the right-most Crustle. Activate it and push it down the
            cliff to fill in the right-most hole. Follow the blue line to find the left-most
            Crustle; activate it and push it along the pink line to fill the left-most hole.
        </p>

        <div class="notification is-info is-light">
            Don't worry about the doorway you just blocked off. It's exclusively a postgame area,
            and you can kill the Shuckle using Rage Powder when you come back in twenty hours.
        </div>

        <hr/>

        {{ ss("crustle12") }}
        <p>
            Finally, loop all the way around the right side of Route 2 again to find the middle
            Crustle that you abandoned on the cliffside. Push it into the hole to finally clear
            the way to {{ mp(372, "Celestine Cascade") }}.
        </p>
    </details>

    <p>
        The rest of the path through the Celestine Cascade is blocked off by a body of water
        which you can't get through without Surf. Rats! Travel upwards to the Fiore Mansion where
        you will find Amaria (remember? The loveable gym leader from all the way back in Blacksteam 
        Factory? Do you remember her?). Talk to her, go upstairs, etc, for a bunch of cutscenes.
    </p>

    <p>
        You get the battle pass required to fight Samson from Titania (why do gym leaders have it?)
        Next step: return to the circus!
    </p>
{% endblock %}
