{% extends "_meta/walkthrough_page.html" %}
{% set NAME = "07_blacksteam" %}
{% block title %}Badge #5, Pt 1: Blacksteam Factory{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <h1 class="title">Catching Up On Events</h1>

    <p>
        Go up to the top of Beryl Ward to the Beryl Cemetery and talk to the spirit.
        If you have a Mabostiff, she'll give you a {{ sp("GREAVARD") }}
        (this is a custom event, added by this mod!!). You could smash the rocks and go into the
        cave... but it's dark! You don't have Flash yet. I know where to find it, though, so
        make your way back down to the Obsidia Slums.
    </p>

    {{ ss("piggystation2") }}

    <p>
        Well, you can't make it all the way as Cain will jump out at you at the gate to Peridot Ward
        and drag you into the piggy station. Some cutscenery ensues... and you have to go to
        another factory in Peridot Ward. Fuck that! We're going back to the slums and you can't
        stop us!
    </p>

    <a href="#rock-smashing-about" id="rock-smashing-about">
        <h2 class="subtitle">Rock Smashing About</h2>
    </a>

    <p>
        It's time to collect all of the events that we've missed! There's a lot, so bare with me
        here.
    </p>

    <p>
        There's a few areas here in the Slums that we want to go to, actually. First up is the Slums
        Playground, which is a secret area hidden between the two escalators on the left side of
        B1F. (You should probably stock up on Repels first). You can unlock the door if you have
        the Dull Key and then proceed into a jumping puzzle room.
    </p>

    {{ ss("jumpingarrows", "I'm already tired of these puzzles.") }}

    <p>
        Follow the red arrow to find... a Level 45 Pangoro. Activate the switch on the wall and then
        head down the right set of stairs to get a <em>Sun Stone</em>. Go back and follow the
        blue arrow to find... another Level 45 Pangoro. Again, activate the switch on the wall.
        Go down the stairs and follow the green arrow to find... a level 50 Pangoro! After beating
        him, the Scrafty you beat earlier will come and beat up all the Pangoro gang, and
        you'll get a {{ sp("SCRAGGY") }}.
    </p>

    <p>
        Once you're done, you can go back to the other hidden door on the other side of the
        basement floor and travel down to the area with the two smashable rocks. Break them open
        to end up in... a lower section of the Underground Railnet! Go right to pick up the
        <em>Marowakite</em> and a <em>Light Ball</em>, and then smash open the wall directly
        in front the entrance. (You can't go up yet.) Enter it to find a narrow hallway that
        ends in <i>another</i> Rock Smashable wall... which opens out into another small corridor.
        Smash the wall again to find the <em>Scrafinite</em>. Press the switch on the wall and
        proceed to the right.
    </p>

    {{ ss("darkrailnet", "Dark. Darker. Yet, darker.") }}

    <p>
        This is a dark area... which is very annoying, as we're going down here to find Flash. Go
        straight to the left until you bump into a wall and you'll find a set of stairs below you.
        Go down these stairs, along a corridor, and down the stairs again to the lowest floor.
        Align yourself with the bannister of the stairs, walk straight up til you hit a rock, and
        then move one tile right. Go up again to find a Rock Smashable wall; break it open to find
        TMX8 Flash. If you have easy HMs on, when you leave the area again it'll be illuminated
        fully; otherwise, you'll need to teach Flash to a Pokémon and use it outside of battle.
    </p>

    <p>
        With the ability to actually fucking see, you'll find a <em>Dusk Stone</em> and another
        breakable wall that has a <em>House Key</em> within it.
        <strong>You really should pick this up.</strong>
        If you headbutt the middle pole, you can farm infinite Arons. Go back up the stairs
        to find the <em>Noctowlite</em> now in plain sight, as well as some guy lost in the
        Railnet; talk to him and he'll skedaddle back upwards. (He has your next sticker, by the
        way.) Finally, there's a breakable wall up to the top that has an <em>Ability Capsule</em>
        in it.
    </p>

    <p>
        You can skedaddle out of the slums now; there's nothing interesting here anymore (and there
        never will be). Make your way back to the Obsidia Pokécentre and talk to the guy you just
        rescued (to the left of the counter) to get the Aron sticker. Next stop is the Onyx Ward.
    </p>

    {{ ss("gamblor", "It's Dragon Quest time.") }}

    <p>
        Now that you have the Coin Case (well, you had it a while ago), you can go into the arcade
        and start gambling. Interacting with a slot machine will open the slot machine minigame;
        as far as I can tell, you literally cannot lose with these. Just wager the max amount and
        spam stop and you'll make a thousand coins in ~10 mins. Talking to the various NPCs might
        give you some extra coins on top of that as well. The Voltorb Flip minigame is safe by
        design but a bit tedious; the roulette minigame is a money sink.
    </p>

    <p>
        You actually want to go slightly to the right and talk to the lady loitering outside the
        locked house. The key you found earlier is actually hers! Give the key to her and she'll
        reveal herself to be the Move Relearner. For only one Heart Scale she'll reteach any move
        that Pokémon used to (or could have) known. If you have the SWM Modpack installed, she can
        also teach egg moves! Her house also has <em>TM103 Pay Day</em>. You can mine Heart Scales
        from mineable rocks, or later on there will be a way to get them in exchange for Shards.
    </p>

    <p>
        The move tutors at the school aren't available yet... but if you go up to the second floor
        and find the Minecraft player, you can convince him to play GregTech irl under the Obsidia
        Staircase. He'll move out of the way of the computer, and you can insert a Data Chip to
        find and catch a {{ sp("PORYGON") }}. If you travel up to North Obsidia Ward again, you'll
        find a summoning circle situated below the staircase; talking to the leader at the top will
        let you buy a <em>Link Stone</em> for 10 thousand dollarpounds. It won't let you evolve
        the Porygon, though - you don't have an Up-Grade yet!
    </p>

    <a href="#gang-time" id="gang-time"><h2 class="subtitle">Joining A Gang</h2></a>

    <div class="notification is-info">
        Whilst this is technically optional <i>right now</i>, we need access to the alleyways
        that the gang members occupy to get an important Pokémon that we'll need very soon. No
        matter what, you <strong>have</strong> to join one of the gangs to progress the story
        further later on anyway. Good writing, there.
    </div>

    <p>
        Whilst we're loitering in Obsidia, it's time to join a gang! There's two gangs here in
        Reborn City; the <span style="color: aqua">Aqua Gang</span> and the
        <span style="color: orangered">Magma Gang</span>! It's up to you which one you want to join,
        as the story is very similar in both. The Aqua Gang are found in the Lapis Ward alleyway,
        just to the right of the orphanage; the Magma Gang are found in the North Obsidia Ward
        alleyway, to the right of the nightclub. (You should go talk to the guy outside that,
        as well.)
    </p>

    {{ ss("baller", "Welcome to a life of crime.") }}

    <p>
        Talk to the two grunts guarding the entrance to either area twice which will spark a double
        battle in order to join it. In the Aqua alleyway is <i>TM41 Torment</i>, and in the Magma
        alleyway is <i>TM46 Thief</i> (don't worry, you'll be able to get both soon). Introduce
        yourself to the gang leader, who tells you that you're all going to meet up at an abandoned
        shack. I hope you read those road signs!
    </p>

    <p>
        You're going to need to go into the house directly to the the right of the flower shop in
        Lapis Ward; a bit away from the wall overlooking Peridot. Talk to the leader for some info
        on who your target is: an old Tory cunt! Next, go to the house directly below the Pokémon
        centre (you might have been here before and shooed out) and travel straight through to the
        back of the room. Your target are the Pokéballs on the table; the left-most one contains
        an evolution stone (Water Stone for Aqua, Fire Stone for Magma) and the middle one
        contains a Pokémon (Ponyta for Aqua, Buizel for Magma). Talk to your leader again and
        skedaddle back to the respective alleyway.
    </p>

    <p>
        If you talk to your gang leader now, he says that he'll need some time to think about
        the next actions. Of course, you already beat the third gym, so just talk to him again to
        get the next quest: the Gang Raid quest. Find the other gang's hideout, beat the hell out
        of their leader. Now you have free access to both alleyways, which is essential. You can
        go back and talk to your gang leader to get either a {{ sp("CARVANHA") }} or a
        {{ sp("HOUNDOUR") }} as a gift, each with a special egg move.
    </p>

    {{ ss("murkrow", "Our secret weapon.") }}

    <div class="notification is-warning">
        This is not an optional encounter. There's a very important fight coming up soon that you
        must win, but it is extremely unlikely that you could beat it normally. You're going to
        need to cheese it.
    </div>

    <p>
        Before returning to the Aqua Gang alleyway in Lapis Ward, set the time to night and the
        weather to windy. Save in front of the Murkrow inside the alleyway, catch it, and soft
        reset with F12 if it doesn't have Prankster. Yes, you need prankster. Yes, you need to do
        this.
    </p>

    <p>
        Finally, before returning to Beryl, go back into the house and talk to the old bitch;
        then exit again. The piggy will come outside and give you a Bike Voucher, which you can
        use in the bike shop below to get a cool bike. Also, I didn't realise this til I was looking
        in the editor, but one of the NPCs in the Pokémart will give you <em>TM7 Hail</em>.
    </p>

    {{ ss("icyarrows", "Technically, you've just crossed two regions to get here.") }}

    <p>
        Now, we can return to Beryl Ward; first, go to the Abandoned Power Plant.
        I'm sure you already tried going down there, but rock smash the rock in front of the cave
        entrance next to enter Citrine Mountain 2F. The bulk of the mountain is blocked off by a
        Strength rock (you don't have that, yet), but if you follow the red arrow you will
        find a {{ sp("TOXICROAK") }}!
    </p>

    <p>
        The next stop is Beryl Cave (again), above the cemetery. Now armed with Flash, you can
        actually navigate through it! Within the cave you'll find a set of two Nuzleaf cages
        (huh?); the left one contains a lever that will open the door to the right one. Within
        you'll find Corey's {{ sp("NIDORINA") }}! <strong>I highly recommend you take the
        Nidorina.</strong>
    </p>

    <p>
        Exiting out at the very bottom of Beryl Cave, you'll be spat out in a secret area within
        the Rhidochrine Jungle (you might have seen this on some screenshots earlier). A bunch of
        Nuzleaves are hanging about and a Shiftry is standing in front of a totem pole. If you
        interact with the Shiftry, it'll clear out once you beat it in a battle. Now you can
        interact with the Totem Pole for two possible interactions:
    </p>

    <ul>
        <li>
            If you have an <i>ill-fated doll</i>, you will battle either an {{ sp("ELGYEM") }}, a
            {{ sp("BALTOY") }}, or a {{ sp("GOLETT") }}.
        </li>
        <li>
            If you don't, and the weather is clear, you will fight a {{ sp("NATU") }} instead.
        </li>
    </ul>

    <div class="notification is-danger-light">
        If it's clear, you don't have a doll, and Natu isn't appearing; for some reason there's
        a switch that explicitly disables the Natu event. I don't know what enables or disables
        this switch. If you talk to the rock next to you, it'll disable the switch and let you
        trigger the event. Use with caution!
    </div>

    <a href="#blacksteam" id="blacksteam">
        <h2 class="subtitle">Blacksteam Factory</h2>
    </a>

    {{ ss("blacksteam", "I did it, Kim! I teleported!") }}

    <p>
        Now, we can actually continue the story. Make your way to the second factory building at
        the far left of the Peridot Ward. First, talk to Ace and pick a nature to get a mint.
        Talk to Amaria for a cutscene, and then proceed inside to fight a double battle
        (next to her hilariously terribly named and overpowered gym battle team).
    </p>

    <p>
        Proceed forwards to get another set of cutscenes, whereupon you'll be knocked into a
        trapdoor and into a room with the most tedious puzzle known to humankind. (If you have the
        NG++ mod installed, it'll just skip it for you if you've done it before. Bless.
        But I have to do it again anyway to write out the steps.)
    </p>

    <p>
        The Pokémon here need to be interacted with in a specific order in order to break open
        the bars to your right. The steps are basically a loop of "make noise, teleport pokemon,
        make noise again, make guard fall asleep, use pokemon". So, let's do this in order. The
        most important Pokémon here are the Loudred (in the far right), the Abra (top centre),
        and the Jigglypuff (bottom right).
    </p>

    {{ ss("ihatethispuzzle", "Welcome to my unspecial hell.") }}

    <details style="padding-bottom: 1rem">
        <summary class="has-text-centered">Puzzle solution</summary>

        <ol>
            <li>
                First, to heat up the bars, interact with the Pokémon in this order:

                <ol>
                    <li>Loudred</li>
                    <li>Abra</li>
                    <li>Cyndaquil (bottom left)</li>
                    <li>Loudred</li>
                    <li>Jigglypuff</li>
                    <li>Cyndaquil (centre cage)</li>
                </ol>
            </li>

            <li>
                Next, to cool down the bars, interact with the Pokemon in this order:

                <ol>
                    <li>Loudred</li>
                    <li>Abra</li>
                    <li>Cyndaquil (centre cage)</li>
                    <li>Abra</li>
                    <li>Vanillite (top left)</li>
                    <li>Loudred</li>
                    <li>Jigglypuff</li>
                    <li>Vanillite (centre cage)</li>
                </ol>
            </li>

            <li>
                Finally, to actually break the bars, interact with the Pokémon in this order:

                <ol>
                    <li>Loudred</li>
                    <li>Abra</li>
                    <li>Vanillite (centre cage)</li>
                    <li>Abra</li>
                    <li>Roggenrola (bottom right)</li>
                    <li>Loudred</li>
                    <li>Jigglypuff</li>
                    <li>Roggenrola (centre cage)</li>
                </ol>
            </li>
        </ol>

    </details>

    <p>
        Optionally, you can also get a {{ sp("DITTO") }} after this. Talk to Abra, then Roggenrola,
        then Abra, then Vanillite, then Abra, then Makuhita. Talk to the Makuhita in the former
        Vanillite cage for Ditto to pop out. Once out of the cage, talk to the Grunt for an optional
        battle. The path forks into two here; to the left is a set of stairs that leads to a PULSE
        read-out and <em>TM49 Echoed Voice</em> (you need to slip out to the south).
    </p>

    <p>
        After that, continue onwards to the right path and up the stairs. Here, the first room at
        the top contains a <em>Super Potion</em> and the second room contains a computer that
        will unlock the front gate (meaning you can now exit and go to a Pokécentre, if needed.)
        To the south is a passage leading to a pair of gates; the computer here unlocks the
        frontmost one. Go up the stairs to the second floor.
    </p>

    <p>
        Again, there's a few possible exits here. The lower left room contains a Light Shard, the
        lower right room contains a large EXP Candy; the upper left room contains a Thunder Stone
        and the upper right room contains a computer that will unlock the second door downstairs.
        Once you go in there, you will find another cutscene and then a boss battle with ZEL and
        PULSE Muk.
    </p>

    {{ trainer_battle_content("ZEL", "ZEL", 2) }}

    <p>
        This thing is insanely bulky on the special side, so focus on physical attacks. It also has
        Gen 7 Protean, so be aware of its type every time. Once you put the Muk out of its misery,
        you get the <em>Harbour Key</em> which will give you access to Apophyll Island. There's
        nothing left for us here in Reborn City for quite a while, so head to the Coral Ward and
        open the unopenable warehouse to proceed.
    </p>
</div>

<div class="columns">
    <div class="column is-one-third has-text-left">
        <a href="/walkthroughs/06_badge3.html">
            <i class="bi bi-chevron-double-left"></i> Prev: Badge #3 and Badge #4
        </a>
    </div>

    <div class="column is-one-third has-text-centered" ></div>

    <div class="column is-one-third has-text-right">
        <a href="/walkthroughs/07_blacksteam.html">
            Next: Apophyll Island <i class="bi bi-chevron-double-right"></i>
        </a>
    </div>
</div>
{% endblock %}
