{% extends "_meta/walkthrough_page.html" %}
{% block hero %}
    {{ ss("piggystation2") }}
{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <p>
        Before doing anything, we need to trigger a cutscene at the Jasper<->Peridot gate; if you 
        walk into it, Cain will jump out at you and drag you into the piggy station. You need to go
        to a factory in Peridot Ward, so make a mental note of that for now.
    </p>

    <p>
        You can walk up through Beryl Ward to the Beryl Cemetery and talk to the spirit; if you 
        have a Mabostiff, she'll give you a {{ sp("GREAVARD") }} (this is a custom event, added 
        by this mod!!). If you smash the rocks previously blocking your way, you can enter 
        Beryl Cave - but without Flash, navigating it is difficult. I know where to find it so 
        make your way back down to the Obsidia Slum.
    </p>
    <a href="#rock-smashing-about" id="rock-smashing-about">
        <h2 class="subtitle">Rock Smashing About</h2>
    </a>

    <p>
        It's time to collect all of the events that we've missed! There's a lot, so bare with me
        here.
    </p>

    <p>
        There's a few areas here in the Slums that we want to explore. First up is the Slums
        Playground, which is a secret area hidden between the two escalators on the left side of
        B1F. (You should probably stock up on Repels first). You can unlock the door if you have
        the Dull Key (which you can pick up in the Railnet near the exit to Obsidia) 
        and then proceed into a jumping puzzle room.
    </p>

    {{ ss("jumpingarrows", "I'm already tired of these puzzles.") }}

    <p>
        Follow the red arrow to find... a Level 45 Pangoro. Activate the switch on the wall and then
        head down the right set of stairs to get a <em>Sun Stone</em>. Go back and follow the
        blue arrow to find... another Level 45 Pangoro. Again, activate the switch on the wall.
        Go down the stairs and follow the green arrow to find... a level 50 Pangoro! After beating
        him, the Scrafty you beat a handful of chapters ago will jump in and beat up the Pangoro gang,
        and one of his {{ sp("SCRAGGY") }} underlings will join you.
    </p>

    <p>
        When you're done, you can go back to the other hidden door on the other side of the
        basement floor and travel down to the area with the two smashable rocks. Break them open
        to end up in a lower section of the Underground Railnet! Go to the right to pick up a
        <em>Light Ball</em>, and then smash open the wall directly in front of 
        the entrance. The other path is blocked by a train, but we'll be back there very soon. 
        Enter it to find a narrow hallway that ends in <i>another</i> Rock Smashable wall... 
        which opens out into another small corridor. Smash the wall again to find the 
        <em>Scrafinite</em>. Press the switch on the wall and proceed to the left.
    </p>

    {{ ss("darkrailnet", "Dark. Darker. Yet, darker.") }}

    <p>
        This is a dark area which is a bit annoying as we're going down here to find Flash. Go
        straight to the left until you bump into a wall and you'll find a set of stairs below you.
        Go down these stairs, along a corridor, and down the stairs again to the lowest floor.
        Align yourself with the bannister of the stairs, walk straight up til you hit a rock, and
        then move one tile right. Go up again to find a Rock Smashable wall; break it open to find
        TMX8 Flash. If you have Easy HMs on, every dark cave will now be permanently illuminated;
        otherwise, you'll need to teach it to a Pokémon and use it from the party menu.
    </p>

    <p>
        With the ability to actually fucking see, you'll find a <em>Dusk Stone</em> and another
        breakable wall that has a <em>House Key</em> within it.
        (<strong>You really should pick this up now.</strong> ) It also has the field notes for
        the Cave field. If you headbutt the middle pole, you can farm infinite Arons. Walk back up 
        the stairs to find somebody who fell into the Railnet when the vines attacked Obsidia; talk 
        to him and he'll escape back to the surface. (He has your next sticker, by the way.) 
        Finally, there's a breakable wall up to the top that has an <em>Ability Capsule</em> in it.
    </p>

    <p>
        You can leave the slums now; there's nothing interesting here anymore (and there
        never will be again). Make your way back to the Obsidia Pokécentre and talk to the guy 
        you just rescued (to the left of the counter) to get the Aron sticker. Next stop is the 
        Onyx Ward.
    </p>

    {{ ss("gamblor", "It's Dragon Quest time.") }}

    <p>
        Now that you have the Coin Case (well, you had it a while ago), you can go into the arcade
        and start gambling. Interacting with a slot machine will open the slot machine minigame;
        as far as I can tell, you literally cannot lose with these. Just wager the max amount every
        time and you'll make a thousand coins in ~10 mins. Talking to the various NPCs might
        give you some extra coins on top of that as well. The Voltorb Flip minigame is safe by
        design but a bit tedious; the roulette minigame is a money sink.
    </p>

    <p>
        Next, go slightly to the right of the arcade and talk to the lady loitering outside the
        locked house. The key you found earlier is actually hers! Give the key to her and she'll
        reveal herself to be the Move Relearner. For only one Heart Scale she'll reteach any move
        that Pokémon used to (or could have) known. If you have the SWM Modpack installed, she can
        also teach egg moves! Her house also has <em>TM103 Pay Day</em>. You can mine Heart Scales
        from mineable rocks.
    </p>

    <p>
        On the second floor of the school you can find the student who was stuck at a computer
        playing a certain popular game. Tell him about the now-exploded North Obsidia stairs and
        he will move out of the way, letting you insert a Data Chip into his computer to catch a
        {{ sp("PORYGON") }}. Speaking of North Obsidia, there's now a summoning circle surrounding
        somebody selling Link Cables for just ten thousand dollarpounds. These let you evolve 
        Pokémon that normally would require a trade evolution instead, as long as you fulfil the
        other criteria for the evolution such as holding another required item. These guys will
        disappear after the 13th Badge, but you can buy the Link Cable a bit cheaper at the 
        Department Store then.
    </p>

    <a href="#gang-time" id="gang-time"><h2 class="subtitle">Joining A Gang</h2></a>

    <div class="notification is-info">
        Whilst this is technically optional <i>right now</i>, we need access to the alleyways
        that the gang members occupy to get an important Pokémon that we'll want very soon. No
        matter what, you <strong>have</strong> to join one of the gangs to progress the story
        further later on anyway. Good writing, there.

        <br/>

        If you don't plan on getting the good ending, you can ignore this entire part of the 
        walkthrough until <i>Chapter 12</i>, but you miss out on a bicycle and a small handful of
        exclusive Pokémon available until then.
    </div>

    <p>
        Whilst we're loitering in Obsidia, it's time to join a gang! There's two gangs here in
        Reborn City; the <span style="color: aqua">Aqua Gang</span> and the
        <span style="color: orangered">Magma Gang</span>! It's up to you which one you want to join,
        as the story is very similar in both. The Aqua Gang are found in the Lapis Ward alleyway,
        just to the right of the orphanage; the Magma Gang are found in the North Obsidia Ward
        alleyway, to the right of the nightclub. (You should talk to the person outside the Nightclub
        too, if he's there.)
    </p>

    {{ ss("baller", "Welcome to a life of crime.") }}

    <p>
        Each alleyway is guarded by two grunts; talk to them twice to start a double battle. After
        beating them, you'll be inducted into the gang and can get the unique TM within:
        <em style="color: aqua">TM41 Torment</em> for the Aqua alleyway, and 
        <em style="color: orangered">TM46 Thief</em> in the Magma alleyway. You'll be able to get
        both soon, so don't worry about losing out. Introduce yourself to the gang leader to find
        out about your first task; you'll be meeting up at an abandoned house in the Lapis Ward.
    </p>

    <p>
        Enter the house directly to the the right of the flower shop in Lapis Ward; a bit away 
        from the wall overlooking Peridot. Talk to the leader for some info on who your target is. 
        Next, go into the house directly below the Pokémon centre (you might have been here before 
        and shooed out) and travel straight through to the back of the room. Your target are the 
        Pokéballs on the table; the left-most one contains an evolution stone (
        a <span style="color: aqua">Water Stone</span> for Aqua, and a 
        <span style="color: orangered">Fire Stone</span> for Magma) and the middle one
        contains a Pokémon (<span style="color: aqua">{{ sp("PONYTA") }}</span> for Aqua, 
        <span style="color: orangered">{{ sp("BUIZEL") }}</span> for Magma). Talk to your leader 
        again and then skedaddle back to your home alleyway.
    </p>

    <p>
        Talk to the gang leader twice to get the next quest: the Gang Raid quest. Find the 
        other gang's hideout, beat the hell out of their leader. Now you have free access to both 
        alleyways. You can go back and talk to your gang leader to get either a 
        {{ sp("CARVANHA") }} or a {{ sp("HOUNDOUR") }} as a gift, each with a special egg move. 
    </p>

    {{ ss("murkrow", "Our secret weapon.") }}

    <p>
        Before returning to the Aqua Gang alleyway in Lapis Ward, set the time to night and the
        weather to windy. Save in front of the Murkrow inside the alleyway, catch it, and soft
        reset with F12 if it doesn't have Prankster. Yes, you need prankster. 
    </p>

    <div class="notification is-warning has-text-dark">
        The Murkrow is going to be used for a special encounter coming up soon which you have little
        to no chance of beating legitimately. Instead, we're going to cheese it with Prankster
        Perish Song which is by far the most reliable way of getting the kill. You need to beat
        this encounter to stay on the good ending route too.
    </div>

    <p>
        Finally, before returning to Beryl, go back into the house and talk to the old woman
        and then exit after being truthfully accused of thievery. The piggy will come 
        outside and give you a Bike Voucher, which you can use in the bike shop below to get a cool bike. 
    </p>

    {{ ss("icyarrows", "Technically, you've just crossed two regions to get here.") }}

    <p>
        Now, we can return to Beryl Ward; first, walk across the bridge to the Abandoned Power Plant.
        I'm sure you already tried going down there, but rock smash the rock in front of the cave
        entrance next to enter Citrine Mountain 2F. The bulk of the mountain is blocked off by a
        Strength rock (you don't have that, yet), but if you follow the red arrow you will
        find a {{ sp("TOXICROAK") }}!
    </p>

    <p>
        The next stop is Beryl Cave (again), above the cemetery. Now armed with Flash, you can
        actually navigate through it! Within the cave you'll find a set of two Nuzleaf cages
        (huh?); the left one contains a lever that will open the door to the right one. Within
        you'll find Corey's {{ sp("NIDORINA") }}! This is a great Pokémon for some of the upcoming
        battles; you'll also find a hidden Link Cable directly next to it.
    </p>

    <p>
        Exiting out at the very bottom of Beryl Cave, you'll be spat out in a secret area within
        the Rhidochrine Jungle (you might have seen this on some screenshots earlier). A bunch of
        Nuzleaves are hanging about and a Shiftry is standing in front of a totem pole. If you
        interact with the Shiftry, it'll clear out once you beat it in a battle. Now you can
        interact with the Totem Pole for two possible interactions:
    </p>

    <ul>
        <li>
            If you have an <i>ill-fated doll</i>, you will battle either an {{ sp("ELGYEM") }}, a
            {{ sp("BALTOY") }}, or a {{ sp("GOLETT") }}.
        </li>
        <li>
            If you don't, and the weather is clear, you will fight a {{ sp("NATU") }} instead.
        </li>
    </ul>

    <div class="notification is-danger-light">
        If it's clear, you don't have a doll, and Natu isn't appearing; for some reason there's
        a switch that explicitly disables the Natu event. Oh well. You can find one later on when
        we get to Route 1 or so.
    </div>

    <a href="#blacksteam" id="blacksteam">
        <h2 class="subtitle">Blacksteam Factory</h2>
    </a>

    {{ ss("blacksteam", "I did it, Kim! I teleported!") }}

    <p>
        It's time to actually continue the story. Make your way to the second factory building at
        the far left of the Peridot Ward. First, talk to Ace and pick a nature to get a mint.
        Talk to Amaria for a cutscene, and then proceed inside to fight a double battle
        (next to her terribly named and overpowered gym battle team).
    </p>

    <p>
        Go down the stairs to get another medium length cutscene, whereupon you'll be knocked into
        a trapdoor and fall into a room with a very tedious puzzle. (If you have the
        NG++ mod installed, it'll just skip it for you if you've done it before. Bless.
        But I had to do it again anyway to write out the steps.)
    </p>

    <p>
        The Pokémon here need to be interacted with in a specific order in order to break open
        the bars to your right. The steps are basically a loop of "make noise, teleport pokemon,
        make noise again, make guard fall asleep, use pokemon". So, let's do this in order. The
        most important Pokémon here are the Loudred (in the far right), the Abra (top centre),
        and the Jigglypuff (bottom right).
    </p>

    {{ ss("ihatethispuzzle", "Welcome to my unspecial hell.") }}

    <details style="padding-bottom: 1rem">
        <summary class="has-text-centered">Puzzle solution</summary>

        <ol>
            <li>
                First, to heat up the bars, interact with the Pokémon in this order:

                <ol>
                    <li>Loudred</li>
                    <li>Abra</li>
                    <li>Cyndaquil (bottom left)</li>
                    <li>Loudred</li>
                    <li>Jigglypuff</li>
                    <li>Cyndaquil (centre cage)</li>
                </ol>
            </li>

            <li>
                Next, to cool down the bars, interact with the Pokemon in this order:

                <ol>
                    <li>Loudred</li>
                    <li>Abra</li>
                    <li>Cyndaquil (centre cage)</li>
                    <li>Abra</li>
                    <li>Vanillite (top left)</li>
                    <li>Loudred</li>
                    <li>Jigglypuff</li>
                    <li>Vanillite (centre cage)</li>
                </ol>
            </li>

            <li>
                Finally, to actually break the bars, interact with the Pokémon in this order:

                <ol>
                    <li>Loudred</li>
                    <li>Abra</li>
                    <li>Vanillite (centre cage)</li>
                    <li>Abra</li>
                    <li>Roggenrola (bottom right)</li>
                    <li>Loudred</li>
                    <li>Jigglypuff</li>
                    <li>Roggenrola (centre cage)</li>
                </ol>
            </li>
        </ol>

    </details>

    <p>
        Optionally, you can also get a {{ sp("DITTO") }} after this. Talk to Abra, then Roggenrola,
        then Abra, then Vanillite, then Abra, then Makuhita. Talk to the Makuhita in the former
        Vanillite cage for Ditto to pop out. Once out of the cage, talk to the Grunt for an optional
        battle. The path forks into two here; to the left is a set of stairs that leads to a PULSE
        read-out and <em>TM49 Echoed Voice</em> (you need to slip out to the south).
    </p>

    <p>
        After that, continue onwards to the right path and up the stairs. Here the first room at
        the top contains a <em>Super Potion</em> and the second room contains a computer that
        will unlock the front gate (meaning you can now exit and go to a Pokécentre, if needed.)
        To the south is a passage leading to a pair of gates. The computer in front of the gates
        unlocks the first gate, leading to a light shard; go up the stairs to the second floor
        to continue.
    </p>

    <p>
        Again, there's a few possible exits here. The lower left room contains a Light Shard, the
        lower right room contains a large EXP Candy; the upper left room contains a Thunder Stone
        and the upper right room contains a computer that will unlock the second door downstairs.
        Once you go in there, you will find another cutscene and then a boss battle with ZEL and
        PULSE Muk.
    </p>

    {{ trainer_battle_content("ZEL", "ZEL", 2) }}

    <p>
        This thing is insanely bulky on the special side, so focus on physical attacks. It also has
        Gen 7 Protean, so be aware of its type every time. Once you put the Muk out of its misery,
        talk to Amaria to get the <em>Harbour Key</em> which will give you access to Apophyll Island. There's
        nothing left for us here in Reborn City for quite a while, so head to the Coral Ward and
        open the unopenable warehouse to proceed.
    </p>
</div>

{% endblock %}
