{% extends "_meta/walkthrough_page.html" %}

{% block hero %}     {{ ss("specialhell", "Oh no!") }} {% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <p>
        The Great Filter is a concept and solution to the Fermi paradox that dictates the reason
        we don't see any intelligent life out there in the stars is that some <i>event</i> happened
        between the first steps of life and reaching the ability to go out into the stars. What
        this step or event is specifically is hotly debated; with some hoping and believing it
        was in the far past (abiogenesis is just that unlikely, perhaps) and some believing it's
        in the near future (e.g. wiping ourselves out with nukes or global warming).
    </p>

    <p>
        Shelly's gym is the Great Filter of Pokémon Reborn. It is an absolutely massive difficulty
        spike relative to the previous two gyms, especially as she uses a Double Battle format. To
        make matters worse, the gym puzzle here is so notoriously hard that the devs added an
        official way to cheat through it.
    </p>

    {{ ss("gym1", "It says a lot about the game that the devs merely made a cheat for the puzzle.") }}

    <p>
        First, enter the gym through the lower exit. The puzzle here is that you need to use these
        computers to raise and lower bookshelves so that you can pass through the gym. I'll let
        you in on a secret: the right computer to interact with always has a green band on it.
        Notice how the computer on the right is green, whereas the one on the left is brown. Note
        that the very last computer is on the ledge which you can access by going through Shelly's
        bedroom.
    </p>

    <p>
        As I said, his is a really hard fight. If you mess up, press F12 to soft reset and try
        again. Maybe change your team around, too. Here's some tips:
    </p>

    <ul>
        <li>
            Her team can be understood as dual Water/Bug; she has two strong Bug/Water types
            and two Rain setters that are designed to wipe out any unsuspecting Fire-type users that
            challenge her. You can respond in kind with your own water type attacks.
        </li>
        <li>
            You need {{ mv("FAKEOUT") }}. {{ sp("PURUGLY") }} has it and is fast and strong, 
            male {{ sp("MEOWSTIC") }} has it and is not that fast or strong (and it's a psychic 
            type), and {{ sp("LIEPARD") }} has it and is fast with Prankster. Keep your Fake Out
            attacker healthy and use U-Turn to keep it in play as much as possible and the battle
            will be dramatically easier.
        </li>
        <li>
            You can rock up to her with like four separate flying types; {{ sp("UNFEZANT") }} has
            a strong moveset with {{ mv("TAILWIND") }}, {{ sp("TALONFLAME")}} has Gale Wings, 
            {{ sp("PIDGEOTTO") }} has Air Slash and Steel Wing, and {{ sp("FEAROW") }} has
            Intimidate and Agility.
        </li>
        <li>
            Speed control is essential here; her {{ sp("YANMEGA") }} is really fast and has Speed
            Boost. Make sure you have speed boosting natures and EVs.
        </li>
        <li>
            Her {{ sp("ANORITH") }} gets a turn of invicibility on switch-in; if you attack it,
            that's a wasted move and you take damage as a bonus. Get your flying types off the field
            as it has a Rock-type spread move ready to dump on you.
        </li>
        <li>
            {{ sp("ANNIHILAPE") }} with Rage Fist is good as an emergency neutral check if you
            need it.
        </li>
    </ul>

    {{ trainer_battle_content("Shelly", "SHELLY", 0) }}

    <a href="#antipsychiatry" id="antipsychiatry"><h2 class="subtitle">
        Death To Psychiatry
    </h2></a>

    {{ ss("antipsychiatry1", "Least evil psychiatrist.") }}

    <p>
        After you beat Shelly, the Psykkkiatrist turns up at the Gym. He insults the shit out of
        Cal for losing (who then pushes Shelly down and runs away), and forces you outside. 
        The Sex Pest is here and also wants to battle you. Blast! You can't do anything until you
        do, so...
    </p>

    {{ trainer_battle_content("Cain", "Cain", 2) }}

    <p>
        The Psykkkiatrist then comes out of the gym to find Heather, who he forcibly adopts. 
        Despite the fact that Reborn's entire police force is spent fighting actual terrorists, 
        both you and Cain immediately acquiesce to his threats of arresting you; yet for some reason
        you decide to raid the orphanage to rescue her anyway. Heal up and then make your way to 
        and enter the orphanage at the bottom of Lapis. You'll enter into a double battle with two
        orderlies, so beat them and proceed down the doorway directly in front of you to continue.
    </p>

    <p>
        Go up the staircase to battle even more orderlies; these ones lock the gate so that
        you can't proceed further. Go back downstairs and down the hall that that was previously
        straight in front of you; there's an area at thee bottom with a <i>Data Chip</i> and a
        computer that unlocks the gate. Going all the way upstairs again, there's another gate
        which can't be unlocked by the computer next to it. You can unlock the patient quarters
        instead and then run all the way back downstairs to help Cain in order to get the ID
        that you need. Unlock the door to Charlotte and run <i>all the way back up</i> to the
        top for the third time.
    </p>

    {{ ss("avgmentalhealthtreatment") }}

    <p>
        <strong>Save the game</strong> before going up the last sets of stairs. You all confront
        the psykkkiatrist in his torture chamber room, rescue Heather, and decide to cheese it
        to the Underground Railnet. You get blocked off by the psykkkiatrist as
        soon as everyone but you and Anna leave, so battle him to earn your freedom.
    </p>

    {{ trainer_battle_content("Sigmund Connal", "DOCTOR", 2) }}

    <p>
        Don't take Anna's offer to go to the Underground Railnet just yet; you'll want to walk down
        to the Grand Staircase instead. Now that you're armed with Rock Smash, you can break the
        rocks that previously blocked you on the first floor and find a Black Belt; talking to him
        will give you the <em>Mining Kit</em>.
    </p>

    {{ ss("lefirestonetime", "Press F12 to restart your computer.") }}

    <p>
        Now that you're done with that, you can proceed to the north part of the Opal Ward to
        re-enter the Underground Railnet.
    </p>

    {{ ss("gymtexty", "I definitely didn't forget to take this screenshot til after I beat the gym.") }}

    <p>
        You will find your motley crew of runaway orphans waiting by a gate. They can't get it open 
        because there's no power. On the right side is the door to Obsidia Ward blocked off by 
        another gate; you can open it up using the switch right next to it. To the bottom right 
        is the Dull Key which you should collect to unlock an extra event soon.
    </p>

    <p>
        Unlike most other badges, we're going beeline straight to the next gym before doing any
        events - in the Abandoned Power Plant to the west of Beryl Ward. There's no gym puzzle here;
        just activate all of the computers on both sides, showing you some eerie predictions. 
        Travel upwards to fight Shade. A few tips here:
    </p>

    <ol>
        <li>
            Corsola <i>will</i> get Stealth Rocks up on you. Knock Off its Eviolite to make it
            less ridiculously bulky.
        </li>
        <li>
            Your Klink ({{ sp("KLANG") }}, by now) that you should've caught in Obsidia can learn Discharge,
            which heavily neuters his whole team. Just be aware that Mimikyu knows Thunderbolt
            and can screw you over easily with this tactic; but Klang can hit back hard with Gear
            Grind which should be a one-hit (two, technically) KO.
        </li>
        <li>
            {{ sp("FEAROW") }} is an incredible catch here - <strong>just be sure not to
            evolve it until after Level 22</strong>. Fearow learns Assurance at Level 22, which
            is both reliable Dark STAB and an emergency revenge killer.
        </li>
        <li>
            {{ sp("SKUNTANK") }} with Knock Off can deal some decent damage, as can 
            {{ sp("ANNIHILAPE") }} with Rage Fist; both can be caught in Reborn City.
        </li>
        <li>
            His Rotom and Banette will both levitate. Keep that in mind.
        </li>
        <li>
            His most dangerous Pokémon by far is his Mimikyu; Disguise lets it tank a hit and
            set up with Swords Dance. 
        </li>
    </ol>

    {{ trainer_battle_content("Shade", "SHADE", 0) }}

    <p>
        You'll get a cutscene where your gang of orphans are stolen by Team Meloni; it's your job
        to save them. Fuck that! With access to Rock Smash there's a bunch of events we missed
        out first.
    </p>

</div>

{% endblock %}
