{% extends "_meta/walkthrough_page.html" %}
{% set NAME = "06_badge3" %}
{% block title %}Badge #3 & Badge #4: Lapis Gym{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <h1 class="title">Lapis Gym & Abandoned Power Plant</h1>

    {{ ss("specialhell", "Oh no!") }}

    <p>
        The Great Filter is a concept and solution to the Fermi paradox that dictates the reason
        we don't see any intelligent life out there in the stars is that some <i>event</i> happened
        between the first steps of life and reaching the ability to go out into the stars. What
        this step or event is specifically is hotly debated; with some hoping and believing it
        was in the far past (abiogenesis is just that unlikely, perhaps) and some believing its
        in the near future (e.g. wiping ourselves out with nukes or global warming).
    </p>

    <p>
        Shelly's gym is the Great Filter of Pokémon Reborn. It is an absolutely massive difficulty
        spike relative to the previous two gyms, especially as she uses a Double Battle format. To
        make matters worse, the gym puzzle here is so notoriously hard that the devs added an
        official way to cheat through it.
    </p>

    <div class="notification is-info">
        Whilst it isn't <i>mandatory</i>, having a Pokémon with fast Fake Out will make this fight
        so much easier as it will stop her from setting up rain. You can then sweep her with
        any good fire type very easily. There's a few options for this; {{ sp("PURUGLY") }} from
        the lower Obsidia salon is fast as hell, does high damage, and has access to Fake Out and
        U-Turn. <i>Male</i> {{ sp("MEOWSTIC") }} with Prankster is available from the North Obsidia
        Ward alleyway (to the far left of the stairs) and has Fake Out (but kinda sucks due to being
        a Psychic type against bug types...).
    </div>

    {{ ss("gym1", "It says a lot about the game that the devs merely made a cheat for the puzzle.") }}

    <p>
        First, enter the gym through the lower exit. The puzzle here is that you need to use these
        computers to raise and lower bookshelves so that you can pass through the gym. I'll let
        you in on a secret: the right computer to interact with always has a green band on it.
        Notice how the computer on the right is green, whereas the one on the left is brown. Note
        that the very last computer is on the ledge which you can access by going through Shelly's
        bedroom.
    </p>

    <p>
        Like I said, this is a really hard fight. If you mess up, press F12 to soft reset and try
        again. Maybe change your team around, too. Here's some tips:
    </p>

    <ul>
        <li>
            Fire types are obviously incredibly strong against her, so she will lead with an
            {{ sp("ARAQUANID") }} that has Rain Dance and a Damp Rock. <strong>Do not let it set up.</strong>
            Use your Fake Out and double-team it if you have to.
        </li>
        <li>
            She has a {{ sp("DOTTLER") }} instead of her Volbeat/Illumise combo, which is very
            bulky and has screens and webs. Make sure to kill it before it can set up Light Screen
            as well!
        </li>
        <li>
            A good Fire-type with Incinerate will carve through her team, minus Anorith.
        </li>
        <li>
            Likewise, Flying-types will carve through it. You can get {{ sp("SPEAROW") }} from
            the Beryl Ward and evolve it into {{ sp("SPEAROW") }} early on.
        </li>
        <li>
            Anorith is the most difficult to deal with as it handily defeats Fire types and Flying
            types with its switch-in turn Spiky Shield item and Rock Slide spread move. But you can
            OHKO it with any weak Water move the next turn.
        </li>
    </ul>

    {{ trainer_battle_content("Shelly", "SHELLY", 20) }}

    <a href="#antipsychiatry" id="antipsychiatry"><h2 class="subtitle">
        Death To Psychiatry
    </h2></a>

    {{ ss("antipsychiatry1", "Least evil psychiatrist.") }}

    <p>
        After you beat Shelly, the Psykkkiatrist turns up at the Gym. He insults the shit out of
        Cal for losing (who then pushes Shelly down and runs away), and forces you outside. Alas,
        the Sex Pest is here and also wants to battle you. Blast! You can't do anything until you
        do, so...
    </p>

    {{ trainer_battle_content("Cain", "Cain", 22) }}

    <p>
        The Psykkkiatrist then comes out of the gym to find Heather, who he forcibly adopts. Oh no,
        pt 3 ! This means it's up to you, Cain, and Shelly to go and rescue her! Go down to the
        orphanage and try the door to gain entry. (Oh yeah, you should probably have healed your
        Pokémon before this.) You end up in a double battle with two orderlies after one of the
        orphanage kids makes a diversion; beat them and proceed down the doorway immediately
        to the front of you to continue.
    </p>

    <p>
        Go up the staircase to battle even more orderlies; these ones lock the gate so that
        you can't proceed further. Go back downstairs and down the hall that that was previously
        straight in front of you; there's an area at thee bottom with a <i>Data Chip</i> and a
        computer that unlocks the gate. Going all the way upstairs again, there's another gate
        which can't be unlocked by the computer next to it. You can unlock the patient quarters,
        however, and then run all the way back downstairs to help Cain in order to get the ID
        that you need. Unlock the door to Charlotte and run <i>all the way back up</i> to the
        top for the third time.
    </p>

    {{ ss("avgmentalhealthtreatment") }}

    <p>
        <strong>Save the game</strong> before going up the last sets of stairs. You all confront
        the psykkkiatrist in his torture chamber room, rescue Heather, and decide to skedaddle
        to the Underground Railnet. Unfortunately, you get blocked off by the psykkkiatrist as
        soon as everyone but you and Anna leave, and you have to battle him for your freedom.
    </p>

    {{ trainer_battle_content("Sigmund Connal", "DOCTOR", 22) }}

    <p>
        Don't take Anna's offer to go to the Underground Railnet just yet; you'll want to walk down
        to the Grand Staircase instead. Now that you're armed with Rock Smash, you can break the
        rocks that previously blocked you on the first floor and find a Black Belt; talking to him
        will give you the <em>Mining Kit</em>.
    </p>

    {{ ss("lefirestonetime", "Press F12 to restart your computer.") }}

    <div class="notification is-info">
        Editor's note: During the writing of this, I assumed that you would need an Arcanine to
        breed Growlithe eggs. Turns out - you don't! So, uh, you should breed your Growlithe from
        the Jasper police and get an egg, then return to the officer to get a Mystery Egg. You
        could've done this at any time since. Oops!
    </div>

    <p>
        Now that you're done with that, you can proceed to the north part of the Opal Ward to
        re-enter the Underground Railnet.
    </p>

    {{ ss("gymtexty", "I definitely didn't forget to take this screenshot til after I beat the gym.") }}

    <p>
        Down in the Underground Railnet, you will find your motley crew of runaway orphans waiting
        by a gate. They can't get it open because there's no power. On the right side is the
        door to Obsidia Ward blocked off by another gate; you can open it up using the switch right
        next to it. To the bottom right is the Dull Key which you should collect to unlock an extra
        event soon.
    </p>

    <p>
        Unlike most other badges, we're going beeline straight to the next gym before doing any
        events - in the Abandoned Power Plant to the west of Beryl Ward. There's no gym puzzle here;
        just activate all of the computers on both sides. Then, you can travel upwards to fight
        Shade. A few tips here:
    </p>

    <ol>
        <li>
            Cursola <i>will</i> get Stealth Rocks up on you. Try and get a Rapid Spinner to avoid
            this, and Knock Off its Eviolite so that it isn't ridiculously bulky.
        </li>
        <li>
            Your Klink (Klang, by now) that you should've caught in Obsidia can learn Discharge,
            which heavily neuters his whole team. Just be aware that Mimikyu knows Thunderbolt
            and can fuck you easily.
        </li>
        <li>
            Houndstone here is incredibly dangerous, with Last Respects acting as an emergency
            kill card against you. Make sure you have a Normal type ready to stop that;
            {{ sp("PURUGLY") }} can deal with it with Knock Off. (Be warned of Body Press).
        </li>
        <li>
            {{ sp("FEAROW") }} is an incredible catch here - <strong>just be sure not to
            evolve it until after Level 22</strong>. Fearow learns Assurance at Level 22, which
            is both reliable Dark STAB and an emergency revenge killer.
        </li>
        <li>
            His most dangerous Pokémon by far is his Mimikyu; Disguise lets it tank a hit and
            set up with Swords Dance. Like I said before, it also has Thunderbolt which means it
            benefits heavily from you removing the field. Multi-hit moves like Gear Grind are
            essential here.
        </li>
        <li>
            You have no Fake Out control here, so try and find something with Sucker Punch to act
            as priority; {{ sp("MIGHTYENA") }}, for example.
        </li>
    </ol>

    {{ trainer_battle_content("Shade", "SHADE", 20) }}

    <p>
        You'll get a cutscene where your gang of orphans are stolen by Team Meloni; so obviously,
        its your job to rescue them. Fuck that! Now that we've got Rock Smash
        we've got a <i>lot</i> of things to catch up with.
    </p>

</div>

<div class="columns">
    <div class="column is-one-third has-text-left">
        <a href="/walkthroughs/05_north_obsidia.html">
            <i class="bi bi-chevron-double-left"></i> Prev: North Obsidia Ward
        </a>
    </div>

    <div class="column is-one-third has-text-centered" ></div>

    <div class="column is-one-third has-text-right">
        <a href="/walkthroughs/07_blacksteam.html">
            Next: Blacksteam Factory <i class="bi bi-chevron-double-right"></i>
        </a>
    </div>
</div>
{% endblock %}