{% extends "_meta/walkthrough_page.html" %}

{% block hero %}
    {{ ss("gen5represent", title="Save in front of this sign to softlock your game.") }}
{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <p>
        The next area is North Obsidia Ward, the third and last part of Obsidia Ward you can travel
        to. You can't get to it through the normal ward, so instead you should walk across the
        Opal bridge to the North, where the pig that was previously blocking your path has gone to
        guard the now-exploded stairs. Talk to Fern and then follow him up the stairs to the final
        ward of Reborn City: Lapis Ward. Make sure to clear both maps of encounters before
        proceeding through the story.
    </p>

    <div class="notification is-success is-light">
        The pinata trainers in the Grand Hall now start giving 5x Exp Candy Ms instead of the
        Exp Candy Ses at the start of the game.
    </div>

    {{
    ss(
        "thankscorey",
        title="By my estimate, if Corey jumped into the Desert instead of into the Lapis Ward, then
               somewhere north of 90% of the story could've been avoided."
    )
    }}

    <p>
        At the top of the ward is the inaccessible Lapis Gym. The leader and her support worker are
        standing next to the dead body from before. Talk to them for a small cutscene before you can
        head back to North Obsidia to advance the plot. In the apartment building next to them
        is <em>TM165 Reversal</em>. You can also buy some Honey and a Floral Charm in the flower
        shop on the far left of the ward to save some backtracking in a few chapters time. One
        of the houses has an NPC that feels frustrated, and you can get <em>TM21 Frustration</em>
        from him. In the Pokémart is a cultist NPC that gives you <em>TM07 Hail</em>.
    </p>

    <p>
        Before investigating the Grand Staircase again there's an opportunity to get your third
        Department Store sticker. Go into the house to the immediate right of the Pokémart and talk
        to the woman within; she'll tell you about her missing son who surely isn't anywhere further
        than the Beryl Bridge. Right?
    </p>

    <div class="notification is-info">
        This event is a little bit jank; you might have already found the boy being cornered by a
        Drifloon earlier and "rescued" him. Talking to the mother simply skips this part.
    </div>

    <p>
        You can find him cornered by three Venipedes in the upper part of Jasper Ward. Kill them to
        set him free, and he'll skedaddle back to the Lapis Ward. Follow him all the way back
        and talk to his mother to get your third sticker: the Drifloon sticker!
    </p>

    <p>
        Having done all of that, you can go back to North Obsidia Ward and talk to Cain to move the
        story along. He distracts a piggy so that you can sneak past; if you interact with the duo
        you'll get some (<i>through clenched teeth</i>) funny dialogue here.
    </p>

    {{ ss("crystals", "Well, the first part of the muisc is banging anyway.") }}

    <p><i>♫ - Pokémon Diamond and Pearl- Mt. Coronet (Remix)</i></p>

    <p>
        Go down the ladder to find a {{ mp(177, "crystal cavern") }} below the Grand Staircase. 
        There's only one way to go here, so climb down the second ladder to make it to the next 
        floor; walk straight down and climb down the <i>third</i> ladder to make it to the bottom 
        floor. Keep going downwards until you find a handful of ledges.
    </p>

    {{ ss("jumpingarrows", "We've got you surrounded! Jump down a ledge!") }}

    <p>
        Here is a little jumping "puzzle" with one-way cliffs. There's four possible paths, each
        indicated with a different coloured arrow.
    </p>

    <ol>
        <li>
            The red arrow just leads you back to the start of the cave. Fuck you.
        </li>
        <li>
            The blue arrow takes you to an area with a martial artist, who will give you three
            Medium EXP Candies, and then the route dumps you back at the start of the puzzle.
        </li>
        <li>
            The green arrow is the route you actually want to take! But don't do it yet, because...
        </li>
        <li>
            The orange arrows takes you to a small area that has an inaccessible {{ sp("LUNATONE") }},
            but more importantly, it will loop back to give you an <em>Ability Capsule!</em>
        </li>
    </ol>

    <p>
        On one of the ledges with a rock there's a hidden Focus Sash (use the Item Finder). On the 
        third floor, you will find Greater Sephiroth (one of them, anyway) who will explain 
        about how Reborn City is built on a holy site - the meteor, hence their name. 
        When he's done, walk down and to the left to find Victoria. Talk to the grunts for a 
        battle, and when you've broken all four shins Victoria will make her way out of the staircase.
    </p>

    <p>
        <strong>Heal your team</strong> and then talk to Victoria in North Obsidia. She'll ask
        to fight you. Both of these battles have been buffed to actually have all six Pokémon this
        time.
    </p>

    {{ trainer_battle_content("Victoria", "Victoria", 3) }}

    {{ ss("sotrue!", "Honestly, this is my favourite convo in the game.") }}

    <p>
        Unfortunately, Fern shows up, brags about making a child cry, tries to flirt with Victoria,
        insults her, and challenges you to another battle.
    </p>

    {{ trainer_battle_content("Fern", "Hotshot", 2) }}

    <p>
        After all of this, Victoria gives you the TMX for Rock Smash. You can't use it yet, as you
        need the third Gym Badge, but that's where she's heading: follow her! When you go into
        the Lapis Ward, the weather changes by itself to rain. Uh oh. You can't set it back to
        anything else with the Pokégear either. Double uh oh. <strong>Heal your team and save the
        game</strong>.
    </p>

    <p>
        Now you can enter the Lap- if you try and enter the Lapis Gym, Cal (one of the duo from
        earlier) will come out and battle you. He uses all fire types on a Rainbow Field, created
        by his leading Torkoal.
    </p>

    {{ trainer_battle_content("Cal", "OLDCAL", 0) }}

    <p>
        Once you beat him, there's a cutscene outside the gym, and then a slightly more irritating
        one inside the gym. Cal suggests (a stupid fucking suggestion) to get the local psykkkiatrist
        to help; he's at the bottom of the Lapis Ward in the Orphanage building. Heal before you
        enter it as there's a cutscene followed by a battle; then return to the gym for your 
        actual Gym battle. Oh no.
    </p>

</div>

{% endblock %}
