{% extends "_meta/walkthrough_page.html" %}
{% set NAME = "05_north_obsidia" %}
{% set LEFTLINK_ID = "04_rhidochrine"%}
{% set LEFTLINK_NAME = "Badge 3 Pt 1: Rhidochrine Jungle" %}
{% set RIGHTLINK_ID = "06_blacksteam" %}
{% set RIGHTLINK_NAME = "Badge #3 & Badge #4: Lapis Gym" %}
{% block title %}Badge #3, Pt 2: North Obsidia{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <h1 class="has-text-centered title">North Obsidia Ward</h1>

    {{ ss("gen5represent", title="Save in front of this sign to softlock your game.") }}

    <p>
        It's time to get going to North Obisida Ward. There's a bunch of gaping holes in regular
        Obsidia ward blocking you, but now the piggy that was previously blocking you has
        disappeared to guard the now-exploded stairs instead. There's... actually nothing to do
        here yet except talk to Fern, so do that and then follow him up the stairs into the Lapis
        Ward.
    </p>

    {{
    ss(
        "thankscorey",
        title="By my estimate, if Corey jumped into the Desert instead of into the Lapis Ward, then
               somewhere north of 90% of the story could've been avoided."
    )
    }}

    <p>
        At the top of the ward is the Lapis Gym (more on that later)... but you can't go in it yet;
        the gym leader is standing outside, right next to Corey's dead body. Uh oh! Move up towards
        the duo to get a cutscene between them, two Team Italy members, and some mysterious floating
        guy. (And then another one with the sex pest. Great.)
    </p>

    <p>
        Before going back to the Grand Staircase there's an opportunity to get your third
        Department Store sticker. Go into the house to the immediate right of the Pokémart and talk
        to the woman within; she'll tell you about her missing son who surely isn't anywhere further
        than the Beryl Bridge. Right?
    </p>

    <div class="notification is-info">
        This event is a little bit jank; you might have already found the boy being cornered by a
        Drifloon earlier and "rescued" him. Talking to the mother simply skips this part.
    </div>

    <p>
        You can find him cornered by three Venipedes in the upper part of Jasper Ward. Kill them to
        set him free, and he'll skedaddle back to the Lapis Ward. Follow him all the way back
        and talk to his mother to get your third sticker: the Drifloon sticker!
    </p>

    <p>
        Having done all of that, you can go back to North Obsidia Ward and talk to Cain to move the
        story along. He distracts a piggy so that you can sneak past; if you interact with the duo
        you'll get some (<i>through clenched teeth</i>) funny dialogue here.
    </p>

    {{ ss("crystals", "Well, the first part of the muisc is banging anyway.") }}

    <p><i>♫ - Pokémon Diamond and Pearl- Mt. Coronet (Remix)</i></p>

    <p>
        Once you go down the ladder, you enter the lower levels below the Grand Staircase. This is
        one of the prettiest areas in the whole game and it has a decent remix to go alongside it.
        Go down the ladder to enter the second floor. You can't go left or right here, so go down
        the next ladder to B2F. Likewise, there's only one possible direction here and it's ]
        downwards (although, to the right, there is the TM for Eerie Impulse. Not worth it.)
    </p>

    {{ ss("jumpingarrows", "We've got you surrounded! Jump down a ledge!") }}

    <p>
        Here is a little jumping "puzzle" with one-way cliffs. There's four possible paths, each
        indicated with a different coloured arrow.
    </p>

    <ol>
        <li>
            The red arrow just leads you back to the start of the cave. Fuck you.
        </li>
        <li>
            The blue arrow takes you to an area with a martial artist, who will give you three
            Medium EXP Candies, and then the route dumps you back at the start of the puzzle.
        </li>
        <li>
            The green arrow is the route you actually want to take! But don't do it yet, because...
        </li>
        <li>
            The orange arrows takes you to a small area that has an inaccessible mega stone,
            but more importantly, it will loop back to give you an <em>Ability Capsule!</em>
        </li>
    </ol>

    <p>
        Once you've gone down to the third floor, you will find Greater Sephiroth (one of them,
        anyway) who will monologue to you about how Reborn City is built on a holy site. When he's
        done, walk down and to the left to find Victoria. Talk to the grunts for a battle, and
        when you've broken all four shins Victoria will make her way out of the staircase.
    </p>

    <p>
        <strong>Heal your team</strong> and then talk to Victoria in North Obsidia. She'll ask
        to fight you.
    </p>

    {{ trainer_battle_content("Victoria", "Victoria", 23) }}

    {{ ss("sotrue!", "Honestly, this is my favourite convo in the game.") }}

    <p>
        Unfortunately, Fern shows up, brags about making a child cry, tries to flirt with Victoria,
        insults her, and challenges you to another battle.
    </p>

    {{ trainer_battle_content("Fern", "Hotshot", 22) }}

    <p>
        After all of this, Victoria gives you the TMX for Rock Smash. You can't use it yet, as you
        need the third Gym Badge, but that's where she's heading: follow her! When you go into
        the Lapis Ward, the weather changes by itself to rain. Uh oh. You can't set it back to
        anything else with the Pokégear either. Double uh oh. <strong>Heal your team and save the
        game</strong>.
    </p>

    <p>
        Now you can enter the Lap- if you try and enter the Lapis Gym, Cal (one of the duo from
        earlier) will come out and battle you. He uses all fire types on a Rainbow Field, created
        by his leading Torkoal.
    </p>

    {{ trainer_battle_content("Cal", "OLDCAL", 20) }}

    <p>
        Once you beat him, Victoria comes up to see what the commotion was, then enters the gym to
        comfort the traumatised Shelley. Cal suggests (what a stupid fucking suggestion) that
        you go and get the local psykkkiatrist to help her with things. He's at the very bottom of
        Lapis Ward, in the orphanage building. If you try and enter, someone comes out and
        skeddadles away down to the exit. Enter again for a big, long cutscene where you get
        introduced to all the victims at the orphanage.
    </p>

    <p>
        Anna (the younger girl) tells you not to invite the evil psykkkiatrist over as he just
        tortures children with ECT (good advice to follow in life, generally). Go back to the
        gym and Shelley will get ready for your gym battle. Oh no.
    </p>
</div>

{% endblock %}
