{% extends "_meta/walkthrough_page.html" %}

{% block hero %}{{ ss("hero") }}{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <p>
        What's that? You thought that there's a bunch of content you can go back for now that you 
        have Waterfall?
    </p>

    <p>
        Well, yes. You're right! Go get em. The Mountains of Doom are unnavigable as-is; I do not
        really have the willpower to write out all the guides for getting all the stuff you need.
        Don't worry, you'll have to go back there in the postgame anyway (yay?). Here's something
        to entice you: Psyshock.
    </p>

    <hr/>

    {{ ss("eclipse") }}

    <div class="notification is-warning is-light">
        The cracks in Reborn's gameplay start to manifest <i>hard</i> from this point forwards.
    </div>

    <div class="notification is-danger">
        Before going down here, catch something that knows {{ mv("BLIZZARD") }} via level-up and make sure
        it's fully levelled up. Take it from somebody that didn't do it the first two times they
        played; you'll <i>really</i> want to use it.
    </div>
    
    <p>
        You're going to Route 4 to catch an {{ sp("ABOMASNOW") }} anyway, so let's check in with
        the denizens of Calcenon Ctiy first. The house at the very top-right has Eclipse's father
        in it; if you go in there you'll get a cutscene with him and Aster, and her room is now
        unlocked. If you didn't use the Shiny Charm password at the beginning of the game, you can
        find it in that room. You can talk to Cain and Hardy outside for some relationship points,
        but there's nothing else to be done here (except the secret room. More on that later.)
    </p>

    <h2 class="subtitle">Water Treatment Centre</h2>

    <p>
        When you're ready, proceed down the waterfall at the bottom of the Celestine Cascade to
        enter the Water Treatment Facility. You'll also see a preview of Neo Reborn City as you
        go down... (if you clip out of one of the mountains and back onto Route 1, you'll find
        that it hasn't really been restored.)
    </p>

    {{ ss("treatment") }}

    <p>
        Disembark on the right to talk to Titania, who has killed two grunts. (This is an adult
        game for adults.) She kills another one, for good measure, and then you can advance
        into the main room. I'm not sure if I could class this as the worst puzzle - it has some
        fierce competition - but it's a very bad puzzle, especially with the overhead perspective.
        Jump over the rubbish piles and onto the centre platform which will lower the water level.
        You can get back up to the exit by following the stairs across to another room.
    </p>

    <p>
        (Yeah, you saw that right. The water level here somehow isn't global. More on that later!)
    </p>

    <details>
        <summary>FULL Water Treatment Plant Puzzle Solution</summary>

        <p>
            This is the solution up until you fight PULSE Swalot.
        </p>

        {{ ss("pz1") }}
    
        <p>
            Talk to Titania to have her jump across the rubbish piles; it's up to you to solve the rest
            of the puzzle. First, jump straight across the rubbish piles to unlock a gate to your left.
            Now, the perspective here makes it really hard to solve these puzzles sometimes, but you 
            need to push the rubbish piles you jumped over first to allow you to jump past the broken
            turnstiles. The piles will always float upwards one tile when you re-raise the water
            level, so just push both piles right here.
        </p>

        <p>
            Jump across and activate the computer at the top, which will activate the turnstile.
            The "G.U.M" room is locked, so go into the door at the right of the room to continue.
            You'll get a small cutscene and Titania gets trapped on an island.
        </p>

        {{ ss("pz2") }}

        <p>
            First, get down on the floor and push the rubbish pile here. Then find the stairs at the
            top of the room and jump across to find an acolyte guarding the water level machine.
            Activate it to let Titania jump across, who will then open the shutter below. There's
            something a little bit weird about this puzzle... but we'll come back to that. Lower
            the water level again and proceed to the next room via the newly accessible stairs.
        </p>

        <p>
            In the next room, walk all the way to the bottom to find a double battle with two
            acolytes (obviously, Titania kills them. Adult game for adults.) before Titania gets
            stuck on an island again. The water level changer is at the top left of the room,
            guarded by another acolyte, but it doesn't help you much yet.
        </p>

        {{ ss("pz3") }}

        <p>
            Move the rubbish pile into position here first. You can hook it around the corner with
            the convenient cubby below. Raise the water level to have Titania jump across it.
        </p>

        {{ ss("pz4") }}

        <p>
            Move the pile up to here again, and raise the water level to have Titania jump
            across it again and lower the shutter that was blocking your way. Lower the water level
            for a final time to open up a path via the stairs into the next room.
        </p>

        <p>
            This will bring you back to the Central Obsidia room behind a turnstile that previously
            blocked your route. Activate the computer to activate the turnstile but don't go through
            it; instead, first go down the stairs to find a way to the previously blocked off
            rubbish piles here.
        </p>

        {{ ss("pz5") }}

        <p>
            Don't get tricked; both piles need to be in the centre. Go back through the turnstile
            to activate the water level machine then jump across the moved patches to open the
            shutter that previously blocked you. Walk back up to the top, lower the level again,
            and walk back down through where the shutter was to find another set of stairs that
            you can use to access the next room - the central room.
        </p>

        <p>
            After walking up a bit in here, you'll get another cutscene; this is the central
            turbine room. Titania takes the north, and you take the west; your instinct may be
            to ignore her and go straight north, but just go to the west door and activate the
            computer to unblock a one-way turnstile. There's nothing else in here, so we will
            actually go straight to the north. This leads back to the very first room, but now
            the shutter that was here previously is unblocked.
        </p>

        {{ ss("pz6") }}

        <p>
            There's not much else to do, so move the rubbish piles in this room to the other side 
            and raise the water level to jump over them. Hey, look: you're on the other side of
            the turnstile you just unlocked! Jump across the rubbish piles and activate the computer
            to unlock... the locked door at the top of the area (the System Storage room). You can
            get a Fennekin in here if you really want, but it's an extra puzzle I don't really
            feel like explaining here.
        </p>

        <p>
            Go back through the turnstile, lower the water level, then make your way all the way
            back here (sigh) to open up the stairs. Follow them across the room into a new room,
            where you will find Titania again. The only path here is down the stairs and into some
            more acolytes; beat them for another cutscene where you need to find a way to open the
            door. You need to make your way to the Lapis room, so go back into the previous room
            (using the upper right door) then walk all the way along the stairs and up to the
            door at the top left of that room to find the Lapis area.
        </p>

        <p>
            The path to your right is blocked off by a turnstile, so make your way up to the top
            right (battling another acolyte on your way there). Jump across the rubbish piles
            to make your way to the water level change machine.
        </p>

        {{ ss("pz7") }}

        <p>
            This is a very non-obvious puzzle. You need to move the piles into place like this,
            raise the water level, and then jump across them vertically and loop back around to 
            access the computer. Activate it to remove the shutter on the right side of the room,
            then lower the water level to expose the stairs to access the area. There's a table with
            the Beryl Grid Room Key on top of it; steal the key then return to Titania to unlock
            the door. This opens the door to the final room of the Water Treatment Plant, where
            Titania will promptly get stuck. She'll toggle the water level on and off as needed.
        </p>

        {{ ss("pz8") }}
        <p>
            First, move the piles into this position (go up and around, or you'll have to reset
            the room) and jump across at high water.
        </p>

        {{ ss("pz9") }}
        <p>
            In the upper area, move the piles into this position and jump across at high water.
        </p>

        <p>
            Exit the room at the south and walk all the way across (through multiple rooms) to
            access the central turbine again, this time the other side of the shutter. Heal 
            with the light shard, save, and then lower the water level to access PULSE Swalot.
        </p>
    </details>

    <p>
        After suffering through all of that, you come face to face with PULSE Swalot. It has 
        100/210/210 bulk and an excellent Water/Poison typing, as well as both passive and active
        healing. The field effect means that it's immune to ground type moves, and has a big
        speed boost, so use Blizzard to freeze the field and then Earthquake to kill it easily.
    </p>

    <p>
        You get an announcement that water treatment is now successful, but you need to actually
        clean up the water everywhere. This means you need to go into every room and raise the water
        level until it's fresh, blue water (that you can now surf on!) Access to Surf gives you
        the ability to visit some previously inaccessible areas. Consult the map in the central
        room for which wards you need to clean up; once you've done all of them, make your way back
        to the Beryl Ward room.
    </p>

    <div class="notification is-success is-light">
        This area is initially very maze-y, but it's easy to navigate if you keep in your head
        which ward the room you're in corresponds to, and treating all the doors as room links
        accordingly.
    </div>
    
    <p>
        Go up to the turnstile to get a cutscene with Titania, where she explains what I just
        said. Make sure you've done every room, then pass through every gate at the back of the
        Beryl room, and walk down to unlock the gate blocking Titania.
    </p>

    {{ ss("taka", "Make your choice!") }}

    <div class="notification is-danger">
        This is the most important choice in the game. Choosing "Yes" here is a requirement for
        the good route, but choosing "No" will lock you out of <i>two</i> routes. Not only that,
        but unlike the previous choices, this will immediately have consequences.
    </div>

    <p>
        Make your way up to the control room above, where a cutscene will play out. Taka will ask
        you to fight him, and you can either accept him for a battle or refuse him to skip it.
        If you accept, you are locked onto the Z-Determination route; if you refuse him you can
        continue onto the R-Determination "Good" route.
    </p>

    {{ trainer_battle_content("Taka", "Taka", 23) }}

    <p>
        Regardless of your choice here, Ace will then come down and fight you.
    </p>

    {{ trainer_battle_content("Ace of Spades", "ACESPADES", 20) }}

    <p>
        You'll get a decently long cutscene before control is handed back. (The door at the back
        is locked until after your next badge.) Head back down to the North Obsidia part of the
        treatment centre (remember, you're in the Beryl part) for a spooky little cutscene
        before you find Titania. Travel back up the waterfall to Celestine Cascade. Next stop:
        the Fiore Mansion.
    </p>

</div>
{% endblock %}
