{% extends "_meta/walkthrough_page.html" %}

{% block hero %}
    {{ ss("california", "Let's drop in on a grommet.")}}
{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <div class="notification is-danger">
        The game gets real hard from here on out. 
    </div>

    <h2 class="subtitle">Borderline Personality Disorder</h2>

    <p>
        In order to get to the other half of the Celestine Cascade, we actually need Surf.
        Amaria offered it to you before you left, so let's go pick it up. Go into the house and
        talk to Titania for a cutscene. (Say no to lose a relationship point.)
    </p>

    <p>
        You get dragged outside to mediate their relationship dispute, complete with some really
        dramatic music. (Say yes to lose some more relationship points.) Then Amaria kills herself.
        Great! (You'll see these guys again in a couple of hours.) If you make one step to the 
        right, the Route 2 music kicks in again, completely undermining the dramatic tension.
    </p>

    <p>
        Surf over to the other side of the Cascade to find... another jumping puzzle. This one 
        is fake. If you solve it, it leads to a Reaper Cloth. (That's a waste of an item.) The
        one on the far right leads to an Ultra Potion (likewise). There <i>is</i> a clown here,
        with what looks like a mega evolution item behind him. Talk to him for a battle...
        where you'll win a Full Heal. Talk to him thrice more (select each option once) to get
        <em>TM39 Rock Tomb.</em>
    </p>

    <h2 class="subtitle">The Mountains of Doom</h2>

    <p>
        Reborn has three mountains: Celestrine, Citrine, and Ametrine. They all connect to
        each other multiple times, and are all completely unnavigable. The one at the far side of
        Celestrine Cascade is the Citrine Mountain (of course). Since you're going to Ametrine City,
        you need to get through the Ametrine Mountain. Whilst it is possible to get to Ametrine
        through Citrine, you should just use the shortcut you built in the north section of Route 2
        instead.
    </p>

    {{ ss("puzzle1") }}

    <p>
        Cross the river to the previously blocked side of Ametrine Mt 2F, and solve this "puzzle"
        to get the rest of your group. Talk to Aya for a cutscene, and then proceed immediately
        upwards and across the surfing paths to make it to {{ mp(361, "Route 3!") }}
    </p>

    <p>
        Unfortunately... you can't actually make it up into Calcenon City because the path
        gets shot by a laser. Advance through some cringe-worthy dialogue to find that you need
        to go all the way to the other end of Route 3. Fantastic! There's a suspicious spot
        to the lower right here that overlooks Route 2. Keep going right for another cutscene,
        whereupon you gain Aya as a partner. The path here is pretty obvious; keep through
        the caves until you make your way into the LCCC the second time.
    </p>

    <p>
        Upon finding the LCCC a second time, you'll end up in a battle with Eclipse and Aster
        again. This is basically a 12v12 miniboss, so make sure to save up first.
    </p>

    {{ trainer_battle_content("Aster", "AsterKnight", 20) }}

    {{ trainer_battle_content("Eclipse", "EclipseDame", 20) }}

    <p>
        After that, there's another long cutscene where Sirius sends Eclipse to Mikoshi (hey,
        the all-gen guy changed this?) and Aya gets captured. Rats! The LCCC collapses and the
        path up into Labadorra is now cut off. The left exit gives you <em>TM43 Flame Charge</em>,
        and the right exit leads back to Calcenon City. (Or, more specifically, it leads to the
        lower half of {{ mp(412, "Route 4") }}.) Avoid getting trolled by the trainers up here 
        and enter Calcenon City from the right entrance.
    </p>

    {{ ss("charlotte1", "What's updog?")}}

    <p>
        There's not much to do here in the city until you've seen a few cutscenes. Go up north
        and find the gym for the first one; find Saphira at the front of the city and talk to
        her for the second one. Say "yes" when prompted for a ton of relationship points, and 
        then return to the checkpoint. After that's done, find the building on the lower left of
        the city and enter it for a big cutscene with the runaway kids, where you get TMX6 Dive.
        (If you do this after getting the badge, you get some more relationship points.)
    </p>

    <p>
        There's still a handful of events to do here, but none of them give anything good, so
        who cares.
    </p>
    
    <h2 class="subtitle">Charlottification</h2>

    <p>
        Before reading any further, go fight Charlotte in her gym. Trust me. You won't lose.
    </p>

    <p>
        Yeah, this one is a fucking pain. I'd go as far as to say this is the third hardest fight
        in the game, depending on route. She has an incredible team of fast as hell Pokémon 
        on an incredible field effect that massively boosts all of her attacks and nerfs yours.
        You can suppress the field with sand, or destroy it with Blizzard, but you have to survive
        first.
    </p>

    {{ ss("iroh", "Uh oh!") }}

    <details>
        <summary>Calcenon Gym Puzzle Walkthrough</summary>

        <p>
            Yeah, obviously there's going to be a gym puzzle first. The problem here is simple;
            you need to walk up to the steps at the back of each segment whilst stepping on every
            tile exactly once.
        </p>

        {{ ss("gym1") }}

        <p>
            The first one here is pretty simple. Just follow the path upwards.
        </p>

        {{ ss("gym2") }}
        
        <p>
            The next one is a bit tougher, but not that hard to figure out.
        </p>

        {{ ss("gym3") }}

        <p>
            The last one looks intimidating, with several possible paths, but it's less scary
            than it looks. 
        </p>
    </details>

    <p>
        There's another half-a-puzzle here, but you're not meant to be able to solve until later,
        so we'll come back to it. If you keep going ahead, you'll face Charlotte. Let's go over
        some tips, as per usual.
    </p>

    <div class="notification is-success is-light">
        This fight is hard as hell! A lot of players get <strong>hard</strong> stuck here. Play
        around with your team composition here, and really pay attention to the field effect as
        it's crucial to stopping her.
    </div>

    <ul>
        <li>
            Her field effect massively boosts fire types, and massively nerfs water types. This 
            means you'll need to focus on using Ground and Rock types instead, which don't have
            a damage penalty. There's a handful on Route 2 and 3 available.
        </li>
        <li>
            What it <em>doesn't</em> nerf, however, is Scald, which gets a boost. This can handily
            dismantle her team with a ton of damage.
        </li>
        <li>
            If she gets up the Burning Field via any of her fire type moves, it's game over. Catch
            a {{ sp("HIPPOWDON") }} from the caves in Route 3 to snuff out the Burning Field
            immediately.
        </li>
        <li>
            Similarly, a {{ sp("LYCANROC") }}-Midday with Sand Rush outspeeds a lot of her 
            problematic Pokémon and can one-hit kill with Stone Edge or Earthquake.
        </li>
        <li>
            Her Coalossal hits 272 speed when Steam Engine activates, which more than makes up for
            its general lack of speed. (It outspeeds max speed Greninja, for example). Likewise,
            your Lycanroc can outspeed it in sand.
        </li>
        <li>
            Flash Fire Pokémon are completely immune to her Fire moves, <i>and</i> get a bit of a 
            boost from the field. {{ sp("ARCANINE") }} with Flare Blitz can dish out a lot of damage
            even with resisted hits.
        </li>
        <li>
            If you held on to your {{ sp("TALONFLAME") }}, priority Brave Bird can act as an 
            emergency revenge kill (especially on Volcarona).
        </li>
        <li>
            If you're feeling especially brave, you can try using Blizzard to terminate the field.
            This will let you steamroll her with water types like normal, but there's no Blizzard
            setter that's fast enough to outspeed both Darmanitan and Coalossal.
        </li>
        <li>
            Speaking of steam, if you use certain water type moves, the accuracy of all Pokémon
            on the field will drop. This is more of a cheese strategy than anything else.
        </li>
        <li>
            You might want to actually try using hazards; Stealth Rocks will chunk all of her 
            Pokémon and Toxic Spikes can force forwards progress. 
        </li>
    </ul>

    {{ trainer_battle_content("Charlotte", "CHARLOTTE", 20) }}

    <p>
        When you're done, collect the badge from her, as well as the TM for <i>Flamethrower</i>,
        then exit the gym to the south. If you go down to the very south of Calcenon and find
        the checkpoint, you can donate forty thousand dollarpounds to repair the stairs to
        Route 3, letting you avoid having to walk all the way back through Route 4 and the broken
        bridge again.
    </p>

    <p>
        Next stop: Ametrine City!
    </p>
</div>
{% endblock %}
