{% extends "_meta/_root.html" %}
{% from "helpers.html" import small_sprite, species_link, map_link %}
{# passed a mapmetadata object as ``map``. #}

{% block title %}{{ map.name }}{% endblock %}

{%- macro generate_encounter_body(type, encounter, chance) -%}
{% set species = catalog.species_mapping[encounter.name] %}

<tr>
    <td>{{ small_sprite(species.dex_number, species.name) }}</td>
    <td>{{ species_link(species) }}</td>
    <td>{{ type }}</td>
    <td>{{ encounter.minimum_level }} - {{ encounter.maximum_level }}</td>
    <td>{{ chance }}</td>
</tr>
{%- endmacro -%}

{% block content %}
{% set encounters = catalog.encounters.get(map.id) %}

<section class="section">
    <div class="container-fluid">
        {% set chain = catalog.get_map_chain_for(map) %}
        <div class="columns is-centered">
            <div class="column is-narrow">
                <nav class="breadcrumb is-large has-arrow-separator">
                    <ul>
                        {% for entry in chain[1:]|reverse %}
                        <li>
                            {{ map_link(entry.id, entry.name) }}
                        </li>
                        {% endfor %}
                        <li>
                            <b style="padding: 0 0.75em">{{ map.name }}</b>
                        </li>

                        {% if map.child_maps %}

                        <li>
                            <div class="dropdown is-hoverable" style="padding: 0 0.75em">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="child-map-down">
                                        Child maps...
                                    </button>
                                </div>

                                <div class="dropdown-menu" id="child-map-down" role="menu">
                                    <div class="dropdown-content">
                                        {% for child_id in map.child_maps %}
                                        {% set child = catalog.maps[child_id] %}
                                        <a class="dropdown-item" href="/maps/{{ '{:03d}'.format(child.id) }}.html">
                                            {{ child.name }}
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>

                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

        <hr/>

        <figure class="image" style="margin: auto;">
            <img src="/static/maps/Map{{ '{:03d}.png'.format(map.id) }}" class="pp">
        </figure>

        <hr/>

        <div class="columns is-centered is-multiline">
            {% if encounters is not none %}

            {% for type, all_encounters in encounters.encounters.items() %}
            {% set slots = ENCOUNTER_SLOTS[type] %}

            {% if not type.endswith("Rod") %}
            <div class="column is-4">
                <table class="table is-fullwidth is-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Species</th>
                        <th>Encounter Type</th>
                        <th>Level Range</th>
                        <th>Probability</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for encounter in all_encounters %}
                    {{ generate_encounter_body(type, encounter, slots[loop.index0]) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% endfor %}

            <!-- separate the fishing encounters into one table, kinda gross -->
            {% if encounters.has_fishing_encounters() %}
            <div class="column is-4">
                <table class="table is-fullwidth is-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Species</th>
                        <th>Encounter Type</th>
                        <th>Level Range</th>
                        <th>Probability</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for t in encounters.encounters.get("OldRod", []) %}
                    {{ generate_encounter_body("OldRod", t, ENCOUNTER_SLOTS["OldRod"][loop.index0]) }}
                    {% endfor %}

                    {% for t in encounters.encounters.get("GoodRod", []) %}
                    {{ generate_encounter_body("GoodRod", t, ENCOUNTER_SLOTS["GoodRod"][loop.index0]) }}
                    {% endfor %}

                    {% for t in encounters.encounters.get("SuperRod", []) %}
                    {{ generate_encounter_body("SuperRod", t, ENCOUNTER_SLOTS["SuperRod"][loop.index0]) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% else %}
            <div class="column is-4 has-text-centered">
                <h2 class="subtitle">This map has no wild encounters.</h2>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}