{% extends "_meta/walkthrough_page.html" %}

{% block hero %}
<iframe 
    width="560" height="315" 
    src="https://www.youtube-nocookie.com/embed/WNkaLHCD08k?si=l6ujaZN_GoDJOB2H" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen
    style="display: block;"
></iframe>
{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <p>
        Luckily, we don't actually have to go to the desert yet. There's a few events we can do
        first, although which one depends on a handful of choices you can make.
    </p>

    {{ ss("projects") }}

    <p>
        If you return to the Grand Hall and talk to this NPC, you'll get access to three city 
        restoration projects that you can donate to. You can only do one at a time, with the 
        subsequent two being unlocked after the 15th and the 16th badge, so the rewards for each
        won't be unlockable until then. Each one has a few different events associated with them,
        which will be listed below. I recommend funding the Railnet first, then the Slums, and
        then finally the Nature Centre as this gets you the most useful rewards in each phase.
    </p>

    {{ ss("fuckyou") }}

    <p>
        If you fund any of the projects fully, then you'll get access to the developer area at the
        back rear stairs that has been taunting you for the entire game. There's not much to see
        here except in the middle door to the left of the room; talk to the NPC inside to get the
        starter quest, where you need to breed starter Pokémon and return here to get quest rewards.
        The only relevant ones are <em>TM26 Earthquake</em>, the Psychium Z, and the Gardevoirite,
        but you can't finish this quest until after the 16th Badge anyway.
    </p>

    <h2 class="subtitle">Railnet Restoration</h2>

    {{ ss("rails") }}

    <p>
        Restoring the Railnet will block off access to the Railnet area. If you follow the
        train tracks in Peridot Ward back to where it used to exist, you can find this small area
        where might be some items for you to take. These are any of the items that used to exist
        in the railnet but got collected up for you to take.
    </p>

    <p>
        Aside from that, this will add a fully functional metro-based rapid transport network to
        Reborn City. This is... not useful for the player. If you go back into the Devon Corp
        building, you'll find that the previous entrance to the Railnet is now blocked off, and
        you can finally collect the Steelixite that was previously sealed.
    </p>

    {{ ss("ralts", "Not rails.") }}

    <p>
        If you collect the Corrupted Pokéball from the Lost &amp; Found (or you might've found it
        already), you can go talk to this guy in Critical Capture twice to try and recover the
        Pokéball data. Return again with some Magnet Powder to obtain a {{ sp("RALTS") }}.
    </p>

    <p>
        Finally, in the back of Shantyport Station (in the Coral Ward), there's an NPC who will
        trade a {{ sp("PROBOPASS") }} for a {{ sp("TOGEPI") }} egg.
    </p>

    <h2 class="title">GUM Room</h2>

    {{ ss("gumkey") }}

    <p>
        Restoring the Obsidia Slums will make everything in there permanently inaccessible. Return
        to the building that was there and talk to this guy to get the GUM Key. Where do we use
        the GUM Key? Well, there was a conspicious locked door in the Water Treatment Plant that
        said "GUM Room".
    </p>

    {{ ss("gumroom", "Well, it says G.U.M anyway.") }}

    <p>
        Inside you will find some Contraption Zack level puzzle. Good luck! I'm not solving it!
    </p>

    <h2 class="title">Neo Azurine Island</h2>
    
    {{ ss("tmvendor") }}

    <p>
        After funding the Azurine Island restoration, you can surf there from the bottom of
        Apophyll Beach to find the island has been cleaned up and a new building is in place.
        There's an NPC outside who asks for a {{ sp("CARNIVINE") }} and will trade you an 
        {{ sp("CHIMCHAR") }} egg in return.
    </p>

    <p>
        There's not much here on the island. Here's some things you can get here:
    </p>

    <ul>
        <li>The hattted NPC inside the Azurine Centre sells some really good TMs.</li>
        <li>
            If you missed the Chikorita earlier, you can talk to the scientist on the roof
            to get it now.
        </li>
        <li>
            You can now find Heracross and Pinsir in the wild if you missed (or refused to do)
            the Route 1 quest.
        </li>
        <li>
            The Poisonium-Z is on a rock climb clifftop area. 
        </li>
    </ul>
</div>

{% endblock %}
