{% extends "_meta/walkthrough_page.html" %}
{% set NAME = "04_rhidochrine" %}
{% set LEFTLINK_ID = "03_badge2"%}
{% set LEFTLINK_NAME = "Badge 2 Pt 2: Onyx Ward" %}
{% set RIGHTLINK_ID = "05_north_obsidia" %}
{% set RIGHTLINK_NAME = "Badge #3, Pt 2: North Obsidia" %}
{% block title %}Badge 3 Pt 1: Rhidochrine Jungle{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <h1 class="has-text-centered title">Rhidochrine Jungle</h1>

    {{ ss("sailormoontwink") }}

    <a href="#jasper" id="jasper"><h2 class="subtitle">Jasper Ward</h2></a>

    <p>
        Strap yourself in; this is a long one. Make your way back through Opal and Peridot up to the
        gate to the Jasper ward. You'll get yet another Sephiroth cutscene, which also introduces
        Heather - another future important character. You never saw him.
    </p>

    <div class="notification is-warning">
        This is the first place where your choices can potentially affect the route you're on.
        For simplicity's sake, we're going to do this the easy way and simply complete every
        required task except the one that fails the True Ending route. This will let you experience
        both the non-True Ending route, as well as get an additional save that gives you the True
        Ending so you don't have to replay the entire game.
    </div>

    <p>
        <strong>Go up and inside the piggy station</strong> immediately in front of the gate, and
        talk to the largest and fattest pig behind the desk. He asks you to go find his five little
        squealing piglets who have been lost on their way to market. The bad
        news is that you do have to do this, but the good news is that one of them is already dead!
        There's nowhere else to go here, so continue to the left and into the ruined apartment
        building guarded by a dog and his Arcanine.
    </p>

    <p>
        Travelling straight forwards will take you to the back of the Jasper Ward, where there
        is a Pokécentre available for you. To the far right is... nothing. It's blocked off.
        There <i>is</i> one of the five missing piggies, but you can't access him yet. There's
        another apartment building with a panicking man (you can corner him!) and an exit blocked
        off to the north. Talk to him at least once.
        Finally, in clear weather, there is an {{ sp("EMOLGA") }} just below a cuttable tree
        directly below the Pokécentre.
    </p>

    {{ ss("hiddendoor") }}

    <p>
        If you instead go out the left exit of the building, you can find a small alleyway that's
        blocked off at both the top and bottom... but there's a "hidden" entrance to the building
        to the left. If you go inside, somebody runs off down into the south exit! It's the mystery
        girl from before: Heather. She asks if you want to team up to beat up Team Ustaše
        (obviously yes) and then runs off into the woods.
    </p>

    <p>
        Welcome to the Malchous Forest Park! Before trying to solve the "puzzle" here, beeline
        straight upwards to find <em>TM104 Pin Missile</em> and then carry on to the right to find
        the exit to part of North Jasper Ward. Enter the leftmost building to find one of the
        missing piggies who is blocked off by a grunt. There's nothing of value in the right-most
        building.
    </p>

    {{ ss("arrows1") }}

    <p>
        Going back to the forest, there's some vines blocking your way. This is also an annoying
        maze, so I'll just go through the steps visually quickly. For the first "puzzle",
        follow the red arrow and cut the tree down. Loop back following the blue arrow for a
        small cutscene with Heather. Optionally, you can keep walking straight to the left to cut
        down another vine; this will give you access to a PULSE readout when you loop back.
    </p>

    {{ ss("arrows2") }}

    <p>
        Follow the red arrow back upwards to unblock the path, and then follow the blue arrow to
        gain access to the former site of the Jasper Gym. Talk to Heather to get healed, and then
        "climb" up the building immediately to your north and jump ontop of the gym. Once inside
        you will find a giant hole that you need to jump through! <em>Make sure to save the
        game soon!</em>
    </p>

    <p>
        Walk upwards to find a member of Team Ustaše guarding the second PULSE Tangrowth - Taka!
        He tries to get the jump on you with three grunts, but Heather falls down and takes
        them on instead. That means its your job to partisan the fuck out of this guy.
    </p>

    {{ trainer_battle_content("Taka", "Taka", 20) }}

    <p>
        He "helpfully" informs you that there is in fact a third PULSE Tangrowth; this time, it's
        in the Beryl ward. Then some more cutscenes with Heather and Sephiroth - hold down text skip
        unless you enjoy teenage angst. Travel back through the <strong>upper</strong> exit to
        Jasper Ward where the vines have receded and you can now travel more freely. There's a few
        events to do here, so let's get to that now.
    </p>

    <p>
        The first building here is still blocked off by debris, but the lift in the second building
        now works. Go up to Floor 5F and talk to the lady inside, who will run off to the Peridot
        Ward. There's nothing else here by the upper exit, so go back through the park to the
        lower exit. Transit through the buildings again and exit through the <strong>upper</strong>
        exit, next to the Pokécentre.
    </p>

    <p>
        In the house with the panicking man, you can travel into the lift room to find the
        Field Notes for the Forest Field. Keep going right to rescue the second piggy as well as
        get a <em>Paralyze Heal</em>. Even further right and you'll find that the route downwards
        is no longer blocked off. In the small block of houses at the far right of the ward, you
        will find a {{ sp("MAREEP") }}!
    </p>

    {{ ss("tangela") }}

    <p>
        Before continuing on to the Beryl ward, go back into the Peridot ward and go into the house
        immediately to the right of the gate; talking to the lady's friend will give you the
        <em>Tangela Sticker</em> for your membership card, unlocking the third floor of the
        Obsidia Department Store. The most important thing this floor sells is the weather rocks.
    </p>

    <a href="#rhidochrine" id="rhidochrine"><h2 class="rhidochrine">Rhidochrine Jungle</h2></a>

    <div class="video-container">
        <video
                autoplay loop muted playsinline src="/static/04_rhidochrine/jontron-sad.webm"
                title="this guy fucking sucks btw"
                class="is-block" style="margin: auto; padding-top: 1rem; padding-bottom: 1rem;"
        ></video>
    </div>

    <p>
        Now you can make your way to the Beryl Ward and - wait a second. Why is this music so sad?
        I'm crying in real life. There's nothing interesting in the ward itself yet 
        so continue straight to the left to enter the Rhidochrine Jungle.
    </p>

    <p>
        ♫ GlitchxCity - Pokémon Mystery Dungeon: Sky Tower Remix
    </p>

    <p>
        This is probably the most straight-up mazy area in the game for a very long time. There's
        like three different routes here, but they all end in roughly the same place, so we'll go
        for the easiest and most "content-ful" route. Down to the left are some Team Ustaše grunts
        discussing about how boring life is in the jungle; you can sneak past them precisely
        (<strong>but this guide won't help you if you do</strong>) or you can make some noise
        in the surrounding bushes for them to capture you and throw you in a Nuzleaf cage.
    </p>

    {{ ss("incelfern") }}

    <p>
        When you wake up, fucking Fern will come along and try and force you into begging him to let
        you out, complete with mantras about how you're worthless and he's hot shit. If you have any
        shred of self-respect, you should absolutely tell him to fuck off and to kill himself,
        whereupon he will walk away (sadly, not to hang himself) and you'll be stuck. 
        After waiting a minute or so (press <kbd>Alt</kbd> to enable speedup) a mysterious Chatot 
        will unlock the cage and let you out.
    </p>

    {{ ss("arrows_upside1") }}
    <p>
        Your only way out of here is blocked off by a dysfunctional lever, so cut across the grass
        and up to a second cage to find... Cain. Ugh. Skipping ahead a little bit... First, we 
        need to rescue two of the piggies. Make your way up towards the area following the red 
        arrow, and fall into the pit when you try and get the PULSE readout. 
        (If you really want it, you can loop around the tree to get it...)
    </p>

    {{ ss("arrows_underside1") }}

    <p>
        Follow the red arrow down across the waterfall to find another caged piggy
        (where he belongs) and pull the lever to open it. Talk to him, he thanks you, and runs
        off to go beat people up in the non-destroyed part of the city.
    </p>

    {{ ss("arrows_underside2") }}

    <p>
        Follow the blue arrow down to an exit back up to the Rhidochrine Jungle. This is
        a small secluded area that's only available from that one door in the Underoot.
        (On the way, by the pool of water, you can find a {{ sp("SEVIPER") }} and catch it if you
        have a Pokésnax.) There's three ways you can go here:
    </p>

    <ol>
        <li>
            To the lower left is a building on its side. There's a hidden entrance there where you
            will find the fourth piggy blocked off by a Ustaše grunt; defeat them and talk to the
            piggy to set him free.
        </li>
        <li>
            To the upper left is a static {{ sp("STANTLER") }} encounter.
        </li>
        <li>
            Finally, to the right is a house with a single lady in it. If you picked a Grass-type
            starter, she will teach Giga Drain as a tutor move. If not, she's an ecofascist. Outside
            is <em>TM105 Magical Leaf</em>, and inside is the <em>Sunflorite</em>.
        </li>
    </ol>

    {{ ss("arrows_underside3") }}

    <p>
        Backtracking back to the waterfall, follow the green arrow to find another exit to a part
        of the Jungle. This one spits you out next to the northern exit to Beryl Ward. There's
        two buildings accessible here, the Beryl Library and one with a secret entrance. Go into
        the Library and go up to the second floor. It's a bit hard to see, but you can actually walk
        onto the bookshelves here. The left bookshelves contain <em>TM21 Safeguard</em> on top,
        and the right bookshelves let you access the otherwise blocked off right-sided room,
        revealing the last piggy - he's fucking dead!!! 🎉🎉🎉🎉🎉
    </p>

    <div class="notification is-warning is-light">
        You need to peer down the hole by talking to the Arcanine for the police rescue sidequest
        to trigger properly. Failing to do so will only count four piggies and will lock you out
        of the good route. (Why is this a criterion? Is it because of the reference in the library?)
    </div>

    <p>
        Go outside and travel through the second building to access the upper middle entrance for the
        Jungle. The only path here is to go upwards, where you'll meet Amaria; talk to her twice to
        get healed. Then there's a cuttable tree off to the side that will cut down some of the
        roots blocking you from the PULSE Tangrowth.
    </p>

    <a href="#holy-backtracking" id="holy-backtracking">
        <h2 class="subtitle">
            Holy Backtracking
        </h2>
    </a>

    <p>
        Okay, now here's a problem. We need to go ALL the way back to the Jasper Ward. Luckily,
        there's an exit to the bulk of the Rhidochrine Jungle.
    </p>

    {{ ss("arrows_upside2") }}

    <p>
        Before doing anything else, let's go cut down one of the vines that's blocking access to
        the PULSE Tangrowth. Follow the arrow to get to the second cuttable vine; then follow
        the path straight down south to make it back to the Beryl Ward. Return to the police
        station to complete the missing officers quest; the chief will then give you the lost
        recruit's Growlithe. <strong>You should take it, if only for what it can get you.</strong>
        Talk to the piggy at the lower far right (well, they're all far right) who will ask you to
        breed it and then come back to him. If you've rescued the daycare couple, you can do this
        now to get the <i>Mystery Egg</i>.
    </p>

    <p>
        After that annoying detour, you can now travel back up into the Jungle to battle the
        PULSE Tangrowth. Make sure you've forcefed EXP Candy to your Pokémon (if needed, go all
        the way back to Opal to pick some more up), save the game, and then travel underneath
        the bridge, straight up the stairs, and up the winding stairs to the left to find a route
        to Team Ustaše. It's time for the boss battle! Here's some Team Preview to help you out.
    </p>

    {{ trainer_battle_content("Ace of Clubs", "ACECLUBS", 20) }}

    <p>
        After once again breaking somebody's shins (you sure do enjoy doing that), everyone
        skedaddles including you and Borealis (the Team Ustaše guy you've been tracking. You
        remember him. Right?) He gets arrested... but then he doesn't. You're finally out of
        that fucking jungle! I glossed over a few events, but you can go find them if you want.
        Take a Sunkern with you!
    </p>

    {{ ss("lure") }}

    <p>
        Now you have access to the northern part of Beryl Ward. The first thing you want to do is
        to find this guy and give him at least 5000 dollarpounds. He then gives you a
        <em>Magnetic Lure</em>; when you give it to your leading Pokémon, you will only find
        <strong>Pokémon you haven't caught before</strong> in the wild. This is an absolutely
        essential item for shiny hunting (with the boosted rates, much easier) or catching Pokémon
        with those annoyingly small encounter rates.
    </p>

    <p>
        Next stop: your third Gym! Well, this is only a gym by technicality as it doesn't give
        you a badge. Clear out all of the piggies so that they don't get in your way, and then
        move onto the tubes to solve the puzzle to progress forwards. You can interact with them
        at their front panel; the goal is to turn them all blue.
    </p>

    <ol>
        <li>The tube at the bottom right</li>
        <li>The tube at the top right</li>
        <li>The tube at the middle bottom</li>
        <li>The tube at the top right</li>
    </ol>

    <p>
        After doing all of this, it'll open a secret door to the right side of the tubes. Inside
        you'll find Corey, Heather, and <em>TM185 Venom Drench</em>. He challenges you to
        a pseudo-Gym battle and somehow passes right under the nose of the Police officers.
    </p>

    {{ trainer_battle_content("Corey", "Corey", 20) }}

    {{ ss("fuckinglol") }}

    <p>
        After you beat him, he invites you to the Beryl Bridge for "a show". He releases his
        Pokémon, tells you about the Ruby Ring, and then kills himself. Awesome! This lacks any
        emotional punch because all he's done is act like a dickhead to you for the five minutes
        he was on screen. There's an explosion in North Obisida Ward... but we're not going anywhere
        just yet.
    </p>

    <div class="notification is-info is-light">
        This is optional. If you don't like suicide, you can just walk straight to North Obsidia
        Ward to continue the story instead.
    </div>

    <p>
        Return to the hidden room in Beryl Gym to get the <em>Silver Ring</em>. This'll be useful
        for catching Corey's lost Pokémon; one of which - his {{ sp("GLIMMET") }} - we will go
        and catch now in the Underroot, next to the <i>larger</i> water pool. You can get there
        quickly by falling down the hole right next to the south entrance to the Jungle.
    </p>
</div>

{% endblock %}
