{# takes in a list[PokemonSpecies], and generates a nice table list #}
{% extends "_meta/_root.html" %}
{% from "helpers.html" import small_sprite %}

{% block title %} All Pokémon {% endblock %}

{%- macro table_half(is_second_half) -%}
{% if not is_second_half %}
{% set start_idx = 0 %}
{% set end_idx = 494 %}
{% else %}
{% set start_idx = 494 %}
{% set end_idx = species_definitions|length %}
{% endif %}

<div class="column is-half">
    <table class="table is-fullwidth is-bordered mx-auto vcentre">
        <thead>
        <tr>
            <th class="has-text-right"><abbr title="National Dex Number">#</abbr></th>
            <th class="no-sort has-text-centered">Icon</th>
            <th class="has-text-centered">Species</th>
            <th class="has-text-centered">Type 1</th>
            <th class="has-text-centered">Type 2</th>
        </tr>
        </thead>
        <tbody>
        {% for species in species_definitions %}
        {% set idx = loop.index %}
        {% if loop.index0 >= start_idx and loop.index0 < end_idx %}
        {% set s_idx = "{:04d}".format(idx) %}

        {% set type_1_name = species.primary_type.localised_name %}
        {% if species.secondary_type is none %}
        {% set type_2_name = type_1_name %}
        {% else %}
        {% set type_2_name = species.secondary_type.localised_name %}
        {% endif %}

        <tr data-species-type-1="{{ type_1_name.upper() }}" data-species-type-2="{{ type_2_name.upper() }}">
            <td class="has-text-right">{{ s_idx }}</td>
            <td class="has-text-centered">
                {{ small_sprite(idx, species.name) }}
            </td>
            <td><a href="/species/specific/{{ species.internal_name.lower() }}.html">{{ species.name }}</a></td>
            {% if type_1_name == type_2_name %}
            <td class="bg-{{ type_1_name.lower() }} has-text-centered" style="border: none" colspan="2">
                <span class="type-name auto-light-dark">{{ type_1_name }}</span>
            </td>
            {% else %}
            <td class="bg-{{ type_1_name.lower() }} has-text-centered" style="border: none">
                <span class="type-name auto-light-dark">{{ type_1_name }}</span>
            </td>
            <td class="bg-{{ type_2_name.lower() }} has-text-centered" style="border: none">
                <span class="type-name auto-light-dark">{{ type_2_name }}</span>
            </td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{%- endmacro -%}


{% block content %}
<section class="section">
<div class="container">
    <div class="columns is-centered">
        <div class="column is-6 has-text-centered">
            <div class="content">
                <h1 class="title has-text-centered">Full Pokémon list</h1>
                <p class="has-text-centered">
                    Click on a Pokémon's name to see its full details page.
                </p>
            </div>

            <label for="type-select">Filter by type:&nbsp;&nbsp;&nbsp;</label>
            <div class="select">
                <select id="type-select">
                    <option>None</option>
                    <option>Normal</option>
                    <option>Fire</option>
                    <option>Water</option>
                    <option>Electric</option>
                    <option>Grass</option>
                    <option>Ice</option>
                    <option>Fighting</option>
                    <option>Poison</option>
                    <option>Ground</option>
                    <option>Flying</option>
                    <option>Psychic</option>
                    <option>Bug</option>
                    <option>Rock</option>
                    <option>Ghost</option>
                    <option>Dragon</option>
                    <option>Dark</option>
                    <option>Steel</option>
                    <option>Fairy</option>
                </select>
            </div>
        </div>
    </div>

    <div class="columns is-centered">
        {{ table_half(false) }}
        {{ table_half(true) }}
    </div>
</div>
</section>

<script>
    function swapWithShiny(el) {
        el.setAttribute("src", "/sprites/" + el.getAttribute("x-idx") + "_shiny.png");
    };

    function unswapWithShiny(el) {
        el.setAttribute("src", "/sprites/" + el.getAttribute("x-idx") + ".png");
    };

    window.onload = () => {
        let sel = document.querySelector("#type-select");
        sel.value = "None";

        sel.addEventListener("change", (evt) => {
            const value = evt.target.value.toUpperCase();
            const rows = document.querySelectorAll("tr");

            if (value == "NONE") {
                rows.forEach(it => it.classList.remove("is-hidden"));
            } else {
                for (const row of rows) {
                    if (row.attributes.length == 0) continue;
                    let type1 = row.getAttribute("data-species-type-1");
                    let type2 = row.getAttribute("data-species-type-2");

                    if (type1 == value || type2 == value) {
                        row.classList.remove("is-hidden");
                    } else {
                        row.classList.add("is-hidden");
                    }
                }
            }

            console.log(value);
        });
    };

</script>
<script src="/static/table_search.js"></script>
{% endblock %}
