{# Generates a single Pokémon page from a provided species object. #}
{# provided params: species, pokedex_number #}
{% extends "_meta/_root.html" %}
{% from "helpers.html" import small_sprite, evo_description_for %}

{% set s_idx = "{:04d}".format(species.dex_number) %}
{% set type_1_name = species.primary_type.localised_name %}
{% if species.secondary_type is none %}
{% set type_2_name = type_1_name %}
{% else %}
{% set type_2_name = species.secondary_type.localised_name %}
{% endif %}

{%- macro stat(name, loc_name, full_name) -%}
{% set stat = species.base_stats[name] %}

<tr>
    <td class="has-text-right">
        <abbr title="{{ full_name }}">{{ loc_name }}</abbr>
    </td>
    <td class="has-text-right">
        {{ species.base_stats[name] }}
    </td>
    <td class="centre">
        {% if stat < 60 %}
        {% set class = "is-danger" %}
        {% elif 60 <= stat < 90 %}
        {% set class = "is-warning" %}
        {% elif 90 <= stat < 135 %}
        {% set class = "is-success" %}
        {% else %}
        {% set class = "is-info" %}
        {% endif %}

        <progress class="progress {{ class }}" value="{{ species.base_stats[name] }}" max="255"></progress>
    </td>
</tr>
{%- endmacro -%}

{%- macro move_table_header(level_col_name) -%}
<tr class="is-primary">
    {% if level_col_name is not none %}
    <th class="has-text-right">{{ level_col_name }}</th>
    {% endif %}
    <th class="has-text-center">Move</th>
    <th class="has-text-center">Type</th>
    <th class="has-text-center"><abbr title="Category, physical or special">Cat</abbr></th>
    <th class="has-text-right"><abbr title="Base Power">BP</abbr></th>
    <th class="has-text-right"><abbr title="Accuracy">Acc</abbr></th>
</tr>
{%- endmacro -%}

{%- macro move(level_up_at, internal_name) -%}
{% set move = catalog.move_by_name(internal_name) %}
{% if move is none %}
<tr>
    <td class="has-text-right">{{ level_up_at }}</td>
    <td class="has-text-center"> {{ internal_name }}</td>
    <td colspan="4" class="has-text-center">
        <span class="tag is-danger">Missing move</span>
    </td>
</tr>
{% else %}

<tr>
    {% if level_up_at is not none %}
    <td>
    {% if level_up_at == "Start" %}
        <abbr title="Only via the Move Relearner">{{ level_up_at }}</abbr>
    {% else %}
        {{ level_up_at }}
    {% endif %}
    </td>
    {% endif %}
    <td class="has-text-center">
        <a href="/moves/{{ move.internal_name }}">
            {% if species.has_stab_on(move) %}
            <strong>{{ move.display_name }}</strong>
            {% else %}
            {{ move.display_name }}
            {% endif %}
        </a>
    </td>
    <td class="bg-{{ move.type.name.lower() }} has-text-centered no-border" style="color: white">
        {{ move.type.localised_name }}
    </td>
    <td class="has-text-centered center">
        <img
                src="https://img.pokemondb.net/images/icons/move-{{ move.category.name.lower() }}.png"
                alt="{{ move.category.name.title() }}"
                height="42" width="28"
                loading="lazy"
        />
    </td>
    <td class="has-text-right">
        {# BP with 0 is no power, with 1 is "custom power" (whatever the fuck that means) #}
        {% if move.base_power < 2 %}
        -
        {% else %}
        {{ move.base_power }}
        {% endif %}
    </td>
    <td class="has-text-right">
        {% if move.accuracy == 0 %}
            {% if move.category == MoveCategory.STATUS %}
            -
            {% else %}
            ∞
            {% endif %}
        {% else %}
        {{ move.accuracy }}
        {% endif %}
    </td>
</td>
{% endif %}
{%- endmacro -%}

{% block title %}
{{ species.name }} | Reborn Rebalance
{% endblock %}


{% block content %}
<div class="container">
    <div id="pkm-top-block" class="columns is-centered" style="padding-top: 2rem">
        <div class="column is-4 is-centered is-narrow">
            <div class="card">
                <div class="card-header" style="display: block;">
                    <p class="card-header-title has-text-centered">
                        {{ species.name }}
                        &nbsp;
                        (<code>{{ species.internal_name }}</code>)
                    </p>
                </div>

                <div class="card-image">
                    <figure class="image is-square">
                        <img
                                x-idx="{{ s_idx }}"
                                style="image-rendering: pixelated;"
                                src="/sprites/battler_{{ s_idx }}.png"
                                alt="Battler sprite for {{ species.name }}"
                                height="192"
                                width="192"
                                onmouseover="swapWithShinyBattler(this);"
                                onmouseleave="unswapWithShinyBattler(this);"
                                class=""
                        >
                    </figure>
                </div>

                <footer class="card-footer">
                    {% for ability in species.raw_abilities %}
                    <a href="#" class="card-footer-item">
                        {{ ability }}
                    </a>
                    {% endfor %}

                    {% if species.raw_hidden_ability %}
                    <a href="#" class="card-footer-item">
                        <i>{{ species.raw_hidden_ability }}</i>
                    </a>
                    {% endif %}
                </footer>
            </div>
        </div>

        <div class="column is-4" id="pokemon-display-2">
            <div class="columns is-multiline" style="margin-top: 0; height: 100%">
                <div class="column is-full" style="margin-bottom: auto">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title has-text-centered">Type</p>
                        </div>

                        <footer class="card-footer">
                            <a href="#" class="card-footer-item bg-{{ species.primary_type.name.lower() }}"
                               style="color: white; border-right: 0px;"
                            >
                                <strong>{{ species.primary_type.localised_name }}</strong>
                                &nbsp;
                                <i class="bi bi-link-45deg"></i>
                            </a>

                            {% if species.primary_type != species.secondary_type %}
                            <a href="#" class="card-footer-item bg-{{ species.secondary_type.name.lower() }}" style="color: white;">
                                <strong>{{ species.secondary_type.localised_name }}</strong>
                                &nbsp;
                                <i class="bi bi-link-45deg"></i>
                            </a>
                            {% endif %}
                        </footer>
                    </div>
                </div>

                <div class="column is-full">
                    <div class="box">
                        <div class="content">
                            <p>{{ species.pokedex_entry }}</p>
                        </div>
                    </div>
                </div>

                <div class="column is-full" style="margin-top: auto;">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title has-text-centered">Base Stats</p>
                        </div>

                        <div class="card-content" style="padding: 0.25rem;">
                            <table class="table is-fullwidth">
                                <!--thead>
                                <tr>
                                    <th class="has-text-right">Stat</th>
                                    <th class="has-text-right">Value</th>
                                    <th></th>
                                </tr>
                                </thead-->
                                <tbody>
                                    {{ stat("hp", "HP", "Hit Points") }}
                                    {{ stat("atk", "Atk", "Physical Attack") }}
                                    {{ stat("def_", "Def", "Physical Defence") }}
                                    {{ stat("spa", "SpA", "Special Attack") }}
                                    {{ stat("spd", "SpD", "Special Defence") }}
                                    {{ stat("spe", "Spe", "Speed") }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-4">
            {# eugh, this is terrible. this needs to go into a macro... #}
            {% set chain = catalog.evolutionary_chain_for(species) %}
            <div class="mt-auto mb-auto">
            <div class="list">
            {% if chain is none %}
                <div class="list-item box">
                    <div class="list-item-image">
                        <figure class="image is-64x64">
                            {{ small_sprite(species.dex_number, species.name) }}
                        </figure>
                    </div>

                    <div class="list-item-content">
                        <div class="list-item-title">Does not evolve</div>
                        <div class="list-item-description">
                            This Pokémon is the sole species in its evolutionary chain.
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="list-item box">
                    {% if chain.evolves_from is not none %}
                    <div class="list-item-image">
                        <figure class="image is-64x64">
                            {{ small_sprite(chain.evolves_from.dex_number, chain.evolves_from.name) }}
                        </figure>
                    </div>

                    <div class="list-item-content">
                        <div class="list-item-title">
                            Evolves from
                            <a href="/species/specific/{{ chain.evolves_from.internal_name.lower() }}.html">
                                <i>{{ chain.evolves_from.name }}</i>
                            </a>
                        </div>
                        <div class="list-item-description">
                            {{ evo_description_for(catalog, chain.evolves_from, species, chain.evolves_from_evo) }}
                        </div>
                    </div>
                    {% else %}
                    <div class="list-item-image">
                        <figure class="image is-64x64">
                            {{ small_sprite(species.dex_number, species.name) }}
                        </figure>
                    </div>

                    <div class="list-item-content">
                        <div class="list-item-title">
                            First in chain
                        </div>
                        <div class="list-item-description">
                            This Pokémon is the <i>start</i> in its evolutionary chain.
                        </div>
                    </div>
                    {% endif %}
                </div>

                {% if chain.evolves_into %}
                {% for into_species, evo in chain.evolves_into %}
                <div class="list-item box">
                    <div class="list-item-image">
                        <figure class="image is-64x64">
                            {{ small_sprite(into_species.dex_number, into_species.name) }}
                        </figure>
                    </div>

                    <div class="list-item-content">
                        <div class="list-item-title">
                            Evolves into
                            <a href="/species/specific/{{ into_species.internal_name.lower() }}.html">
                                <i>{{ into_species.name }}</i>
                            </a>
                        </div>
                        <div class="list-item-description">
                            {{ evo_description_for(catalog, species, into_species, evo) }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="list-item box">
                    <div class="list-item-image">
                        <figure class="image is-64x64">
                            {{ small_sprite(species.dex_number, species.name) }}
                        </figure>
                    </div>

                    <div class="list-item-content">
                        <div class="list-item-title">
                            Final in chain
                        </div>
                        <div class="list-item-description">
                            This Pokémon is an <i>end</i> of its evolutionary chain.
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>


<section class="section">
<div class="container-fluid" style="padding-left: 2em; padding-right: 2em;">
    <div id="pkm-move-block" class="columns is-centered is-multiline">
        <div class="column is-one-third">
            <h2 class="title has-text-centered">Level-up Moveset</h2>
            <hr/>

            <table class="table is-fullwidth is-striped sortable">
                <thead>
                {{ move_table_header("Level") }}
                </thead>

                <tbody>
                {% for move_name in species.raw_egg_moves %}
                {{ move("Egg", move_name) }}
                {% endfor %}

                {% for lvl_up_move in species.raw_level_up_moves %}
                {% if lvl_up_move.at_level == 0 %}
                {{ move("Evolution", lvl_up_move.name) }}
                {% elif lvl_up_move.at_level == 1 %}
                {{ move("Start", lvl_up_move.name) }}
                {% else %}
                {{ move(lvl_up_move.at_level, lvl_up_move.name) }}
                {% endif %}
                {% endfor %}
                </tbody>
            </table>

            <h2 class="title has-text-centered">Tutor Learnset</h2>
            <hr/>

            <table class="table is-fullwidth is-striped sortable">
                <thead>
                {{ move_table_header(None) }}
                </thead>

                <tbody>
                {% for move_name in species.raw_tutor_moves %}
                {{ move(None, move_name) }}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="column is-one-third">
            <h2 class="title has-text-centered">TM Learnset</h2>
            <hr/>

            <table class="table is-fullwidth is-striped sortable">
                <thead>
                {{ move_table_header("TM") }}
                </thead>

                <tbody>
                {% for move_name in species.raw_tms %}
                {% set tm = catalog.tm_id_for(move_name) %}
                {{ move(tm, move_name) }}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="column is-one-third">
            <h2 class="title has-text-centered">Wild Encounters</h2>
            <hr/>

            {% set encounters = catalog.encounters_for(species) %}

            <table class="table is-fullwidth is-striped">
                <thead>
                <tr class="is-primary">
                    <th>Map</th>
                    <th>Encounter Type</th>
                    <th>Level Range</th>
                    <th>Probability</th>
                </tr>
                </thead>
                {% for map_id, encounter_mapping in encounters.items() %}
                {% set map_name = catalog.map_names[map_id] %}
                {% for type, encounter in encounter_mapping.items() %}
                <tr>
                    <td><abbr title="Map ID {{ map_id }}">{{ map_name }}</td>
                    <td>{{ type }}</td>
                    <td>{{ encounter.min_level }} - {{ encounter.max_level }}</td>
                    <td>{{ encounter.chance }}%</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>

            {% if not encounters %}
            <h2 class="subtitle has-text-centered">This Pokémon does not appear in the wild.</h2>
            {% endif %}
        </div>
    </div>
</div>
</section>

<style>
    p.card-header-title.has-text-centered {
        display: block;
    }
</style>
{% endblock %}