{# Generates a single Pokémon page from a provided species object. #}
{# provided params: species, pokedex_number #}
{% extends "_meta/_root.html" %}
{% from "helpers.html" import small_sprite, evo_description_for %}
{% from "species/macros.html" import tab_headers, move_entry, move_table_header, gen_battler_box, gen_type_col, gen_level_up_table %}

{% set s_idx = "{:04d}".format(species.dex_number) %}
{% set type_1_name = species.primary_type.localised_name %}
{% if species.secondary_type is none %}
{% set type_2_name = type_1_name %}
{% else %}
{% set type_2_name = species.secondary_type.localised_name %}
{% endif %}

{% block title %}
{{ species.name }} | Reborn Rebalance
{% endblock %}


{% block content %}
{% set forms = catalog.forms.get(species.internal_name) %}

<section class="section">
<div class="container">
    {{ tab_headers(species) }}
    <div id="pkm-top-block" class="columns is-centered">
        {% for idx, form_name, attribs in catalog.all_forms_for(species.internal_name) %}
        {{ gen_battler_box(species.name, species.dex_number, attribs) }}
        {{ gen_type_col(attribs) }}
        {% endfor %}

        <div class="column is-4">
            {# eugh, this is terrible. this needs to go into a macro... #}
            {% set chain = catalog.evolutionary_chain_for(species) %}
            <div class="mt-auto mb-auto">
            <div class="list">
            {% if chain is none %}
                <div class="list-item box">
                    <div class="list-item-image">
                        <figure class="image is-64x64">
                            {{ small_sprite(species.dex_number, species.name) }}
                        </figure>
                    </div>

                    <div class="list-item-content">
                        <div class="list-item-title">Does not evolve</div>
                        <div class="list-item-description">
                            This Pokémon is the sole species in its evolutionary chain.
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="list-item box">
                    {% if chain.evolves_from is not none %}
                    <div class="list-item-image">
                        <figure class="image is-64x64">
                            {{ small_sprite(chain.evolves_from.dex_number, chain.evolves_from.name) }}
                        </figure>
                    </div>

                    <div class="list-item-content">
                        <div class="list-item-title">
                            Evolves from
                            <a href="/species/specific/{{ chain.evolves_from.internal_name.lower() }}.html">
                                <i>{{ chain.evolves_from.name }}</i>
                            </a>
                        </div>
                        <div class="list-item-description">
                            {{ evo_description_for(catalog, chain.evolves_from, species, chain.evolves_from_evo) }}
                        </div>
                    </div>
                    {% else %}
                    <div class="list-item-image">
                        <figure class="image is-64x64">
                            {{ small_sprite(species.dex_number, species.name) }}
                        </figure>
                    </div>

                    <div class="list-item-content">
                        <div class="list-item-title">
                            First in chain
                        </div>
                        <div class="list-item-description">
                            This Pokémon is the <i>start</i> in its evolutionary chain.
                        </div>
                    </div>
                    {% endif %}
                </div>

                {% if chain.evolves_into %}
                {% for into_species, evo in chain.evolves_into %}
                <div class="list-item box">
                    <div class="list-item-image">
                        <figure class="image is-64x64">
                            {{ small_sprite(into_species.dex_number, into_species.name) }}
                        </figure>
                    </div>

                    <div class="list-item-content">
                        <div class="list-item-title">
                            Evolves into
                            <a href="/species/specific/{{ into_species.internal_name.lower() }}.html">
                                <i>{{ into_species.name }}</i>
                            </a>
                        </div>
                        <div class="list-item-description">
                            {{ evo_description_for(catalog, species, into_species, evo) }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="list-item box">
                    <div class="list-item-image">
                        <figure class="image is-64x64">
                            {{ small_sprite(species.dex_number, species.name) }}
                        </figure>
                    </div>

                    <div class="list-item-content">
                        <div class="list-item-title">
                            Final in chain
                        </div>
                        <div class="list-item-description">
                            This Pokémon is an <i>end</i> of its evolutionary chain.
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="section">
<div class="container-fluid" style="padding-left: 2em; padding-right: 2em;">
    <div id="pkm-move-block" class="columns is-centered is-multiline">
        <div class="column is-one-third">
            <h2 class="title has-text-centered">Level-up Moveset</h2>
            <hr/>

            {% for idx, form_name, attribs in catalog.all_forms_for(species.internal_name) %}
            {{ gen_level_up_table(attribs, species.raw_egg_moves) }}
            {% endfor %}

            <hr/>

            <h2 class="title has-text-centered">Tutor Learnset</h2>
            <hr/>

            <table class="table is-fullwidth is-striped sortable">
                <thead>
                {{ move_table_header(None) }}
                </thead>

                <tbody>
                {% for move_name in species.raw_tutor_moves %}
                {{ move_entry(species.default_attributes, None, move_name) }}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="column is-one-third">
            <h2 class="title has-text-centered">TM Learnset</h2>
            <hr/>

            <table class="table is-fullwidth is-striped sortable">
                <thead>
                {{ move_table_header("TM") }}
                </thead>

                <tbody>
                {% for move_name in species.raw_tms %}
                {% set tm = catalog.tm_id_for(move_name) %}
                {{ move_entry(species.default_attributes, tm, move_name) }}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="column is-one-third">
            <h2 class="title has-text-centered">Wild Encounters</h2>
            <hr/>

            {% set encounters = catalog.encounters_for(species) %}

            <table class="table is-fullwidth is-striped">
                <thead>
                <tr class="is-primary">
                    <th>Map</th>
                    <th>Encounter Type</th>
                    <th>Level Range</th>
                    <th>Probability</th>
                </tr>
                </thead>
                {% for map_id, encounter_mapping in encounters.items() %}
                {% set map = catalog.maps[map_id] %}
                {% for type, encounter in encounter_mapping.items() %}
                <tr>
                    <td>
                        <span title="Map ID {{ map_id }}">
                            <a href="/maps/{{ map_id }}.html">{{ map.name }}</a>
                        </span>
                    </td>
                    <td>{{ type }}</td>
                    <td>{{ encounter.min_level }} - {{ encounter.max_level }}</td>
                    <td>{{ encounter.chance }}%</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>

            {% if not encounters %}
            <h2 class="subtitle has-text-centered">This Pokémon does not appear in the wild.</h2>
            {% endif %}

            <hr/>

            <h2 class="subtitle">Event Encounters</h2>
            <table class="table is-fullwidth is-striped">
                <thead>
                <tr class="is-primary">
                    <th>Map</th>
                    <th>Before?</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</section>

<style>
    p.card-header-title.has-text-centered {
        display: block;
    }
</style>

<script>
    // on load, make sure the first battler column is visible
    document.querySelector("div[data-type=battler]").classList.remove("jsify-hidden");
    document.querySelector("div[data-type=type]").classList.remove("jsify-hidden");
    document.querySelector("div[data-type=tm]").classList.remove("jsify-hidden");

    // select default tab
    document.querySelector("li[data-form-idx=\"0\"]").classList.add("is-active");

    const selectTab = (element) => {
        const parent = element.parentNode;
        const formName = parent.dataset.formName;
        const bodyEls = document.querySelectorAll(`div[data-form]`);

        for (let el of bodyEls) {
            const form = el.dataset.form;
            if (form !== formName) {
                el.classList.add("jsify-hidden");
            } else {
                el.classList.remove("jsify-hidden");
            }
        }

        // unselect all tabs and mark the calling tab as active
        document.querySelectorAll("a[class=form-tab]").forEach(e => e.parentNode.classList.remove("is-active"));
        element.parentNode.classList.add("is-active");
    }
</script>
{% endblock %}