{# Contains macros shared between the Pokémon and dedicated Changelog pages. #}
{% from "helpers.html" import base_stat_name, type_link %}

{%- macro version_comments(changeset, version) -%}
{% if version in changeset._comments %}
<li>
    {{ changeset._comments[version] }}
</li>
{% endif %}
{%- endmacro -%}

{# Generates a full changelog list for the provided type. #}
{%- macro gen_changelog_list(changelog, changelog_type, version) -%}
{% if changelog_type == "general" %}
{% set comments = changelog.custom_comments[version] %}

{% if comments %}
<h3>General</h3>
<ul>
    {% for comment in comments %}
    <li>{{ comment }}</li>
    {% endfor %}
</ul>
{% endif %}

{% elif changelog_type == "pokemon" %}
<h3>Pokémon changes</h3>
<ul>
    {% for id, changes in changelog.pokemon.items() %}
    {% set species = catalog.species_mapping[id] %}
    {{ gen_pokemon_changes(changes, species, version) }}
    {% endfor %}
</ul>
{% elif changelog_type == "moves" %}
<h3>Move changes</h3>
<ul>
    {% for move, changes in changelog.moves.items() %}
    {% set move = catalog.move_mapping[move] %}
    {{ gen_move_changes(changes, move, version) }}
    {% endfor %}
</ul>
{% endif %}
{%- endmacro -%}

{# Generates the list of Pokémon changes for a single species. #}
{%- macro gen_pokemon_changes(changeset, species, version) -%}
{% if changeset.has_version(version) %}
{% set changes = changeset._changes[version] %}
<li><a href="/species/specific/{{ species.internal_name.lower() }}.html">{{ species.name }}</a>
    <ul>
        {{ version_comments(changeset, version) }}
        {% for change in changes %}
        <li>
        {% set key = change["key"] %}

        {% if key == "base_stat" %}
            <b class="{{ changelog_klass(change.from, change.to) }}">
                Changed base stat {{ base_stat_name(change["stat"]) }} from
                <code>{{ change["from"] }}</code>
                to
                <code>{{ change["to"] }}</code>
            </b>
        {% elif key == "type" %}
            {% set prev_type = change["prev"] %}
            {% set new_type = change["new"] %}

            {% if prev_type is none %}
            Added type {{ type_link(new_type) }}
            {% else %}
            Changed type {{ type_link(prev_type) }} into {{ type_link(new_type) }}
            {% endif %}

        {% elif key == "move" %}
            {% set type = change["type"] %}

            {% if type == "level" %}
                {% set move = catalog.move_mapping[change["move"]] %}
                {% set level = change.get("level", None) %}

                {% if level is none %}
                <b class="has-text-danger">Removed level-up move
                    <a href="/moves/{{ move.internal_name.lower() }}">{{ move.display_name }}</a>
                </b>
                {% elif level == 0 %}
                <b class="has-text-success">Added evolution move
                    <a href="/moves/{{ move.internal_name.lower() }}">{{ move.display_name }}</a>
                </b>
                {% else %}
                <b class="has-text-success">Added level-up move
                    <a href="/moves/{{ move.internal_name.lower() }}">{{ move.display_name }}</a>
                    at level <i>{{ level }}</i>
                </b>
                {% endif %}

            {% elif type == "tm" %}
                {% set move = catalog.tm_move_for(change["number"]) %}

                {% if change.action == "add" %}
                <b class="has-text-success">Added TM
                    <a href="/moves/{{ move.internal_name.lower() }}">{{ move.display_name }}</a>
                </b>
                {% else %}
                <b class="has-text-success">Removed TM
                    <a href="/moves/{{ move.internal_name.lower() }}">{{ move.display_name }}</a>
                </b>
                {% endif %}
            {% endif %}
        {% elif key == "ability" %}
            {% set new_ability = catalog.ability_name_mapping[change.new] %}
            {% if not change.replaces %}
            Added ability <b>{{ new_ability.display_name }}</b>
            {% else %}
            {% set old_ability = catalog.ability_name_mapping[change.replaces] %}
            Replaced <i>{{ old_ability.display_name }}</i> with <b>{{ new_ability.display_name }}</b>
            {% endif %}
        {% else %}
            <span class="has-text-danger">Unknown key {{ key }}</span>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
</li>
{% endif %}
{%- endmacro -%}

{%- macro gen_move_changes(changeset, move, version) %}

{% if changeset.has_version(version) %}
{% set changes = changeset._changes[version] %}

<li>{{ move.display_name }}
    <ul>
        {{ version_comments(changeset, version) }}
        {% for change in changes %}
        <li>
            {% set key = change["key"] %}
            {% if key == "bp" %}
            <b class="{{ changelog_klass(change.old, change.new) }}">
                Changed move base power from <i>{{ change.old }}</i> to <i>{{ change.new }}</i>
            </b>

            {% elif key == "acc" %}
            <b class="{{ changelog_klass(change.old, change.new) }}">
                Changed move accuracy from <i>{{ change.old }}</i> to <i>{{ change.new }}</i>
            </b>

            {% endif %}
        </li>
        {% endfor %}
    </ul>

</li>
{% endif %}
{%- endmacro -%}