{% block hero %}

{% endblock %}

{% block walkthrough %}
<div class="content has-text-justified">
    <div class="notification is-danger">
        I do not like this part of the game.
    </div>

    <h2 class="subtitle">Route 4</h2>

    <p>
        When you're ready, return to the area of Route 4 outside Calcenon City and Rock Climb up
        to the upper area. Follow the path through the trees to find another Rock Climb point;
        keep going until you find a junction.
    </p>

    {{ ss("r4junction") }}

    <p>
        If you follow the route to the north, then find the Rock Climb point at the north of that
        area, you'll get another area which has a field effect related message: "A chill spreads
        through the air". This means that you need to use {{ mv("BLIZZARD") }} in a battle; if you do so,
        you'll find an area with an Ice Stone. (Not worth it.) There's also a Rock Climb point
        at the southeast of that area, but it's currently empty. It'll lead to a postgame area
        soon, so remember how to get there.
    </p>

    <p>
        Return to the junction and go up the Rock Climb point to the east to find... a jumping
        puzzle. (Fuck! Seriously? This far into the game?)
    </p>

    {{ ss("r4routes") }}

    <p>
        There's four routes you can follow here.
    </p>

    <ul>
        <li>
            The yellow-green coloured arrow leads to a Rock Climb point that leads to an 
            snowed-over jumping puzzle. Use {{ mv("HEATWAVE") }} to melt the snow and open the
            puzzle up to the "cave" (it's actually part of {{ mp(749, "Charous Mountain") }}, an
            area you'll see soon.)
            <br/><br/>

            Use Heat Wave inside the cave again to melt it, and surf across to get the 
            <em>Heracronite</em>.
        </li>

        <li>
            The route from the <span style="color: purple">purple arrow</span> leads to a small
            outcrop that requires a Blizzard-based field change to create a Rock Climb point.
            This will take you to a shed that has <em>TM73 Thunder Wave</em> in it.
        </li>

        <li>
            The route from the <span style="color: blue">blue arrow</span> doesn't go anywhere
            yet. 
        </li>

        <li>
            The <span style="color: red">red arrow</span> is the one you actually want to follow.
        </li>
    </ul>

    <p>
        Past the red arrow is an area with yet <i>another</i> fork in the road. If you follow the
        path to the right, and use Heat Wave to melt the ice, you'll find the <em>Lycantium-Z</em>.
    </p>

    <div class="notification is-success">
        Lycanroc's Z Move, Splintered Stormshards, will <strong>destroy any field</strong> when
        you use it. A team based around a sand setter and Lycanroc is a good cheese team for the
        endgame.
    </div>

    {{ ss("r4wrongway", "Not the right way to to go.") }}

    <p>
        This leads to two more paths! To the south-east is a Rock Climb point that leads to 
        a chain of field effect requirement areas. Use Blizzard to create a Rock Climb point, then
        Heat Wave again to find... nothing. Go back and follow the Rock Climb point to find 
        <i>ANOTHER</i> jumping puzzle. This one is linear, at least; follow the rocks to find the
        Glass Workstation.
    </p>

    <p>
        Talk to Hardy above the workstation for a long (and, interactive!) cutscene before you
        can enter the workstation itself. If you go behind the workstation's main building, you can
        find a secret path that will eventually lead to the <em>Mimikyum-Z</em>.
    </p>
</div>
{% endblock %}
